Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

feat: paint event move shared texture to handle, add color space
  docs/api/structures/offscreen-shared-texture.md
  docs/api/structures/shared-texture-handle.md
  shell/browser/osr/osr_paint_event.h
  shell/browser/osr/osr_video_consumer.cc
  shell/common/gin_converters/osr_converter.cc
  shell/common/gin_converters/osr_converter.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: context bridge support VideoFrame
  shell/renderer/api/electron_api_context_bridge.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `sharedTexture` module
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/common/api/module-list.ts
  lib/common/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/node_bindings.cc
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add test for import shared texture
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/index.html
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/preload.js
  spec/fixtures/api/shared-texture/renderer.js
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add ColorSpace structure
  docs/api/structures/color-space.md
  shell/common/gin_converters/gfx_converter.cc
  shell/common/gin_converters/gfx_converter.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add `sharedTexture` module and test
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/common/api/module-list.ts
  lib/common/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/node_bindings.cc
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/index.html
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/preload.js
  spec/fixtures/api/shared-texture/renderer.js
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

ci: change patches stats DataDog metric type to gauge
  script/patches-stats.mjs
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: [net] add "priority" option to net.request (#42628)
  docs/api/client-request.md
  lib/common/api/net-client-request.ts
  shell/common/api/electron_api_url_loader.cc
  spec/api-net-spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

6545984: corner-shape: render dashed & dotted borders Refs https://chromium-review.googlesource.com/c/chromium/src/+/6545984
  spec/fixtures/api/corner-smoothing/shape/expected-false.png
  spec/fixtures/api/corner-smoothing/shape/expected-true.png
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::pending_transitions_ private
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::titlebar_overlay_ private
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Apply suggestions from code review
  docs/tutorial/native-code-and-electron-cpp-linux.md
Due: run-docs-only

Implement more feedback, lint
  docs/tutorial/native-code-and-electron-cpp-linux.md
Due: run-docs-only

Update docs/tutorial/native-code-and-electron-cpp-linux.md
  docs/tutorial/native-code-and-electron-cpp-linux.md
Due: run-docs-only

docs: Add C++/Linux tutorial
  docs/tutorial/native-code-and-electron-cpp-linux.md
Due: run-docs-only

fix: bom
  docs/api/structures/color-space.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: addChildView() crashes when add a closed WebContentsView
  shell/browser/api/electron_api_view.cc
  spec/api-web-contents-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::titlebar_overlay_ const
  shell/browser/native_window.cc
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: correct 'select-bluetooth-device' requirement
  docs/api/web-contents.md
Due: run-docs-only

build: disable libcxx modules for rbe
  patches/chromium/.patches
  patches/chromium/cleanup_remove_support_for_implicit_modules.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

crypto: remove BoringSSL dh-primes addition
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: disable abseil deadlock detection
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/node/add_v8_taskpirority_to_foreground_task_runner_signature.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_compile_with_c_20_support.patch
  patches/node/build_enable_perfetto.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/build_restore_clang_as_default_compiler_on_macos.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/ci_ensure_node_tests_set_electron_run_as_node.patch
  patches/node/cli_move_--trace-atomics-wait_to_eol.patch
  patches/node/cli_remove_deprecated_v8_flag.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_add_source_location_for_v8_task_runner.patch
  patches/node/fix_assert_module_in_the_renderer_process.patch
  patches/node/fix_cppgc_initializing_twice.patch
  patches/node/fix_do_not_resolve_electron_entrypoints.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_remove_fastapitypedarray_usage.patch
  patches/node/fix_remove_harmony-import-assertions_from_node_cc.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/src_stop_using_deprecated_fields_of_fastapicallbackoptions.patch
  patches/node/support_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

buffer: define global v8::CFunction objects as const
  patches/node/fix_remove_fastapitypedarray_usage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

zlib: fix pointer alignment
  patches/node/.patches
  patches/node/zlib_fix_pointer_alignment.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: set default config as node.config.json
  patches/node/build_add_gn_build_files.patch
  patches/node/build_allow_unbundling_of_node_js_dependencies.patch
  patches/node/build_option_to_use_custom_inspector_protocol_path.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

tools: enable linter in test/fixtures/test\-runner/output
  patches/node/ci_ensure_node_tests_set_electron_run_as_node.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: improve thread safety of TaskQueue
  patches/node/fix_add_source_location_for_v8_task_runner.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: update std::vector<v8::Local<T>> to use v8::LocalVector<T>
  shell/common/node_bindings.cc
  shell/common/node_util.cc
  shell/common/node_util.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/preload_realm_context.cc
  shell/renderer/renderer_client_base.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: disable chmod tests failing in Docker
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix import sort errors
  docs/tutorial/application-menu.md
  docs/tutorial/menus.md
  docs/tutorial/tray.md
Due: run-docs-only

ci: change patches stats DataDog metric type to gauge (#47319)
  script/patches-stats.mjs
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: allow intercepting mouse events
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/common/gin_converters/blink_converter.cc
  shell/common/gin_converters/blink_converter.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: add specs
  spec/api-web-contents-spec.ts
  spec/fixtures/pages/mouse-events.html
Due: run-build-mac, run-build-linux, run-docs-only=false

Update corner smoothing expected images
  spec/fixtures/api/corner-smoothing/shape/expected-false.png
  spec/fixtures/api/corner-smoothing/shape/expected-true.png
Due: run-build-mac, run-build-linux, run-docs-only=false

Apply "future" revert commit to fix windows build
  patches/chromium/.patches
  patches/chromium/revert_webgl_add_stub_webgl_2_renderingcontextwebgpu.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

6533919: win: don't add WS_CAPTION style to popup windows https://chromium-review.googlesource.com/c/chromium/src/+/6533919
  shell/browser/ui/views/win_frame_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add bypassCustomProtocolHandlers option to net.request
  docs/api/client-request.md
  lib/common/api/net-client-request.ts
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false
