Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

ci: update pinned versions for security scorecard workflow (#36910)
  .github/workflows/scorecards.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

4143761: [110] Disable SwiftShader for WebGL on M1 Macs.
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [20-x-y] cherry-pick c79148742421 from v8 (#36581)
  patches/v8/.patches
  patches/v8/cherry-pick-c79148742421.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor
  .github/workflows/electron_woa_testing.yml
  appveyor-bake.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor
  .github/workflows/electron_woa_testing.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add label property to Display objects (#36855)
  docs/api/structures/display.md
  shell/common/gin_converters/gfx_converter.cc
  spec/api-screen-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: webview background color on reload
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor (21-x-y) (#36928)
  .github/workflows/electron_woa_testing.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor (22-x-y) (#36927)
  .github/workflows/electron_woa_testing.yml
  appveyor-bake.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor (23-x-y) (#36926)
  .github/workflows/electron_woa_testing.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: run WOA tests on AppVeyor (#36925)
  .github/workflows/electron_woa_testing.yml
  appveyor-woa.yml
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update node types version (#36924)
  npm/package.json
  package.json
  spec/types-spec.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webview background color on reload (#36920)
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix test for USB device.forget()
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix nativeTheme test when system in dark mode
  spec/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: support running tests against Electron releases
  package.json
  script/spec-runner.js
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: improve error message
  script/spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update clipboard fiddles
  docs/api/clipboard.md
  docs/fiddles/system/clipboard/.keep
  docs/fiddles/system/clipboard/copy/index.html
  docs/fiddles/system/clipboard/copy/main.js
  docs/fiddles/system/clipboard/copy/preload.js
  docs/fiddles/system/clipboard/copy/renderer.js
  docs/fiddles/system/clipboard/paste/index.html
  docs/fiddles/system/clipboard/paste/main.js
  docs/fiddles/system/clipboard/paste/preload.js
  docs/fiddles/system/clipboard/paste/renderer.js
Due: run-docs-only

Change factuality and word choice.
  docs/api/app.md
Due: run-docs-only

fix: datalist dropdown positioning
  shell/browser/ui/autofill_popup.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix test for USB device.forget() (#36942)
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add support for unlocking with Apple Watch
  shell/browser/api/electron_api_system_preferences_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

removed open-url listener from windows code
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

updated deep-link fiddle
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
Due: run-docs-only

fixed url hash to app.requestSingleInstanceLock
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

spec: add a datalist spec for time type
  spec/autofill-spec.ts
  spec/fixtures/pages/datalist-text.html
  spec/fixtures/pages/datalist-time.html
  spec/fixtures/pages/datalist.html
Due: run-build-mac, run-build-linux, run-docs-only=false

test: support running tests against Electron releases (#36944)
  package.json
  script/spec-runner.js
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cleanup autofill agent shutdown sequence
  shell/renderer/electron_autofill_agent.cc
  shell/renderer/electron_autofill_agent.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use vscode-markdown-languageservice for docs link linting
  package.json
  script/check-relative-doc-links.py
  script/lib/markdown.ts
  script/lib/utils.js
  script/lint-docs-links.ts
  script/lint.js
  script/run-clang-tidy.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: make links relative
  docs/api/browser-window.md
  docs/breaking-changes.md
Due: run-docs-only

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

code linted
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

Update introduction.md
  docs/tutorial/introduction.md
Due: run-docs-only

ci: update appveyor build agent
  appveyor-bake.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `<datalist>` dropdown positioning (#36934)
  shell/browser/ui/autofill_popup.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update clipboard fiddles (#36946)
  docs/api/clipboard.md
  docs/fiddles/system/clipboard/.keep
  docs/fiddles/system/clipboard/copy/index.html
  docs/fiddles/system/clipboard/copy/main.js
  docs/fiddles/system/clipboard/copy/preload.js
  docs/fiddles/system/clipboard/copy/renderer.js
  docs/fiddles/system/clipboard/paste/index.html
  docs/fiddles/system/clipboard/paste/main.js
  docs/fiddles/system/clipboard/paste/preload.js
  docs/fiddles/system/clipboard/paste/renderer.js
Due: run-docs-only

docs: Change factuality and word choice in app.runningUnderARM64Translation (#36947)
  docs/api/app.md
Due: run-docs-only

Enable RDP to debug test failures
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false
