Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

7498491: update process_id to use OriginatingProcess type
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/browser/net/system_network_context_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: zoomFactor in overrideBrowserWindowOptions no effect
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/notifications/win/windows_toast_notification.h
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: zoomFactor in overrideBrowserWindowOptions no effect
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: testable version
  .github/workflows/branch-created.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: calculate dates for release board automation
  .github/workflows/branch-created.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: replace deprecated `url.parse()` with WHATWG URL API in default_app
  default_app/main.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use WHATWG URL instead of url.parse
  default_app/main.ts
  lib/common/api/net-client-request.ts
  spec/fixtures/pages/window-opener-targetOrigin.html
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: address PathProvider TODO
  filenames.gni
  shell/app/electron_main_delegate.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build(dev-deps): bump @electron/lint-roller to 3.2.0 (#49565)
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: apply default accelerator for role-based menu items
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fixup patch description
  patches/chromium/dump_syms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: rework reapply patches (#49552)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: add workflow for commenting with new 'ai-pr' label (#49564)
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: `app.getGPUInfo()` may reject
  docs/api/app.md
Due: run-docs-only

feat: allow SF Symbols to be customised
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add nativeImage.createMenuSymbol and restore default values
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

merge hslShift and options, revert sizing logic
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: update string params
  docs/api/native-image.md
Due: run-docs-only

spec: add test for symbol options
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use apple's sizing logic
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

adjust sizing for wider symbols
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update default symbol values
  docs/api/native-image.md
Due: run-docs-only

chore: deprecate hslShift array argument
  docs/breaking-changes.md
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: msix auto-updater (#49230)
  docs/api/auto-updater.md
  docs/api/environment-variables.md
  docs/api/process.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/auto-updater.ts
  lib/browser/api/auto-updater/auto-updater-msix.ts
  lib/browser/api/auto-updater/auto-updater-win.ts
  lib/browser/api/auto-updater/msix-update-win.ts
  shell/browser/api/electron_api_msix_updater.cc
  shell/browser/api/electron_api_msix_updater.h
  shell/common/node_bindings.cc
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/ElectronDevAppxManifest.xml
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V1.msix
  spec/fixtures/api/autoupdater/msix/HelloMSIX_V2.msix
  spec/fixtures/api/autoupdater/msix/MSIXDevCert.cer
  spec/fixtures/api/autoupdater/msix/install_test_cert.ps1
  spec/fixtures/api/autoupdater/msix/main.js
  spec/lib/msix-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: user resizable transparent windows on win32
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: macOS menu item accelerators when item disabled (#49553)
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: duplicate fullscreen macOS menu item
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

test: update tests to avoid flakiness on CI
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: issues with xdg activation on Linux (#49499)
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support samply profiler for packaged apps on macOS
  filenames.gni
  patches/chromium/.patches
  patches/chromium/feat_support_passing_embedder_machrendezvous_ports_to_child.patch
  shell/app/electron_library_main.mm
  shell/app/electron_main_delegate_mac.mm
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/mac/samply_profiler_service.h
  shell/browser/mac/samply_profiler_service.mm
  shell/common/mac/samply_profiler_client.h
  shell/common/mac/samply_profiler_client.mm
  shell/common/mac/samply_profiler_types.h
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: rework reapply patches (#49589)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: use new case synta in workflows
  .github/actions/build-electron/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  .github/workflows/pipeline-segment-electron-gn-check.yml
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: rework reapply patches (#49582)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: rework reapply patches (#49581)
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: menu state in macOS dock menus
  shell/browser/mac/electron_application_delegate.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: possible crash in FileSystem API
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
