Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add more extensions manifest key options (#39599)
  docs/api/extensions.md
  shell/common/extensions/api/_manifest_features.json
  spec/extensions-spec.ts
  spec/fixtures/extensions/host-permissions/malformed/manifest.json
  spec/fixtures/extensions/host-permissions/privileged-tab-info/background.js
  spec/fixtures/extensions/host-permissions/privileged-tab-info/main.js
  spec/fixtures/extensions/host-permissions/privileged-tab-info/manifest.json
  spec/fixtures/extensions/minimum-chrome-version/main.js
  spec/fixtures/extensions/minimum-chrome-version/manifest.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: enable v8_enable_private_mapping_fork_optimization by default (#39253)
  build/args/all.gn
  patches/v8/.patches
  patches/v8/fix_compile_error_on_macos_with_fork_optimization.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove deprecated `ipcRenderer.sendTo()` (#39087)
  docs/api/ipc-renderer.md
  docs/api/structures/ipc-renderer-event.md
  docs/breaking-changes.md
  filenames.auto.gni
  lib/renderer/api/ipc-renderer.ts
  lib/renderer/common-init.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/common/api/api.mojom
  shell/renderer/api/electron_api_ipc_renderer.cc
  shell/renderer/electron_api_service_impl.cc
  shell/renderer/electron_api_service_impl.h
  spec/api-ipc-renderer-spec.ts
  spec/fixtures/module/preload-ipc-ping-pong.js
  spec/ts-smoke/electron/renderer.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: support `chrome.scripting` extension APIs (#39395)
  docs/api/extensions.md
  filenames.gni
  shell/browser/extensions/api/BUILD.gn
  shell/browser/extensions/api/scripting/scripting_api.cc
  shell/browser/extensions/api/scripting/scripting_api.h
  shell/browser/extensions/electron_extensions_browser_api_provider.cc
  shell/common/extensions/api/BUILD.gn
  shell/common/extensions/api/_api_features.json
  shell/common/extensions/api/_permission_features.json
  shell/common/extensions/api/scripting.idl
  shell/common/extensions/electron_extensions_api_provider.cc
  spec/extensions-spec.ts
  spec/fixtures/extensions/chrome-scripting/background.js
  spec/fixtures/extensions/chrome-scripting/content.js
  spec/fixtures/extensions/chrome-scripting/main.js
  spec/fixtures/extensions/chrome-scripting/manifest.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: promise resolved to early when browser initiated in-page navigation v2 (#39597)
  lib/browser/api/web-contents.ts
  spec/api-web-contents-spec.ts
  spec/fixtures/pages/navigate_in_page_and_wait.html
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: use `node:` imports for node builtin modules
  README.md
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/context-bridge.md
  docs/api/protocol.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/tutorial/asar-archives.md
  docs/tutorial/automated-testing.md
  docs/tutorial/dark-mode.md
  docs/tutorial/devtools-extension.md
  docs/tutorial/ipc.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/message-ports.md
  docs/tutorial/native-file-drag-drop.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/performance.md
  docs/tutorial/quick-start.md
  docs/tutorial/recent-documents.md
  docs/tutorial/represented-file.md
  docs/tutorial/tutorial-3-preload.md
  docs/tutorial/window-customization.md
  docs/tutorial/windows-taskbar.md
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/expose_webblob_path_to_allow_embedders_to_get_file_paths.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: backgroundMaterial works with frameless
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fix the minimum supported macOS version to Catalina (#39667)
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: generate 'chrome:// pages' specs to remove duplicate code
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document type-specific module aliases
  docs/tutorial/process-model.md
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

Update docs/tutorial/quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

Update README.md
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: use new GitHub App for issue triage related actions
  .github/workflows/branch-created.yml
  .github/workflows/issue-commented.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-unlabeled.yml
  .github/workflows/pull-request-labeled.yml
  .github/workflows/stale.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix lint
  spec/esm-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: lmao
  shell/browser/api/electron_api_power_monitor.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/node/chore_expose_importmoduledynamically_and.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: make linter happy
  lib/browser/api/browser-view.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix patches
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: debug depshash
  script/generate-deps-hash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [25-x-y] cherry-pick 1 changes from Release-2-M116
  patches/chromium/.patches
  patches/chromium/cherry-pick-35c06406a658.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [24-x-y] cherry-pick 1 changes from Release-2-M116
  patches/chromium/.patches
  patches/chromium/cherry-pick-35c06406a658.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [22-x-y] cherry-pick 1 changes from Release-2-M116
  patches/chromium/.patches
  patches/chromium/cherry-pick-35c06406a658.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-35c06406a658.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

?
  docs/tutorial/esm-limitations.md
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Revert "build: debug depshash"
  script/generate-deps-hash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: allow electron as builtin protocol in esm loader
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_lazyload_fs_in_esm_loaders_to_apply_asar_patches.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Revert "build: debug depshash""
  script/generate-deps-hash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix esm doc
  docs/tutorial/esm-limitations.md
Due: run-docs-only

chore: remove deprecated systemPreferences APIs
  docs/api/system-preferences.md
  docs/breaking-changes.md
  lib/browser/api/system-preferences.ts
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences.h
  shell/browser/api/electron_api_system_preferences_mac.mm
  spec/api-native-theme-spec.ts
  spec/api-system-preferences-spec.ts
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! chore: add auto_pip_settings_helper.{cc|h} to chromium_src build
  chromium_src/BUILD.gn
  patches/chromium/.patches
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Reland "[windows] Remove RegKey::DeleteEmptyKey"
  shell/browser/browser_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false
