Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

perf: use v8::Local<v8::Object> as the key in ObjectCache (#43519)
  shell/renderer/api/context_bridge/object_cache.cc
  shell/renderer/api/context_bridge/object_cache.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix telemetry error when using autoninja (#43563)
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: remove blocked/need-info label on user comment (#43562)
  .github/workflows/issue-commented.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Launch apps with XDG_ACTIVATION_TOKEN in ozone/wayland
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

add focus_launched_process option
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: confirm a v8::Value is a v8::Object before casting it
  shell/browser/api/message_port.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: NativeWindow::Create() returns a unique_ptr
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Launch apps with XDG_ACTIVATION_TOKEN in ozone/wayland (#43480)
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: modify API to use useSystemPicker option
  docs/api/desktop-capturer.md
  docs/api/session.md
  lib/browser/api/desktop-capturer.ts
  lib/browser/api/session.ts
  patches/chromium/feat_make_macos_sccontentsharingpicker_work_in_electron.patch
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/api/electron_api_session.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove OnSourceAdded (re-add in the future)
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: partially implement IsDisplayMediaSystemPickerAvailable
  filenames.gni
  lib/browser/api/desktop-capturer.ts
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/feature_list_mac.mm
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make window capturer work, still issue with first refresh
  shell/browser/api/electron_api_desktop_capturer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: use upstream MacOS SCContentSharingPicker implementation pt. 1
  patches/chromium/.patches
  patches/chromium/feat_make_macos_sccontentsharingpicker_work_in_electron.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add getNativePickerSource() API option
  lib/browser/api/desktop-capturer.ts
  shell/browser/api/electron_api_desktop_capturer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: allow screen or window to return depending on preferredDisplaySurface set
  docs/api/desktop-capturer.md
  docs/api/session.md
  filenames.gni
  lib/browser/api/desktop-capturer.ts
  lib/browser/api/session.ts
  patches/chromium/.patches
  patches/chromium/feat_allow_desktop_capturer_to_return_either_screen_window_or_both.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
  shell/common/gin_converters/display_surface_converter.cc
  shell/common/gin_converters/display_surface_converter.h
  shell/common/gin_converters/media_converter.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: skip skip_refresh_callback if ShouldUseSCContentSharingPicker is false
  patches/chromium/feat_make_macos_sccontentsharingpicker_work_in_electron.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add documentation
  docs/api/desktop-capturer.md
Due: run-docs-only

fix: make capturer work on both screens and windows
  patches/chromium/feat_make_macos_sccontentsharingpicker_work_in_electron.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/feature_list_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

tmp
  patches/chromium/.patches
  patches/chromium/tmp.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

stuff
  lib/browser/api/desktop-capturer.ts
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch to handle screenCapturer
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add support for system picker in setDisplayMediaRequestHandler
  docs/api/desktop-capturer.md
  filenames.gni
  lib/browser/api/desktop-capturer.ts
  patches/chromium/.patches
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/tmp.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/feature_list.cc
  shell/browser/feature_list.h
  shell/browser/feature_list_mac.mm
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

seems legit
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: modify API to use useSystemPicker
  docs/api/desktop-capturer.md
  docs/api/session.md
  lib/browser/api/desktop-capturer.ts
  lib/browser/api/session.ts
  patches/chromium/.patches
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/api/electron_api_session.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: don't use native picker with legacy media selection
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

well...
  lib/browser/api/desktop-capturer.ts
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: gate ScreenCaptureKitPicker to macos 15 or higher
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

oops
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Apply suggestions from code review
  docs/api/desktop-capturer.md
Due: run-docs-only

docs: explain ipcRenderer behavior in context-bridge.md (#43455)
  docs/api/context-bridge.md
Due: run-docs-only

build: use proper targets for building (#43550)
  .github/actions/build-electron/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Update Typo in crashpad_pid_check.patch
  patches/chromium/crashpad_pid_check.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update api-web-contents-spec to us newer version of pdfjs-dist
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: fix broken links
  docs/README.md
  docs/tutorial/navigation-history.md
Due: run-docs-only

refactor: add eof newline
  docs/fiddles/features/navigation-history/index.html
Due: run-docs-only

refactor: take a uint8_t span in ValidateIntegrityOrDie()
  shell/common/asar/archive.cc
  shell/common/asar/asar_util.cc
  shell/common/asar/asar_util.h
  shell/common/asar/scoped_temporary_file.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: -Wunsafe-buffer-usage warnings in url-loader (#43564)
  shell/common/api/electron_api_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: review feedback :)
  docs/tutorial/navigation-history.md
Due: run-docs-only

fix: ensure version of `xdg-dialog-portal` with `defaultPath` support (#43570)
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: delete UvTaskRunner's timers only after they're closed (#43561)
  shell/app/uv_task_runner.cc
  shell/app/uv_task_runner.h
  shell/common/node_bindings.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
