Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: apns_promise_set as class variable
  shell/browser/api/electron_api_push_notifications.h
  shell/browser/api/electron_api_push_notifications_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lint
  shell/browser/api/electron_api_push_notifications_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix when no media handler installed
  shell/browser/media/media_stream_devices_controller.cc
  spec-main/api-media-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

add getVideoCaptureDevices so gUM requests can be served
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/common/gin_converters/media_converter.cc
  shell/common/gin_converters/media_converter.h
  spec-main/api-media-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

remove PEPPER_ONLY
  docs/api/session.md
  shell/browser/media/media_stream_devices_controller.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

camelCase
  docs/api/session.md
  shell/common/gin_converters/media_converter.cc
  spec-main/api-media-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

comments, tests
  shell/browser/media/media_stream_devices_controller.cc
  spec-main/api-media-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v21.0.0-nightly.20220630
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-beta.4
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential crash caused by dlopen different gtk libraries (#33650)
  BUILD.gn
  patches/chromium/.patches
  patches/chromium/make_gtk_getlibgtk_public.patch
  patches/chromium/ui_gtk_public_header.patch
  shell/browser/browser_linux.cc
  shell/browser/electron_browser_main_parts.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/browser/ui/electron_gtk.fragment
  shell/browser/ui/electron_gtk.sigs
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/message_box_gtk.cc
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/menu_bar.cc
  shell/common/application_info_linux.cc
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

add missing screen-helpers.ts
  spec-main/screen-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix BrowserView background color in webContents
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_web_contents.cc
  spec-main/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

spec: fix platform failure condition
  spec-main/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

disable screen capture test on linux
  spec-main/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Improved grammar
  .gitignore
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.0.7
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential crash caused by dlopen different gtk libraries (#34774)
  BUILD.gn
  patches/chromium/.patches
  patches/chromium/make_gtk_getlibgtk_public.patch
  patches/chromium/ui_gtk_public_header.patch
  shell/browser/browser_linux.cc
  shell/browser/electron_browser_main_parts.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/browser/ui/electron_gtk.fragment
  shell/browser/ui/electron_gtk.sigs
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/message_box_gtk.cc
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/menu_bar.cc
  shell/common/application_info_linux.cc
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document the removal of IA32 Linux support (#34787)
  docs/breaking-changes.md
Due: run-docs-only

docs: document the removal of IA32 Linux support
  docs/breaking-changes.md
Due: run-docs-only

Update docs/breaking-changes.md
  docs/breaking-changes.md
Due: run-docs-only

docs: expand tutorial (#34604) (#34798)
  .markdownlint.json
  docs/README.md
  docs/fiddles/tutorial-first-app/index.html
  docs/fiddles/tutorial-first-app/main.js
  docs/fiddles/tutorial-preload/index.html
  docs/fiddles/tutorial-preload/main.js
  docs/fiddles/tutorial-preload/preload.js
  docs/fiddles/tutorial-preload/renderer.js
  docs/images/gatekeeper.png
  docs/images/preload-example.png
  docs/tutorial/application-distribution.md
  docs/tutorial/code-signing.md
  docs/tutorial/distribution-overview.md
  docs/tutorial/examples.md
  docs/tutorial/introduction.md
  docs/tutorial/process-model.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
  docs/tutorial/tutorial-3-preload.md
  docs/tutorial/tutorial-4-adding-features.md
  docs/tutorial/tutorial-5-packaging.md
  docs/tutorial/tutorial-6-publishing-updating.md
  docs/tutorial/updates.md
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: expand tutorial (#34604) (#34799)
  .markdownlint.json
  docs/README.md
  docs/fiddles/tutorial-first-app/index.html
  docs/fiddles/tutorial-first-app/main.js
  docs/fiddles/tutorial-preload/index.html
  docs/fiddles/tutorial-preload/main.js
  docs/fiddles/tutorial-preload/preload.js
  docs/fiddles/tutorial-preload/renderer.js
  docs/images/gatekeeper.png
  docs/images/preload-example.png
  docs/tutorial/application-distribution.md
  docs/tutorial/code-signing.md
  docs/tutorial/distribution-overview.md
  docs/tutorial/examples.md
  docs/tutorial/introduction.md
  docs/tutorial/process-model.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
  docs/tutorial/tutorial-3-preload.md
  docs/tutorial/tutorial-4-adding-features.md
  docs/tutorial/tutorial-5-packaging.md
  docs/tutorial/tutorial-6-publishing-updating.md
  docs/tutorial/updates.md
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: expand tutorial (#34604) (#34797)
  .markdownlint.json
  docs/README.md
  docs/fiddles/tutorial-first-app/index.html
  docs/fiddles/tutorial-first-app/main.js
  docs/fiddles/tutorial-preload/index.html
  docs/fiddles/tutorial-preload/main.js
  docs/fiddles/tutorial-preload/preload.js
  docs/fiddles/tutorial-preload/renderer.js
  docs/images/gatekeeper.png
  docs/images/preload-example.png
  docs/tutorial/application-distribution.md
  docs/tutorial/code-signing.md
  docs/tutorial/distribution-overview.md
  docs/tutorial/examples.md
  docs/tutorial/introduction.md
  docs/tutorial/process-model.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
  docs/tutorial/tutorial-3-preload.md
  docs/tutorial/tutorial-4-adding-features.md
  docs/tutorial/tutorial-5-packaging.md
  docs/tutorial/tutorial-6-publishing-updating.md
  docs/tutorial/updates.md
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Bump v17.4.9
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.3.6
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v18.3.6"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v21.0.0-nightly.20220701
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Add port / user information to standard schemes
  shell/browser/api/electron_api_protocol.cc
  shell/renderer/renderer_client_base.cc
  spec-main/api-protocol-spec.ts
  spec-main/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v21.0.0-nightly.20220704
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-beta.5
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v21.0.0-nightly.20220705
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: modernize Value usage in converters (#34794)
  filenames.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_content_tracing.cc
  shell/browser/api/electron_api_cookies.cc
  shell/browser/api/electron_api_cookies.h
  shell/browser/api/electron_api_debugger.cc
  shell/browser/api/electron_api_debugger.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_system_preferences.h
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/browser.h
  shell/browser/browser_linux.cc
  shell/browser/browser_mac.mm
  shell/browser/browser_win.cc
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_observer.h
  shell/browser/net/electron_url_loader_factory.cc
  shell/browser/net/url_pipe_loader.cc
  shell/browser/net/url_pipe_loader.h
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
  shell/common/gin_converters/extension_converter.cc
  shell/common/gin_converters/net_converter.cc
  shell/common/gin_converters/value_converter.cc
  shell/common/gin_converters/value_converter.h
  shell/common/v8_value_converter.cc
  shell/common/v8_value_converter.h
  spec-main/api-system-preferences-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: enable v8 sandboxed pointers (#34724)
  build/args/all.gn
  docs/breaking-changes.md
  patches/node/support_v8_sandboxed_pointers.patch
  patches/v8/.patches
  patches/v8/force_disable_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick f427936d32db from chromium (#34684)
  patches/chromium/.patches
  patches/chromium/m102_ensure_raw_ptr_t_and_t_are_treated_identically_in_base.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick d0882b3dff76 from v8 (#34686)
  patches/v8/.patches
  patches/v8/version_10_2_154_10_cherry-pick.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick d0882b3dff76 from v8 (#34687)
  patches/v8/.patches
  patches/v8/version_10_2_154_10_cherry-pick.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typos (#34731)
  docs/api/environment-variables.md
  docs/tutorial/process-model.md
  lib/browser/api/auto-updater/squirrel-update-win.ts
  lib/browser/api/menu.ts
  script/lint.js
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update Discord invite links (#34730)
  README.md
  docs/tutorial/examples.md
  docs/tutorial/introduction.md
  docs/tutorial/tutorial-4-adding-features.md
  docs/tutorial/tutorial-6-publishing-updating.md
  lib/browser/default-menu.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
