Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix: consistency of the resize state
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: accentColor set distinguishes the frame
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: rerun failed tests individually (#48387)
  .github/workflows/pipeline-segment-electron-test.yml
  package.json
  script/spec-runner.js
  spec/api-web-contents-spec.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update web-utils.md
  docs/api/web-utils.md
Due: run-docs-only

build: add missing copied tarball to cloudstore paths
  script/release/release.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: apply default accelerator for role-based menu items
  lib/browser/api/menu-item.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: initialze featurelist before parsing features
  shell/app/electron_main_delegate.cc
  shell/browser/electron_browser_main_parts.cc
  shell/browser/electron_browser_main_parts.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: file extension changing to canonical form due to mac UTType
  shell/browser/ui/file_dialog_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

build: bump version in .nvmrc to 22
  .nvmrc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: add missing copied tarball to cloudstore paths (#48408)
  script/release/release.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `.patches` file
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: invalid change
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: edge cases
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add detailed comments
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: mention that webUtils should be used via preload script
  docs/api/web-utils.md
Due: run-docs-only

docs: suppress lint errors
  docs/api/web-utils.md
Due: run-docs-only

docs: clarify webUtils usage scope
  docs/api/web-utils.md
Due: run-docs-only

docs: exclude potentially dangerous alert() in the example code
  docs/api/web-utils.md
Due: run-docs-only

docs: minor change
  docs/api/web-utils.md
Due: run-docs-only

fix: runtime JS error that crashes `GetPackageJSON` (#48293)
  shell/common/api/electron_api_asar.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: WIP Trying to get useSystemPicker to work on linux
  docs/api/desktop-capturer.md
  docs/api/session.md
  filenames.gni
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: apply suggestion
  docs/api/web-utils.md
Due: run-docs-only

docs: remove preload line
  docs/api/web-utils.md
Due: run-docs-only

docs: recommend calling renderer process modules from preload script
  docs/api/clipboard.md
  docs/api/crash-reporter.md
  docs/api/ipc-renderer.md
  docs/api/native-image.md
  docs/api/web-frame.md
  docs/api/web-utils.md
Due: run-docs-only
