Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: pip patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/picture-in-picture.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

drop YARN_ENABLE_HARDENED_MODE env var
  .github/actions/install-dependencies/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
  script/nan-spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make `api::WebRequest` inherit from `gin::Wrappable` (#48762)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  shell/browser/electron_browser_client.cc
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/net/proxying_websocket.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: devtools crashing on Linux in detach mode
  shell/browser/ui/views/electron_views_delegate.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Windows: Calling window.setFocusable(true) will no longer cause a window to lose focus (#45640)
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on windows when UTF-8 is in path
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add yarn.lock file for nan
  patches/nan/.patches
  patches/nan/chore_add_yarnrc_yml_and_yarn_lock_file_to_use_yarn_v4.patch
  script/nan-spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use std::map::extract() in api::WebRequest
  shell/browser/api/electron_api_web_request.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use tar.xz compression
  script/lib/util.py
  script/zip-symbols.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: menu bar hiding on two setFullScreen(false)
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7138583: [Partitioned Popins Removal] IPC
  patches/chromium/can_create_window.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: apply additional compression to dsym on upload (#48930)
  script/lib/util.py
  script/zip-symbols.py
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7139794: Partially remove check for global handlers in plugin mime_type code
  shell/browser/electron_plugin_info_host_impl.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

remove yarn-hardened-mode parameter
  .github/actions/install-dependencies/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test-and-nan.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

test: don't reinstall spec/node_modules via spec-runner
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify meaning of string value for menu item icon (#48919)
  docs/api/menu-item.md
Due: run-docs-only

feat: add --disable-geolocation command-line flag for macOS (#45934)
  docs/api/command-line-switches.md
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: explain how to load SF Symbols with `nativeImage` (#48908)
  docs/api/native-image.md
Due: run-docs-only

fixup test: don't reinstall spec/node_modules via spec-runner
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: handle tar.xz files in uploaders, add to breaking changes
  docs/breaking-changes.md
  script/release/release.ts
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: crash on windows when UTF-8 is in path (#48898)
  patches/node/.patches
  patches/node/api_remove_deprecated_getisolate.patch
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix types in chromium-spec
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add additional file extension info
  docs/breaking-changes.md
Due: run-docs-only

docs: fix docs for `app.isHardwareAccelerationEnabled()` (#48925)
  docs/api/app.md
Due: run-docs-only

fix: crash on windows when UTF-8 is in path
  patches/node/.patches
  patches/node/fix_ensure_traverseparent_bails_on_resource_path_exit.patch
  patches/node/fix_expose_readfilesync_override_for_modules.patch
  patches/node/src_use_cp_utf8_for_wide_file_names_on_win32.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Reapply "speculative fix for linux arm out of memory error"
  .yarn/releases/yarn-4.10.3.cjs
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(reland): allow disabling all `NSMenuItems` (#48795)
  lib/browser/api/menu.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 4cf9311 from v8
  patches/v8/.patches
  patches/v8/preserve_field_repr_in_property_array_extension.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 4cf9311810b0 from v8
  patches/v8/.patches
  patches/v8/cherry-pick-4cf9311810b0.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
