Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: revert moving IsClosed() and IsClosable() into NativeWindow::Close() (#47482)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/window_list.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Plumb Verify2QwacBinding and hook it up in QwacWebContentsObserver
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

[Extensions] Remove host delegate OnMainFrameCreatedForBackgroundPage
  shell/browser/extensions/electron_extension_host_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Extensions: Rename GetResourceURL to ResolveExtensionURL
  shell/browser/extensions/api/scripting/scripting_api.cc
  shell/browser/extensions/api/tabs/tabs_api.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

[NonClientFrameView] Consolidate NativeFrameViewMac
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

ICWYU
  shell/app/node_main.cc
  shell/common/gin_converters/osr_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

[views-ax] Remove dead code WidgetAXTreeIDMap
  shell/browser/ui/webui/accessibility_ui.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Reland "extensions: Add `WillPrepareForEvaluation` to setup MojoJS"
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
Due: run-build-mac, run-build-linux, run-docs-only=false

NavigationThrottleRunner2: Remove MaybeAddThrottle
  shell/browser/electron_browser_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: revert moving IsClosed() and IsClosable() into NativeWindow::Close() (#47485)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/window_list.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update spec/api-utility-process-spec.ts
  spec/api-utility-process-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove interface bound checks
  shell/services/node/node_service.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: asynchronous batching behavior
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Update electron-timelines.md
  docs/tutorial/electron-timelines.md
Due: run-docs-only

build: fix snapshot_blob.bin build error
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove upstreamed ignore_parse_errors_for_resolveshortcutproperties.patch
  patches/chromium/.patches
  patches/chromium/ignore_parse_errors_for_resolveshortcutproperties.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

[pip] Tuck picture-in-picture windows when a file dialog is open
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

build: freeup disk space on macos
  .github/actions/free-space-macos/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update printing.patch
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: e patches all
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: e patches all
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_patch_out_profile_methods.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Reland "extensions: Add `WillPrepareForEvaluation` to setup MojoJS""
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify titlebar overlay initialization
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: combine dependent libc patch
  patches/chromium/.patches
  patches/chromium/build_make_libcxx_abi_unstable_false_for_electron.patch
  patches/chromium/fix_enable_wrap_iter_in_string_view_and_array.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: utilityProcess running user script after process.exit is called (#47469)
  docs/breaking-changes.md
  shell/services/node/node_service.cc
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/no-js-after-exit.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Fix spec's expected base64-encoded PNG strings to match upstream changes.
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

delete accelerator.md
  docs/api/accelerator.md
Due: run-docs-only

fixes
  docs/api/menu-item.md
  docs/api/structures/keyboard-input-event.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: improve desktop-capturer loopback docs
  docs/api/desktop-capturer.md
Due: run-docs-only

docs: rewrite for clarity and per feedback
  docs/api/desktop-capturer.md
Due: run-docs-only

docs: improve <12.3 blurb
  docs/api/desktop-capturer.md
Due: run-docs-only

fix: utilityProcess running user script after process.exit is called (#47492)
  docs/breaking-changes.md
  shell/services/node/node_service.cc
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/no-js-after-exit.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

ci: fix sending Slack message in CI audit workflow
  .github/workflows/audit-branch-ci.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add windowStateRestoreOptions to BaseWindowConstructorOptions
  docs/api/structures/base-window-options.md
  docs/api/structures/window-state-restore-options.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

crypto: remove BoringSSL dh-primes addition
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: set default config as node.config.json
  patches/node/build_add_gn_build_files.patch
  patches/node/build_allow_unbundling_of_node_js_dependencies.patch
  patches/node/build_option_to_use_custom_inspector_protocol_path.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

buffer: define global v8::CFunction objects as const
  patches/node/fix_remove_fastapitypedarray_usage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
