Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: fix linter error in spec/fixtures/crash-cases/content-tracing-before-ready/
  spec/fixtures/crash-cases/content-tracing-before-ready/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: handle multiline
  shell/browser/notifications/win/windows_toast_notification.cc
  spec/api-notification-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: return null for webContents after BrowserWindow is destroyed
  docs/api/browser-window.md
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: helper function
  shell/browser/notifications/win/windows_toast_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: comments added
  shell/browser/api/electron_api_notification.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: documentation
  docs/api/notification.md
Due: run-docs-only

fix: add appid lock
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: blur views
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

spec: add tests, limit values to positive
  shell/browser/api/electron_api_view.cc
  spec/api-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: be explicit in units for blurRadius
  docs/api/view.md
Due: run-docs-only

chore: update patches (trivial only)
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_disable_thin_lto_mac.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_libc_as_static_library.patch
  patches/chromium/build_make_libcxx_abi_unstable_false_for_electron.patch
  patches/chromium/can_create_window.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `enableLargerThanScreen` having no effect.
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

SharedWorker: Enforce same-origin check for IWA and Extensions
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(patch): declare abort in Node builtin_info
  patches/node/.patches
  patches/node/fix_add_missing_cstdlib_include_to_builtin_info.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: node script/gen-libc++-filenames.js
  filenames.libcxx.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix linter error in `spec/fixtures/crash-cases/content-tracing-before-ready/` (#51356)
  spec/fixtures/crash-cases/content-tracing-before-ready/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/common/gin_converters/net_converter.cc
  shell/common/gin_converters/net_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update spec/api-web-request-spec.ts
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: replace spec dep fork with patch
  .yarn/patches/dbus-native-npm-0.4.0-fd59c31eb6.patch
  package.json
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lint
  shell/common/gin_converters/net_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: e patches all (trivial only)
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: make linter happy
  spec/fixtures/crash-cases/content-tracing-before-ready/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: split macos-x64 tests into 3 shards (40-x-y) (#50973)
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: validate header name and value in webRequest.onBeforeSendHeaders (#51340)
  shell/common/gin_converters/net_converter.cc
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add further disposition description (#50246)
  docs/api/web-contents.md
Due: run-docs-only

fix: honor `ELECTRON_INSTALL_PLATFORM` in `getPlatformPath` (#51029)
  npm/install.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: replace ClientFrameViewLinux with NativeFrameViewLinux (#51160)
  filenames.gni
  shell/browser/native_window.cc
  shell/browser/native_window_features.cc
  shell/browser/native_window_features.h
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/client_frame_view_linux.h
  shell/browser/ui/views/native_frame_view_linux.cc
  shell/browser/ui/views/native_frame_view_linux.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: linter: make change description <= 120 chars
  docs/api/native-image.md
  docs/breaking-changes.md
Due: run-docs-only

test: regenerate nativeImage color-space PNG fixtures
  spec/fixtures/assets/colorspace-p3.png
  spec/fixtures/assets/colorspace-srgb.png
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: implement feedback
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  spec/api-native-image-spec.ts
  spec/fixtures/assets/colorspace-p3.png
  spec/fixtures/assets/colorspace-srgb.png
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: fix new colorSpace spec
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add breaking-changes entry and update getBitmap docs
  docs/api/native-image.md
  docs/breaking-changes.md
Due: run-docs-only

fix: normalize color space for consistent pixel values in nativeImage
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false
