Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: add a `<datalist>` spec for time type (#36953)
  spec/autofill-spec.ts
  spec/fixtures/pages/datalist-text.html
  spec/fixtures/pages/datalist-time.html
  spec/fixtures/pages/datalist.html
Due: run-build-mac, run-build-linux, run-docs-only=false

test: use webContents.create() in type-safe way (#37281)
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
  spec/api-ipc-renderer-spec.ts
  spec/api-protocol-spec.ts
  spec/api-service-workers-spec.ts
  spec/api-web-contents-spec.ts
  spec/api-web-request-spec.ts
  spec/chromium-spec.ts
  spec/fixtures/crash-cases/webcontents-create-leak-exit/index.js
  spec/node-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove old script code for ATOM_SHELL_ (#37140)
  script/lib/config.py
Due: run-build-mac, run-build-linux, run-docs-only=false

test: use async helpers to simplify tests (#37314)
  spec/api-browser-window-spec.ts
  spec/api-session-spec.ts
  spec/api-web-contents-spec.ts
  spec/api-web-frame-main-spec.ts
  spec/chromium-spec.ts
  spec/get-files.ts
  spec/modules-spec.ts
  spec/node-spec.ts
  spec/webview-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: don't run stale workflow jobs in parallel (#36967)
  .github/workflows/stale.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: resizing borders in nondraggable regions (#37016)
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: emit `devtools-open-url` event for DevTools link selection (#36774)
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/browser/web-view-events.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cleanup `ElectronContentClient::AddPlugins` (#37005)
  shell/app/electron_content_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: do not error on null exports in ESM loader (#37009)
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add logUsage to shell.openExternal() options (#37139)
  docs/api/shell.md
  shell/common/api/electron_api_shell.cc
  shell/common/platform_util.h
  shell/common/platform_util_win.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: move desktopCapturer usage from renderer to main in ts-smoke (#37321)
  spec/ts-smoke/electron/main.ts
  spec/ts-smoke/electron/renderer.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update https://cs.chromium.org/ links to https://source.chromium.org/ (#37190)
  docs/api/browser-window.md
  docs/api/webview-tag.md
  docs/development/chromium-development.md
  shell/utility/electron_content_utility_client.cc
  spec/api-dialog-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: updated deep link docs (#36952)
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

build: actually upload symbol zips (#37124)
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update modules list in docs/README.md (#37080)
  docs/README.md
Due: run-docs-only

chore: update README.md (#37002)
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: improve globalShortcut and hookWindowMessage types (#37115)
  docs/api/browser-window.md
  docs/api/global-shortcut.md
Due: run-docs-only

fix: cookies filter secure invalid (#37203)
  shell/browser/api/electron_api_cookies.cc
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: ignore makeLatest on pre-releases (#37274)
  script/release/release.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove `mips64el` build config (#37093)
  appveyor-woa.yml
  appveyor.yml
  script/release/uploaders/upload.py
  script/strip-binaries.py
  script/zip-symbols.py
Due: run-build-mac, run-build-linux, run-docs-only=false

test: use render-process-gone event in tests (#37280)
  spec/api-web-contents-spec.ts
  spec/chromium-spec.ts
  spec/fixtures/no-proprietary-codecs.js
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove invalid appcache value from storages in clearStorageData() (#37095)
  docs/api/session.md
Due: run-docs-only

chore: add logging for debugging release json (#37270)
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only=false

test: cleanup let xyz = null as unknown as T; (#37335)
  spec/api-browser-window-spec.ts
  spec/api-ipc-spec.ts
  spec/api-protocol-spec.ts
  spec/api-service-workers-spec.ts
  spec/api-web-contents-spec.ts
  spec/api-web-request-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove redundant Node.js patch (#37279)
  patches/node/.patches
  patches/node/fixup_for_wc_98-compat-extra-semi.patch
  patches/node/support_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: only macOS 10.13+ is supported now (#37286)
  docs/api/browser-window.md
  docs/api/menu-item.md
  docs/api/system-preferences.md
  docs/api/tray.md
  docs/breaking-changes.md
Due: run-docs-only

refactor: separate WEB_VIEW_ATTRIBUTES / WEB_VIEW_ERROR_MESSAGES (#36972)
  lib/renderer/web-view/web-view-attributes.ts
  lib/renderer/web-view/web-view-constants.ts
  lib/renderer/web-view/web-view-element.ts
  lib/renderer/web-view/web-view-impl.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add missing clipboard-sanitized-write permission value to setPermissionRequestHandler() (#37173)
  docs/api/session.md
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: only retry tests on CI (#37167)
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused files in spec/fixtures (#37012)
  spec/fixtures/api/native-window-open-argv.html
  spec/fixtures/module/preload-pdf-loaded-in-nested-subframe.js
  spec/fixtures/module/preload-pdf-loaded-in-subframe.js
  spec/fixtures/module/preload-pdf-loaded.js
  spec/fixtures/pages/target-name.html
  spec/fixtures/zip/a.zip
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: use relative links within docs (#37042)
  docs/tutorial/forge-overview.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/tray.md
Due: run-docs-only

feat: add BrowserWindow.set/getWindowButtonPosition APIs (#37094)
  docs/api/browser-window.md
  docs/breaking-changes.md
  filenames.gni
  lib/browser/api/base-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/common/gin_converters/optional_converter.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove reference to electron/releases (#37164)
  docs/tutorial/tutorial-1-prerequisites.md
Due: run-docs-only

fix: nodeIntegrationInWorker fails to boot in AudioWorklets (#37041)
  lib/worker/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: use automatic link syntax for symbol server link (#37089)
  docs/development/debugging-with-symbol-server.md
Due: run-docs-only

fix: type for received-apns-notification event (#37177)
  docs/api/push-notifications.md
Due: run-docs-only

chore: re-enable worker spec failures (#37015)
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: process event emitting for sandboxed renderers (#37109)
  lib/sandboxed_renderer/init.ts
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update clipboard fiddles (#36946)
  docs/api/clipboard.md
  docs/fiddles/system/clipboard/.keep
  docs/fiddles/system/clipboard/copy/index.html
  docs/fiddles/system/clipboard/copy/main.js
  docs/fiddles/system/clipboard/copy/preload.js
  docs/fiddles/system/clipboard/copy/renderer.js
  docs/fiddles/system/clipboard/paste/index.html
  docs/fiddles/system/clipboard/paste/main.js
  docs/fiddles/system/clipboard/paste/preload.js
  docs/fiddles/system/clipboard/paste/renderer.js
Due: run-docs-only

fix: crash on `WebWorkerObserver` script execution (#37050)
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  shell/renderer/web_worker_observer.h
  spec/fixtures/crash-cases/worker-multiple-destroy/index.html
  spec/fixtures/crash-cases/worker-multiple-destroy/index.js
  spec/fixtures/crash-cases/worker-multiple-destroy/worklet.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
