Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: drag regions in child windows (manual backport 40-x-y) (#49312)
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove stakeholders mention from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: GetXdgAppId() now returns std::optional<std::string>
  shell/browser/native_window_views.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: slightly simplify app.setDesktopName() ts calls
  default_app/main.ts
  lib/browser/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: add better documentation for dekstop-entry in XDG notifications
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make pointer lock work on Wayland
  patches/chromium/.patches
  patches/chromium/move_wayland_pointer_lock_overrides_to_common_code.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove `patches/v8/cherry-pick-e0052e7af9c9` (#49309)
  patches/v8/.patches
  patches/v8/cherry-pick-e0052e7af9c9.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use @electron-ci/dev-root for package.json default
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use @electron-ci/dev-root for package.json default (#49154)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

spec: add view animation test
  spec/api-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Promote `DCHECK_IS_ON()` to preprocessor check
  shell/browser/ui/inspectable_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

node -> electron_node
  docs/development/source-code-directory-structure.md
Due: run-docs-only

fxiup
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: clean up old staged updates before downloading new update
  patches/reclient-configs/fix_add_python_remote_wrapper.patch
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_clean_up_old_staged_updates_before_downloading_new_update.patch
  spec/api-autoupdater-darwin-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document `ELECTRON_SKIP_BINARY_DOWNLOAD`
  docs/api/environment-variables.md
Due: run-docs-only

docs: remove stale example and standardize `DevTools` capitalization
  docs/api/app.md
  docs/api/command-line-switches.md
  docs/api/debugger.md
  docs/api/extensions-api.md
  docs/api/native-theme.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/api/web-frame.md
Due: run-docs-only

7399531: [GTK] Don't preselect file dialog accept buttons | https://chromium-review.googlesource.com/c/chromium/src/+/7399531
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/boringssl/expose_ripemd160.patch
  patches/boringssl/feat_expose_several_extra_cipher_functions.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_partial_revert_mac_fullscreen_top_chrome_mouse_events.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: lazy electron download
  npm/index.js
  npm/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: deduplicate printing logic in WebContents
  lib/browser/api/printing-utils.ts
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use python instead of python3 in version detection
  script/lib/get-version.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: standardize python binary detection
  script/check-patch-diff.ts
  script/lib/get-version.js
  script/lib/utils.js
  script/lint.js
  script/node-spec-runner.js
  script/spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use @electron-ci/dev-root for package.json default (#49319)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/web-contents.md
  docs/api/web-contents.md
Due: run-docs-only

build: standardize python binary detection in npm scripts
  package.json
  script/python.js
Due: run-build-mac, run-build-linux, run-docs-only=false

better error messaging?
  npm/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: update WebContentsView visibility tests and docs per review
  docs/api/web-contents-view.md
  docs/api/web-contents.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_web_contents_view.cc
  spec/api-web-contents-view-spec.ts
  spec/visibility-state-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: avoid startup crash when V8 sandbox is disabled
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: import shared texture supports p010le.
  docs/api/structures/shared-texture-import-texture-info.md
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: have `GetXdgAppId()` return a `std::optional<std::string>` (#49318)
  default_app/main.ts
  lib/browser/init.ts
  shell/browser/native_window_views.cc
  shell/browser/notifications/linux/libnotify_notification.cc
  shell/common/platform_util.h
  shell/common/platform_util_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: pulseaudio stream and icon names
  patches/chromium/.patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: update GetXdgAppId() calls to use .value_or()
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

add breaking changes script doc
  docs/breaking-changes.md
Due: run-docs-only

add binary download step to install instructions
  docs/tutorial/installation.md
Due: run-docs-only

respect no binary env var
  npm/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

adjust sizing for wider symbols
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

update macos build version
  docs/development/build-instructions-macos.md
Due: run-docs-only

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
