Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

docs: document `ELECTRON_SKIP_BINARY_DOWNLOAD` (#49320)
  docs/api/environment-variables.md
Due: run-docs-only

build: use @electron-ci/dev-root for package.json default (#49329)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/development/build-instructions-gn.md
  docs/development/build-instructions-gn.md
Due: run-docs-only

chore: disable color output for clang-tidy in CI
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: small QoL improvements to run-clang-tidy.ts
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add --fix option to script/run-clang-tidy.ts
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: added space in docs
  docs/api/web-contents.md
Due: run-docs-only

build: use @electron-ci/dev-root for package.json default (#49326)
  package.json
  script/release/bin/publish-to-npm.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make toplevel icon Wayland protocol work
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: osr use correct screen info.
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  patches/chromium/.patches
  patches/chromium/patch_osr_control_screen_info.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update and rename SECURITY.md to SECURITrY.md
  SECURITrY.md
Due: run-build-mac, run-build-linux, run-docs-only=false

Update electronVOLKANTRversioning.md
  docs/tutorial/electron-versioning.md
Due: run-docs-only

refactor: add static void ReplyChannel::SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use static SendError() instead of instantiating a temporary
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove redundant callback-is-non-null checks
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: swap names of SendReply() and SendReplyImpl() for clarity
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/angle/.patches
  patches/angle/cherry-pick-95a32cb37edb.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/webview_fullscreen.patch
  patches/config.json
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make ReplyChannel inherit from gin::Wrappable
  shell/common/gin_helper/reply_channel.cc
  shell/common/gin_helper/reply_channel.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add kElectronReplyChannel to chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add a few API history fragments
  docs/api/auto-updater.md
  docs/api/share-menu.md
  docs/api/shell.md
Due: run-docs-only

manual fixes
  docs/api/auto-updater.md
  docs/breaking-changes.md
  docs/development/style-guide.md
Due: run-docs-only

chore: improvements to script/run-clang-tidy.ts (#49335)
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: provide explicit cookie encryption provider
  shell/browser/net/network_context_service.cc
  shell/browser/net/network_context_service.h
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: add pipeline segment to run clang-tidy
  .github/actions/build-electron/action.yml
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test-and-nan.yml
  .github/workflows/pipeline-electron-build-and-tidy-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: set -header-filter='' for clang-tidy
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove stakeholders mention from PR template (#49317)
  .github/PULL_REQUEST_TEMPLATE.md
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add jsign instructions for Azure Trusted Signing on Linux/macOS
  docs/tutorial/code-signing.md
Due: run-docs-only

fix: restore AXDocument accessibility attribute for representedFilename on macOS
  shell/browser/ui/cocoa/electron_ns_window.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! refactor: remove non-static version of SendError()
  shell/common/gin_helper/reply_channel.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: revert to previous are-we-shutting-down check
  shell/common/gin_helper/reply_channel.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update NMV to 145
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: google-readability-casting warning about the uint32_t cast
  shell/common/gin_helper/trackable_object.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: modernize-use-equals-default warnings
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/extensions/api/extension_action/extension_action_api.cc
  shell/renderer/extensions/electron_extensions_renderer_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: readability-redundant-member-init warning
  shell/browser/extensions/electron_extensions_api_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: modernize-make-unique warnings
  shell/browser/file_select_helper.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: modernize-use-emplace
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: address code review feedback
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove accidentally-committed change
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
