Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: clear pending ticks in worker thread
  shell/renderer/web_worker_observer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Fix the issue of screenshot not working while minimized in version 25.2.0
  docs/fiddles/features/dark-mode/main.js
Due: run-docs-only

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/expose_v8initializer_codegenerationcheckcallbackinmainthread.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/printing.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: UAF crash when creating WebWorkerObserver
  shell/renderer/electron_renderer_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use node scheme imports in docs/fiddles
  docs/fiddles/features/dark-mode/main.js
  docs/fiddles/features/drag-and-drop/main.js
  docs/fiddles/features/offscreen-rendering/main.js
  docs/fiddles/features/recent-documents/main.js
  docs/fiddles/features/represented-file/main.js
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/ipc/pattern-1/main.js
  docs/fiddles/ipc/pattern-2/main.js
  docs/fiddles/ipc/pattern-3/main.js
  docs/fiddles/ipc/webview-new-window/main.js
  docs/fiddles/media/screenshot/take-screenshot/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/path-in-file-manager/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/renderer.js
  docs/fiddles/quick-start/main.js
  docs/fiddles/system/clipboard/copy/main.js
  docs/fiddles/system/clipboard/paste/main.js
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
  docs/fiddles/tutorial-preload/main.js
Due: run-docs-only

refactor: use Date.now()
  spec/api-content-tracing-spec.ts
  spec/api-crash-reporter-spec.ts
  spec/api-session-spec.ts
  spec/lib/spec-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: wait for thumbnails from PipeWire when necessary
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use StartUpdating method for PipeWire capturer
  patches/chromium/desktop_media_list.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add missing mojo dep
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "feat: expose safestorage backend information on linux (#39107)"
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/decrypt-app/main.js
  spec/fixtures/api/safe-storage/encrypt-app/main.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: use node scheme imports in docs/fiddles (#39110)
  docs/fiddles/features/dark-mode/main.js
  docs/fiddles/features/drag-and-drop/main.js
  docs/fiddles/features/offscreen-rendering/main.js
  docs/fiddles/features/recent-documents/main.js
  docs/fiddles/features/represented-file/main.js
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/ipc/pattern-1/main.js
  docs/fiddles/ipc/pattern-2/main.js
  docs/fiddles/ipc/pattern-3/main.js
  docs/fiddles/ipc/webview-new-window/main.js
  docs/fiddles/media/screenshot/take-screenshot/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/path-in-file-manager/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/renderer.js
  docs/fiddles/quick-start/main.js
  docs/fiddles/system/clipboard/copy/main.js
  docs/fiddles/system/clipboard/paste/main.js
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
  docs/fiddles/tutorial-preload/main.js
Due: run-docs-only

update component build
  BUILD.gn
  shell/services/node/public/mojom/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

add component build patch
  patches/chromium/0001-fix-component-build.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: correct codespaces devcontainer extensions settings
  .devcontainer/devcontainer.json
Due: run-build-mac, run-build-linux, run-docs-only=false

add component build patch
  patches/chromium/.patches
  patches/chromium/chromium_abseil_commits.patch
  patches/chromium/fix_component_build.patch
  patches/chromium/update_abseil_symbols.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update mac-app-store-submission-guide transporter link
  docs/tutorial/mac-app-store-submission-guide.md
Due: run-docs-only

docs: replaced the b tag with the strong tag
  docs/fiddles/native-ui/notifications/index.html
Due: run-docs-only

docs: added lang attribute in the html tag
  docs/fiddles/native-ui/notifications/index.html
Due: run-docs-only

docs: added docType and lang attribute
  default_app/index.html
  docs/fiddles/features/drag-and-drop/index.html
  docs/fiddles/features/keyboard-shortcuts/global/index.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: update stable dates
  docs/tutorial/electron-timelines.md
Due: run-docs-only

docs: fix a capitalization problem in messagePort tutorial (#39083)
  docs/tutorial/message-ports.md
Due: run-docs-only

docs: use correct names for IPC events
  docs/api/ipc-main.md
  docs/api/ipc-renderer.md
Due: run-docs-only

fix: `window.open` causing occasional Node.js crashes (#38754)
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: file selection when disallowed on macOS (#39097)
  shell/browser/ui/file_dialog_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: file selection when disallowed on macOS (#39096)
  shell/browser/ui/file_dialog_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `webContents.print({ silent: true })` not working correctly (#39095)
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use `Date.now()` instead of `+new Date()` (#38901)
  spec/api-content-tracing-spec.ts
  spec/api-crash-reporter-spec.ts
  spec/api-session-spec.ts
  spec/lib/spec-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

perf: avoid string temporary in HidChooserController::PhysicalDeviceIdFromDeviceInfo()
  shell/browser/hid/hid_chooser_controller.cc
  shell/browser/hid/hid_chooser_controller.h
Due: run-build-mac, run-build-linux, run-docs-only=false

perf: avoid second map lookup in HidChooserController::AddDeviceInfo()
  shell/browser/hid/hid_chooser_controller.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

4662090: Add metrics for WebGPU support
  patches/chromium/gpu_notify_when_dxdiag_request_fails.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

4664578: Remove unused parameter from ExtensionsGuestViewManagerDelegate ctor
  shell/browser/extensions/electron_extensions_api_client.cc
  shell/browser/extensions/electron_extensions_api_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

4672599: Use set_defaults for mac_app_bundle
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

4622253: usb: Create classes for usb system tray icon
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
Due: run-build-mac, run-build-linux, run-docs-only=false

4678263: Remove ARC support from scoped_nsobject
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_menu_mac.h
  shell/browser/api/electron_api_menu_mac.mm
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/browser_mac.mm
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/mac/electron_application.h
  shell/browser/mac/electron_application.mm
  shell/browser/native_browser_view_mac.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/delayed_native_view_host.mm
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.h
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.mm
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/cocoa/electron_ns_window.mm
  shell/browser/ui/cocoa/electron_touch_bar.h
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/browser/ui/cocoa/window_buttons_proxy.h
  shell/browser/ui/cocoa/window_buttons_proxy.mm
  shell/browser/ui/inspectable_web_contents_view_mac.h
  shell/browser/ui/inspectable_web_contents_view_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

4670267: Don't send javascript: or empty URLs to browser in CreateNewWindow.
  patches/chromium/can_create_window.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: follow-up ARC changes and missing guard corrections
  BUILD.gn
  filenames.gni
  shell/app/electron_main_delegate_mac.mm
  shell/browser/api/electron_api_native_theme_mac.mm
  shell/browser/api/electron_api_push_notifications_mac.mm
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/mac/electron_application.h
  shell/browser/ui/cocoa/electron_menu_controller.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/tray_icon_cocoa.h
  shell/browser/ui/tray_icon_cocoa.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

4663771: usb: Add connection count tracking methods for UsbDelegate
  shell/browser/usb/electron_usb_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: don't mark 0-param ctor explicit
  shell/browser/extensions/electron_extensions_api_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
