Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: app.accessibilitySupportEnabled on macOS
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: find the closest display for non-overlapping saved bounds
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: allow actions on toasts
  filenames.auto.gni
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/gritsettings_resource_ids.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: drop @types/webpack-env in favor of webpack/module types
  build/webpack/webpack.config.base.js
  lib/browser/init.ts
  lib/node/asar-fs-wrapper.ts
  lib/renderer/init.ts
  lib/utility/init.ts
  lib/worker/init.ts
  package.json
  tsconfig.json
  typings/internal-ambient.d.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

test: windowStatePersistence multi-monitor tests
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add note on display APIs in CI
  spec/lib/screen-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove duplicate destroy registration
  spec/fixtures/native-addon/virtual-display/src/Dummy.swift
  spec/fixtures/native-addon/virtual-display/src/addon.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: enforce unique window names across BaseWindow and BrowserWindow (#47764)
  docs/api/structures/base-window-options.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: disallow non-maintainer changes to GitHub Actions workflows
  .github/workflows/non-maintainer-dependency-change.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: allow ssh input
  .github/workflows/build.yml
  .github/workflows/pipeline-electron-build-and-test.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: BrowserWindow add the same BrowserView
  lib/browser/api/browser-window.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: drop @types/webpack-env in favor of webpack/module types (#48046)
  build/webpack/webpack.config.base.js
  lib/browser/init.ts
  lib/node/asar-fs-wrapper.ts
  lib/renderer/init.ts
  lib/utility/init.ts
  lib/worker/init.ts
  package.json
  tsconfig.json
  typings/internal-ambient.d.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update lib/browser/api/browser-window.ts
  lib/browser/api/browser-window.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: drop @types/webpack-env in favor of webpack/module types (#48047)
  build/webpack/webpack.config.base.js
  lib/browser/init.ts
  lib/node/asar-fs-wrapper.ts
  lib/renderer/init.ts
  lib/utility/init.ts
  lib/worker/init.ts
  package.json
  tsconfig.json
  typings/internal-ambient.d.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Add mocha test
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: manually fetch author_association in workflow automations (#48013)
  .github/workflows/issue-commented.yml
  .github/workflows/non-maintainer-dependency-change.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContent.fromId should be number instead of string
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `sharedTexture` module
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-sync-token.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/module-list.ts
  lib/browser/api/shared-texture.ts
  lib/common/api/shared-texture.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/module-list.ts
  lib/renderer/api/shared-texture.ts
  lib/sandboxed_renderer/api/module-list.ts
  shell/common/api/electron_api_shared_texture.cc
  shell/common/api/electron_api_shared_texture.h
  shell/common/node_bindings.cc
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add copy support for import
  BUILD.gn
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-transfer.md
  filenames.auto.gni
  lib/browser/api/shared-texture.ts
  lib/renderer/api/shared-texture.ts
  shell/common/api/electron_api_shared_texture.cc
  spec/api-shared-texture-spec.ts
  spec/fixtures/api/shared-texture/common.js
  spec/fixtures/api/shared-texture/image.png
  spec/fixtures/api/shared-texture/osr.html
  spec/fixtures/api/shared-texture/raw/index.html
  spec/fixtures/api/shared-texture/raw/preload.js
  spec/fixtures/api/shared-texture/raw/renderer.js
  spec/fixtures/api/shared-texture/util/index.html
  spec/fixtures/api/shared-texture/util/preload.js
  spec/fixtures/api/shared-texture/util/renderer.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove inaccurate comment
  spec/lib/screen-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `app.accessibilitySupportEnabled` (#48041)
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: move expect blocks outside beforeEach
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: set show to true
  spec/fixtures/api/window-state-save/schema-check/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Implement `getAccentColor` on Linux
  filenames.gni
  patches/chromium/.patches
  patches/chromium/pump_linux_system_accent_color.patch
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences.h
  shell/browser/api/electron_api_system_preferences_linux.cc
  spec/api-system-preferences-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

doc: Update OS support for accent color APIs
  docs/api/system-preferences.md
Due: run-docs-only

feat: add wrapper around import shared texture
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-imported-subtle.md
  docs/api/structures/shared-texture-imported.md
  docs/api/structures/shared-texture-subtle.md
  filenames.auto.gni
  lib/browser/api/shared-texture.ts
  lib/browser/api/web-contents.ts
  lib/common/api/shared-texture.ts
  lib/common/ipc-messages.ts
  lib/renderer/api/shared-texture.ts
  shell/common/api/electron_api_shared_texture.cc
  spec/api-shared-texture-spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: remove copy support.
  docs/api/shared-texture.md
  docs/api/structures/shared-texture-import-texture-info.md
  docs/api/structures/shared-texture-subtle.md
  lib/browser/api/shared-texture.ts
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: ref count the import shared texture
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add test for shared texture spec.
  docs/api/structures/shared-texture-transfer.md
  spec/api-shared-texture-spec.ts
  spec/fixtures/api/shared-texture/managed/index.html
  spec/fixtures/api/shared-texture/managed/preload.js
  spec/fixtures/api/shared-texture/managed/renderer.js
  spec/fixtures/api/shared-texture/subtle/index.html
  spec/fixtures/api/shared-texture/subtle/preload.js
  spec/fixtures/api/shared-texture/subtle/renderer.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: lint BUILD.gn
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

test: exclude macOS-x64 for now
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: remove invalid display test
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: compiler error for macos and linux.
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
