Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs(api-history): `new WebContentsView([options])`
  docs/api/web-contents-view.md
Due: run-docs-only

fix: desktopCapturer breaks BrowserWindow resizable on macOS
  lib/browser/api/desktop-capturer.ts
  shell/browser/feature_list_mac.mm
  spec/api-desktop-capturer-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: oops fix showing
  spec/api-desktop-capturer-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: note macOS fullscreen events in fullscreen query (#42997)
  docs/api/browser-window.md
Due: run-docs-only

debug: intentionally bust cache
  .github/actions/checkout/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use v8::Local<>, not v8::Handle<>
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window_mac.mm
  shell/common/api/electron_api_shell.cc
  shell/common/gin_converters/blink_converter.cc
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/renderer/electron_render_frame_observer.cc
  shell/renderer/electron_render_frame_observer.h
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: win
  shell/browser/browser_win.cc
  shell/browser/electron_browser_client.cc
  shell/browser/native_window_views_win.cc
  shell/browser/ui/views/win_caption_button.cc
  shell/browser/ui/views/win_caption_button_container.cc
  shell/browser/ui/win/electron_desktop_native_widget_aura.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: delete duplicate declaration from merge conflict
  shell/browser/browser_process_impl.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: win
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: 5725076: Update EventType names | https://chromium-review.googlesource.com/c/chromium/src/+/5725076
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/ui/views/autofill_popup_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: export patches
  patches/chromium/accelerator.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_run_reclient_cfg_generator_after_chrome.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/command-ismediakey.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_add_set_theme_source_to_allow_apps_to.patch
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_customizing_symbol_color_in_framecaptionbutton.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_activate_background_material_on_windows.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_getcursorscreenpoint_wrongly_returns_0_0.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/hack_to_allow_gclient_sync_with_host_os_mac_on_linux_in_ci.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/partially_revert_is_newly_created_to_allow_for_browser_initiated.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/fix_disable_scope_reuse_associated_dchecks.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs(api-history): non-navigation APIs on `WebContents`
  docs/api/web-contents.md
Due: run-docs-only

docs(api-history): `nativeImage.toDataURL`
  docs/api/native-image.md
Due: run-docs-only

docs(api-history): `window.flashFrame(bool)`
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

chore: 5725076: Update EventType names | https://chromium-review.googlesource.com/c/chromium/src/+/5725076 for windows
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs(api-history): `browser-view.md`
  docs/api/browser-view.md
Due: run-docs-only

docs(api-history): `ipcRenderer`
  docs/api/ipc-renderer.md
Due: run-docs-only

docs(api-history): `protocol.*Protocol`
  docs/api/protocol.md
Due: run-docs-only

revert: `new WebContentsView([options])`
  docs/api/web-contents-view.md
Due: run-docs-only

fix: win
  shell/app/electron_main_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: active File System API permissions should reset on WebContents destruction
  filenames.gni
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
  shell/browser/file_system_access/file_system_access_web_contents_helper.cc
  shell/browser/file_system_access/file_system_access_web_contents_helper.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add transparency checking to `nativeTheme` (#42862)
  docs/api/native-theme.md
  docs/api/system-preferences.md
  docs/breaking-changes.md
  filenames.auto.gni
  lib/browser/api/system-preferences.ts
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  spec/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: move safe_storage functions into anonymous namespace
  filenames.gni
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "refactor: JSify BrowserWindow unresponsive handling (#37902)"
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

test: skip unstable shadow realm gc tests
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: extend env for `test-node-output-errors`
  patches/node/ci_ensure_node_tests_set_electron_run_as_node.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use v8::Local<>, not v8::Handle<> (#43019)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window_mac.mm
  shell/common/api/electron_api_shell.cc
  shell/common/gin_converters/blink_converter.cc
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/renderer/electron_render_frame_observer.cc
  shell/renderer/electron_render_frame_observer.h
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_renderer_client.h
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add test for nodeCliInspect fuse
  spec/fuses-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update docs-parser and typescript-definitions pacakges
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

avoid crash of operation on an invalid entry while erase set iterator.
  shell/browser/notifications/notification_presenter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

src: fix typo in env.cc
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: reset `process.versions` during pre-execution
  patches/node/src_do_not_use_soon-to-be-deprecated_v8_api.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/node/cherry-pick_src_remove_calls_to_recently_deprecated_v8_apis.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/ci_ensure_node_tests_set_electron_run_as_node.patch
  patches/node/fix_-wshadow_warning.patch
  patches/node/fix_add_property_query_interceptors.patch
  patches/node/fix_assert_module_in_the_renderer_process.patch
  patches/node/fix_capture_embedder_exceptions_before_entering_v8.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_remove_deprecated_errno_constants.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/src_do_not_use_soon-to-be-deprecated_v8_api.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_match_wpt_streams_transferable_transform-stream-members_any_js.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src,permission: --allow-wasi & prevent WASI exec
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

tls: use SSL_get_peer_tmp_key
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

deps: update c-ares to 1.29.0
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add test for nodeCliInspect fuse (#43035)
  spec/fuses-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update docs-parser and typescript-definitions packages (#43038)
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove BrowserWindow::SetTitleBarOverlay
  shell/browser/api/electron_api_browser_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: desktopCapturer breaks BrowserWindow resizable on macOS (#43013)
  lib/browser/api/desktop-capturer.ts
  shell/browser/feature_list_mac.mm
  spec/api-desktop-capturer-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
