Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

build: update @electron/lint-roller to 4.0.0
  docs/api/message-channel-main.md
  docs/development/creating-api.md
  docs/development/style-guide.md
  docs/fiddles/features/navigation-history/main.js
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-serial/main.js
  docs/fiddles/media/screenshot/take-screenshot/renderer.js
  docs/fiddles/native-ui/dialogs/error-dialog/main.js
  docs/fiddles/native-ui/external-links-file-manager/renderer.js
  docs/fiddles/system/protocol-handler/launch-app-from-URL-in-another-app/main.js
  docs/fiddles/system/system-app-user-information/app-information/main.js
  docs/fiddles/windows/manage-windows/manage-window-state/renderer.js
  docs/fiddles/windows/manage-windows/new-window/renderer.js
  docs/fiddles/windows/manage-windows/window-events/renderer.js
  docs/tutorial/esm.md
  docs/tutorial/ipc.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/native-code-and-electron.md
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: check the formatting of docs code blocks with oxfmt
  docs/.oxfmtrc.json
  docs/development/style-guide.md
  package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: do not emit offscreen-drag-end while the contents is being destroyed
  docs/api/web-contents.md
  shell/browser/osr/osr_web_contents_view.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: check the offscreen view registry before downcasting
  shell/browser/osr/osr_web_contents_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: address review findings in offscreen drag and drop
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_contents_impl.cc
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: support HTML drag and drop in offscreen rendered contents
  docs/api/web-contents.md
  filenames.gni
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_drag_delegate.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/offscreen-drag-drop.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: open a same-origin file in the offscreen window.open() spec
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add IME support for offscreen webContents
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/gin_converters/osr_converter.cc
  shell/common/gin_converters/osr_converter.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/offscreen-ime.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: address review findings in offscreen IME support
  docs/api/structures/text-range.md
  docs/api/web-contents.md
  filenames.auto.gni
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/osr/osr_render_widget_host_view.h
  shell/browser/osr/osr_web_contents_view.cc
  shell/browser/osr/osr_web_contents_view.h
  shell/common/gin_converters/osr_converter.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: vertically align "format" row of macOS save dialog elements (#53950)
  shell/browser/ui/file_dialog_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update reference web index and resources
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Renamed user agent specific documents
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/session.md
  docs/api/structures/user-agent-brand-version.md
  docs/api/structures/user-agent-metadata.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
Due: run-docs-only

feat: support for overriding user agent metadata
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/session.md
  docs/api/structures/brand-version.md
  docs/api/structures/useragent-metadata.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/common/gin_converters/blink_converter.cc
  shell/common/gin_converters/blink_converter.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Make the setUserAgent* take an options object instead
  docs/api/app.md
  docs/api/session.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Remove the trailing spaces in docs/api/app.md
  docs/api/app.md
Due: run-docs-only

Fixed all issues
  docs/api/structures/user-agent-brand-version.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/common/gin_converters/blink_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Added a test to check for child window too
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Updated the document of UserAgentMetadata
  docs/api/structures/user-agent-metadata.md
Due: run-docs-only

Make all fields of UserAgentMetadata optional
  shell/common/gin_converters/blink_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Fixed a typo in document
  docs/api/web-contents.md
Due: run-docs-only

Added MDN and W3C document links for UA metadata
  docs/api/structures/user-agent-metadata.md
Due: run-docs-only

fix: preserve user agent metadata during conversion
  docs/api/structures/user-agent-metadata.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/common/gin_converters/blink_converter.cc
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: regenerate filenames.auto.gni for the new API structure docs
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: describe what a user agent metadata override actually covers
  docs/api/app.md
  docs/api/session.md
  docs/api/web-contents.md
Due: run-docs-only

fix: do not attach user agent metadata to an empty user agent
  shell/browser/api/electron_api_web_contents.cc
  shell/common/gin_converters/blink_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: make the user agent metadata specs prove what they claim
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: validate user agent metadata overrides
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/common/gin_converters/blink_converter.cc
  shell/common/gin_converters/blink_converter.h
  spec/api-app-spec.ts
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: mark user agent metadata fields optional
  docs/api/structures/user-agent-metadata.md
  spec/api-session-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add user agent metadata API history
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/session.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
Due: run-docs-only

refactor: extract WebContents::NativeLifecycle
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: prevent WebContents reentry during native teardown
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/fixtures/crash-cases/browser-window-set-background-after-webcontents-destroyed/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: guard guest ownership during iframe attachment
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: dispose WebFrameMain before detaching native contents
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: dispose frames for remote WebContents teardown
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preserve owner window during WebContents teardown
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix lint
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: webContents managed by cppgc
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/api/electron_api_web_contents_view.h
  shell/browser/extensions/api/tabs/tabs_api.cc
  shell/browser/lib/bluetooth_chooser.cc
  shell/browser/lib/bluetooth_chooser.h
  shell/browser/login_handler.cc
  shell/browser/web_view_guest_delegate.cc
  shell/browser/web_view_guest_delegate.h
  shell/common/gin_converters/content_converter.cc
  shell/common/gin_helper/wrappable_pointer_tags.h
  spec/api-web-contents-spec.ts
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: avoid retaining WebContents during cppgc collection
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false
