Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: update allow_in-process_windows_to_have_different_web_prefs.patch
  patches/chromium/allow_in-process_windows_to_have_different_web_prefs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update revert_cleanup_remove_feature_windelayspellcheckserviceinit.patch
  patches/chromium/revert_cleanup_remove_feature_windelayspellcheckserviceinit.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/boringssl/feat_expose_several_extra_cipher_functions.patch
  patches/chromium/allow_electron_to_depend_on_components_os_crypt_sync.patch
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_restore_some_deprecated_wrapper_utility_in_gin.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_add_signals_when_embedder_cleanup_callbacks_run_for.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/isolate_holder.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix broken includes in ElectronBrowserMainParts
  shell/browser/electron_browser_main_parts.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add release timeline for Electron 40
  docs/tutorial/electron-timelines.md
Due: run-docs-only

Document local network access permissions in security.md
  docs/tutorial/security.md
Due: run-docs-only

feat: add bypassCustomProtocolHandlers option to net.request
  docs/api/client-request.md
  lib/common/api/net-client-request.ts
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

style: fix lint errors in api-protocol-spec
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add net.isOnline() to online/offline detection tutorial
  docs/tutorial/online-offline-events.md
Due: run-docs-only

chore: doc fixes for Apple MIE
  docs/development/build-instructions-gn.md
  docs/release-notes/2025-10-24-macos-arm64-mte.md
Due: run-docs-only

ci: run AI moderator in dry run mode to evaluate
  .github/workflows/ai-moderator.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: logical bug in install.js env var handling (#48634)
  npm/install.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/boringssl/expose_ripemd160.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use correct signal variable in nan-spec-runner install check
  script/nan-spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Added canvas noise
  patches/chromium/.patches
  patches/chromium/added_canvas_noise_per_renderer.patch
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/web_contents_preferences.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7085081: Roll libc++ from d6739a332fe9 to bc00f6e9f739 (1 revision)
  filenames.libcxx.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

7081087: Move os_crypt/sync and os_crypt/async shared code to os_crypt/common
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use browser name as tray id
  patches/chromium/.patches
  patches/chromium/fix_linux_tray_id.patch
  shell/browser/ui/tray_icon_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: modify the thickFrame doc (#48579)
  docs/api/structures/base-window-options.md
Due: run-docs-only

chore: make linter happy
  docs/tutorial/online-offline-events.md
Due: run-docs-only

feat: add `app.isHardwareAccelerationEnabled()` (#47614)
  docs/api/app.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: avoid deprecated views a11y api (#47674)
  shell/browser/ui/views/autofill_popup_view.cc
  shell/browser/ui/views/autofill_popup_view.h
  shell/browser/ui/views/client_frame_view_linux.cc
  shell/browser/ui/views/menu_bar.cc
  shell/browser/ui/views/opaque_frame_view.cc
  shell/browser/ui/views/submenu_button.cc
  shell/browser/ui/views/win_caption_button.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove unnecessary .c_str()
  shell/browser/ui/tray_icon_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Focus DevTools when breakpoint is triggered
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use string_view instead of string&
  patches/chromium/fix_linux_tray_id.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add net.isOnline() to online/offline detection tutorial (#48665)
  docs/tutorial/online-offline-events.md
Due: run-docs-only

Removed semi-colon for uniform js code style in examples
  docs/tutorial/security.md
Due: run-docs-only

docs: security.md use runnable examples for permissions and csp
  docs/tutorial/security.md
Due: run-docs-only

docs: security.md/session.md incorporated more review feedback
  docs/tutorial/security.md
Due: run-docs-only

docs: security.md, session.md - added clarification on defaultSession, added csp example
  docs/api/session.md
  docs/tutorial/security.md
Due: run-docs-only

docs: security.md/session.md incorporated review feedback
  docs/api/session.md
  docs/tutorial/security.md
Due: run-docs-only
