Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$

Update and rename npm/package.json to Rakefile
  Rakefile
Due: run-build-mac, run-build-linux, run-docs-only=false

Update .patches
  patches/node/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: left is a valid mode in contents.openDevTools() options (#32372)
  docs/api/web-contents.md
Due: run-docs-only

docs: left is a valid mode in contents.openDevTools() options
  docs/api/web-contents.md
Due: run-docs-only

fix: incorrect `skipTransformProcessType` option parsing in `win.setVisibleOnAllWorkspaces()` (#32364)
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: incorrect `skipTransformProcessType` option parsing in `win.setVisibleOnAllWorkspaces()`
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fix note for `will-move` event (#32362)
  docs/api/browser-window.md
Due: run-docs-only

docs: fix note for `will-move` event
  docs/api/browser-window.md
Due: run-docs-only

chore: cherry-pick 05ccacee14 from v8. (#32216)
  patches/v8/.patches
  patches/v8/version_9_6_180_13_cherry-pick.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify case insensitive dictionary hosting (#32222)
  docs/api/session.md
Due: run-docs-only

docs: clarify case insensitive dictionary hosting
  docs/api/session.md
Due: run-docs-only

chore: cherry-pick dbde8795233a from chromium (#32210)
  patches/chromium/.patches
  patches/chromium/cherry-pick-dbde8795233a.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick bdffa0ea51 from angle
  patches/angle/.patches
  patches/angle/m96_fix_changing_attached_renderbuffer_from_msrtt_to_non-msrtt.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 891020ed64d4 from angle (#32224)
  patches/angle/.patches
  patches/angle/cherry-pick-891020ed64d4.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/angle/cherry-pick-891020ed64d4.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.0.0-nightly.20220110
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

3289198: Enables calculating line, word and sentence boundaries on the browser
  patches/chromium/mas_no_private_api.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3292117: Remove unneeded base/compiler_specific.h includes in //chrome.
  patches/chromium/pepper_plugin_support.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3240963: content: allow embedder to prevent locking scheme registry
  patches/chromium/.patches
  patches/chromium/delay_lock_the_protocol_scheme_registry.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3276176: Remove expired gdi-text-printing flag and associated code.
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3269899: Rename WebContentsImpl::GetFrameTree to GetPrimaryFrameTree
  patches/chromium/web_contents.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3275564: [api] Advance API deprecation for APIs last marked in v9.6
  shell/common/gin_helper/locker.h
Due: run-build-mac, run-build-linux, run-docs-only=false

3276279: Enable -Wshadow by default for the "chromium code" config.
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3264212: Move legacy file loading to legacy_test_runner
  lib/renderer/inspector.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

3261873: Clean up WebScriptSource constructors
  docs/api/structures/web-source.md
  shell/renderer/api/electron_api_web_frame.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

3279346: appcache: Remove ConsoleMessage appcache field
  shell/browser/api/electron_api_service_worker_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

3279737: appcache: Remove WebPreference/WebSetting
  shell/browser/electron_browser_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch indices
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_v8_initialization_isolate_callbacks.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/chore_use_electron_resources_not_chrome_for_spellchecker.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_patch_out_profile_refs_in_accessibility_ui.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
  patches/v8/build_gn.patch
  patches/v8/dcheck.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
  patches/v8/expose_mksnapshot.patch
  patches/v8/fix_disable_implies_dcheck_for_node_stream_array_buffers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump Chromium to 98.0.4728.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

3290415: x11: remove the USE_X11 define.
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

3299445: Consolidate is_win conditionals in chrome/test/BUILD.gn.
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3179530: Defer system calls in PrintingContext for OOP printing
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

3223975: Break PrintJobWorker OOP logic into separate class
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false
