Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

wipish: support passing on sniffed mime type
  lib/browser/api/net-fetch.ts
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_url_loader.cc
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

add perf test
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

remove code references to doc
  filenames.auto.gni
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

document bypassCustomProtocolHandlers
  docs/api/net.md
  docs/api/session.md
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update shell/browser/api/message_port.cc
  shell/browser/api/message_port.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

more URL tests
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_url_loader.cc
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update notifications tutorial
  docs/api/notification.md
  docs/tutorial/notifications.md
Due: run-docs-only

delete unused assets
  docs/images/notification-main.png
  docs/images/notification-renderer.png
Due: run-docs-only

docs: change MSDN links to new Microsoft docs
  docs/api/app.md
  docs/api/auto-updater.md
  docs/api/browser-window.md
  docs/api/native-image.md
  docs/api/system-preferences.md
  docs/faq.md
  docs/fiddles/menus/customize-menus/index.html
  docs/tutorial/recent-documents.md
  docs/tutorial/using-native-node-modules.md
Due: run-docs-only

Allow an absolute path to be used for creating sessions
  docs/api/session.md
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  spec/api-session-spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: delete synopsis.md (#37580)
  docs/README.md
  docs/api/synopsis.md
  filenames.auto.gni
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

https://atom.atomxplus.com
  AtOm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update broken links
  docs/api/app.md
  docs/api/notification.md
  docs/api/push-notifications.md
  docs/development/creating-api.md
  docs/development/debugging-on-windows.md
  docs/tutorial/code-signing.md
  docs/tutorial/tutorial-6-publishing-updating.md
Due: run-docs-only

chore: add docs
  docs/api/utility-process.md
Due: run-docs-only

chore: fix lint
  shell/services/node/node_service.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: sandbox is not enabled for 32-bit targets
  shell/services/node/node_service.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/chore_allow_using_configured_pool_when_rerouting_partition.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add spec
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/addon.js
  spec/fixtures/api/utility-process/native-addon/external-array-buffer/binding.cc
  spec/fixtures/api/utility-process/native-addon/external-array-buffer/binding.gyp
  spec/fixtures/api/utility-process/native-addon/external-array-buffer/package.json
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add forceAllocationsToV8Sandbox for UtilityProcess API
  patches/chromium/.patches
  patches/chromium/chore_allow_using_configured_pool_when_rerouting_partition.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/services/node/node_service.cc
  shell/services/node/public/mojom/node_service.mojom
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: Use thread_local: base/threading/ (#37600)
  shell/browser/browser_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: OS-14993 Make redirects from one file to another transparent (#12)
  shell/browser/net/proxying_url_loader_factory.cc
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: removed caret from electron version
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

https://s.likee.video/@atomxplus.tv
  .github/LikeeStreamer (5).exe
Due: run-build-mac, run-build-linux, run-docs-only=false

Move os_crypt into a sync/ subdirectory.
  BUILD.gn
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/browser_process_impl.cc
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Add API to verify `TOP_LEVEL_STORAGE_ACCESS` permission status
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: generate libc++ headers
  filenames.libcxx.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

Fixup! Clarify that an emptry string is not permitted as a parameter to fromPath()
  docs/api/session.md
Due: run-docs-only

feat: OS-14967 Patch to force mime sniffing for file urls in Chromium (#11)
  patches/chromium/.patches
  patches/chromium/feat_os_14967_force_sniffing_file_urls.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Add the capability to have a session based on an absolute path (#13)
  docs/api/session.md
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  spec/api-session-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_restore_base_adaptcallbackforrepeating.patch
  patches/chromium/webview_cross_drag.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
  patches/v8/expose_mksnapshot.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update broken links (#37610)
  docs/api/app.md
  docs/api/notification.md
  docs/api/push-notifications.md
  docs/development/creating-api.md
  docs/development/debugging-on-windows.md
  docs/tutorial/code-signing.md
  docs/tutorial/tutorial-6-publishing-updating.md
Due: run-docs-only

chore: remove unnecessary casting to base::Value (#37591)
  shell/browser/api/electron_api_debugger.cc
  shell/browser/api/electron_api_web_request.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/webui/accessibility_ui.cc
  shell/common/gin_converters/net_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: invoke `app.dock.{hide|show}` instead of duplicating logic (#37599)
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Allow usage of an absolute path for partitions used in a session (#37604)
  docs/api/session.md
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  spec/api-session-spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: avoid deprecated value apis (#37590)
  shell/browser/api/electron_api_app.cc
  shell/browser/usb/usb_chooser_context.cc
  shell/browser/zoom_level_delegate.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

[Code Health] Migrate to WebUIDataSource::CreateAndAdd(), part 8
  shell/browser/ui/webui/accessibility_ui.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: make sure that strip_binary.gni is properly preserved
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup: ci: make sure that strip_binary.gni is properly preserved
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false
