Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

docs: corrected BrowserWindow wrong usage and change window.messagePort to window.electronMessagePort
  docs/tutorial/message-ports.md
Due: run-docs-only

docs: changed event.data to data under the message.port in docs
  docs/tutorial/message-ports.md
Due: run-docs-only

fix: set macOS crypto keychain name earlier
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

spec: ensure arm64 mac tests are cleaned up
  .circleci/config/base.yml
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix lint
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/services/node/node_service.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update exit event
  docs/api/utility-process.md
Due: run-docs-only

chore: initial scaffolding
  BUILD.gn
  build/webpack/webpack.config.utility_node.js
  docs/api/process.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/module-list.ts
  lib/browser/api/utility-process.ts
  lib/common/reset-search-paths.ts
  lib/utility_node/api/exports/electron.ts
  lib/utility_node/api/module-list.ts
  lib/utility_node/init.ts
  script/gen-filenames.ts
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
  shell/services/node/public/mojom/BUILD.gn
  shell/services/node/public/mojom/node_service.mojom
  shell/utility/electron_content_utility_client.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: reenable SetNodeOptions for utility process
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: update process.parentPort API
  docs/api/process.md
  docs/api/utility-process.md
  filenames.gni
  lib/utility_process/init.ts
  patches/chromium/.patches
  patches/chromium/feat_support_remapping_inheriting_fds_handles_for_service_process.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/node_service_host_impl.cc
  shell/browser/node_service_host_impl.h
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
  shell/services/node/public/mojom/node_service.mojom
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/post-message.js
  spec/fixtures/api/utility-process/receive-message.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: tests on linux
  spec/api-utility-process-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: shutdown of pipe reader
  lib/browser/api/utility-process.ts
  shell/browser/api/electron_api_utility_process.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore(win): implement stdio interface
  patches/chromium/.patches
  patches/chromium/chore_posix_support_remapping_fds_when_launching_service_process.patch
  patches/chromium/feat_remap_fds_or_inherit_handles_for_child_process.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove exit code check for crash spec
  spec/api-utility-process-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: cleanup of utility process on shutdown
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/browser/electron_browser_main_parts.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: implement interface and docs
  docs/api/utility-process.md
  filenames.auto.gni
  lib/browser/api/utility-process.ts
  lib/common/init.ts
  lib/utility_node/init.ts
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/browser/electron_browser_main_parts.cc
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
  shell/services/node/public/mojom/BUILD.gn
  shell/services/node/public/mojom/node_service.mojom
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: add specs
  docs/api/utility-process.md
  lib/browser/api/utility-process.ts
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/empty.js
  spec/fixtures/api/utility-process/endless.js
  spec/fixtures/api/utility-process/fake-packaged-app/main.js
  spec/fixtures/api/utility-process/fake-packaged-app/package.json
  spec/fixtures/api/utility-process/inherit-stderr/main.js
  spec/fixtures/api/utility-process/inherit-stderr/package.json
  spec/fixtures/api/utility-process/inherit-stderr/test.js
  spec/fixtures/api/utility-process/inherit-stdout/main.js
  spec/fixtures/api/utility-process/inherit-stdout/package.json
  spec/fixtures/api/utility-process/inherit-stdout/test.js
  spec/fixtures/api/utility-process/log.js
  spec/fixtures/api/utility-process/post-message.js
  spec/fixtures/api/utility-process/preload.js
  spec/fixtures/api/utility-process/receive-message.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: expand on some comments
  shell/browser/api/electron_api_utility_process.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: update kill API
  docs/api/utility-process.md
  lib/browser/api/utility-process.ts
  spec/api-utility-process-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: rename disableLibraryValidation => allowLoadingUnsignedLibraries
  docs/api/utility-process.md
  shell/browser/api/electron_api_utility_process.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: rm PR_SET_NO_NEW_PRIVS for unsandbox utility process
  patches/chromium/allow_new_privileges_in_unsandboxed_child_processes.patch
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/suid.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix incorrect rebase
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: address code style review
  BUILD.gn
  build/webpack/webpack.config.utility_process.js
  docs/api/process.md
  docs/api/utility-process.md
  filenames.auto.gni
  lib/browser/api/utility-process.ts
  lib/common/init.ts
  lib/common/reset-search-paths.ts
  lib/utility_process/api/exports/electron.ts
  lib/utility_process/api/module-list.ts
  lib/utility_process/init.ts
  script/gen-filenames.ts
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
  shell/common/node_bindings.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: implement process.parentPort
  docs/api/utility-process.md
  lib/browser/api/utility-process.ts
  lib/utility_process/init.ts
  shell/browser/api/electron_api_utility_process.cc
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
  shell/services/node/public/mojom/node_service.mojom
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: exit event
  shell/browser/api/electron_api_app.cc
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/crash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: simplify NodeBindings::CreateEnvironment
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore(posix): implement stdio pipe interface
  docs/api/utility-process.md
  lib/browser/api/utility-process.ts
  patches/chromium/.patches
  patches/chromium/chore_posix_support_remapping_fds_when_launching_service_process.patch
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_utility_process.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: address review feedback
  docs/api/utility-process.md
  filenames.auto.gni
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Bump v22.0.0-nightly.20220923
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential exception when calling webFrameMainBinding.fromIdOrNull()
  lib/browser/api/web-contents.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a66438897056 from pdfium
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a66438897056.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/pdfium/cherry-pick-a66438897056.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a66438897056 from pdfium
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a66438897056.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 497f077a1d46 from pdfium
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-497f077a1d46.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 497f077a1d46 from pdfium
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-497f077a1d46.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7f0bb5197ed1 from pdfium
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-7f0bb5197ed1.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/pdfium/cherry-pick-497f077a1d46.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7f0bb5197ed1 from pdfium
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-7f0bb5197ed1.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
