Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix
  shell/browser/net/electron_url_loader_factory.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix types
  spec/webview-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fail silently when SendReply is called multiple times
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/tutorial/web-embeds.md
  docs/tutorial/web-embeds.md
Due: run-docs-only

address review
  docs/api/base-window.md
  lib/browser/api/browser-view.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

rough example
  docs/api/base-window.md
  docs/api/view.md
Due: run-docs-only

build: only retry tests on CI
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: expose native bindings by process type (#35949)
  docs/development/creating-api.md
  shell/common/node_bindings.cc
  spec-main/internal-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick d652130c4bc2 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-d652130c4bc2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick e545559df538 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-e545559df538.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: expose native bindings by process type
  docs/development/creating-api.md
  shell/common/node_bindings.cc
  spec/internal-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-e545559df538.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-d652130c4bc2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add missing clipboard-sanitized-write permission value to setPermissionRequestHandler()
  docs/api/session.md
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-d652130c4bc2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove load-url event
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: expose native bindings by process type (#35949)
  docs/development/creating-api.md
  shell/common/node_bindings.cc
  spec/internal-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add sender to web-contents-created
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

rename ReplySender -> ReplyChannel
  shell/browser/api/electron_api_web_contents.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

rename PreventableEvent to Event
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event_emitter.h
  shell/common/gin_helper/preventable_event.cc
  shell/common/gin_helper/preventable_event.h
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

CustomEvent -> Event
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event_emitter.h
  shell/common/gin_helper/preventable_event.cc
  shell/common/gin_helper/preventable_event.h
Due: run-build-mac, run-build-linux, run-docs-only=false

forgot some replySender->Channel
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

rename files
  filenames.gni
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event.cc
  shell/common/gin_helper/event.h
  shell/common/gin_helper/event_emitter.h
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: type for received-apns-notification event
  docs/api/push-notifications.md
Due: run-docs-only

remove Event.sender for most events
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event.cc
  shell/common/gin_helper/event.h
  shell/common/gin_helper/event_emitter.h
Due: run-build-mac, run-build-linux, run-docs-only=false

drop CreateEvent for Event::New
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event.cc
  shell/common/gin_helper/event.h
  shell/common/gin_helper/event_emitter.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: type for received-apns-notification event (#37177)
  docs/api/push-notifications.md
Due: run-docs-only

chore: cherry-pick e545559df538 from chromium (#37172)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e545559df538.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: only retry tests on CI (#37167)
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: correct redefinition which is invalid C++ (#36096)
  patches/chromium/export_gin_v8platform_pageallocator_for_usage_outside_of_the_gin.patch
  shell/browser/javascript_environment.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

spec: ensure fullscreen test is retryable
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix test
  spec/internal-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: mark some node specs as flaky
  patches/node/.patches
  patches/node/test_mark_cpu_prof_tests_as_flaky_in_electron.patch
  script/node-spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false
