Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: fix flaky reentrant loadURL tests by awaiting did-stop-loading
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify content_view_ hit-test transparency on macOS
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/tutorial/code-signing.md
  docs/tutorial/code-signing.md
Due: run-docs-only

perf: use GIO instead of `xdg-mime` for `app.getApplicationNameForProtocol()` (#51251)
  shell/browser/browser_linux.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: SafeStorage never emits, so do not inherit from EventEmitter (#51057)
  shell/browser/api/electron_api_safe_storage.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: save window state (#47425)
  docs/api/structures/base-window-options.md
  docs/api/structures/window-state-persistence.md
  filenames.auto.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/browser_process_impl.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/common/electron_constants.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/window-state-save/close-save/index.js
  spec/fixtures/api/window-state-save/fullscreen-save/index.js
  spec/fixtures/api/window-state-save/kiosk-save/index.js
  spec/fixtures/api/window-state-save/maximize-save/index.js
  spec/fixtures/api/window-state-save/minimize-save/index.js
  spec/fixtures/api/window-state-save/move-save/index.js
  spec/fixtures/api/window-state-save/resize-save/index.js
  spec/fixtures/api/window-state-save/schema-check/index.js
  spec/fixtures/api/window-state-save/work-area-primary/index.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: multi monitor tests for save/restore window state (#48048)
  docs/development/multi-monitor-testing.md
  shell/browser/native_window.cc
  spec/api-browser-window-spec.ts
  spec/fixtures/native-addon/virtual-display/include/VirtualDisplayBridge.h
  spec/fixtures/native-addon/virtual-display/src/Dummy.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplay.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplayBridge.m
  spec/fixtures/native-addon/virtual-display/src/addon.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: enforce unique window names across BaseWindow and BrowserWindow (#47764)
  docs/api/structures/base-window-options.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: clear and restore window state (#47781)
  docs/api/base-window.md
  docs/api/structures/base-window-options.md
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: support for multimonitor tests (#47911)
  docs/development/multi-monitor-testing.md
  docs/development/testing.md
  spec/fixtures/native-addon/virtual-display/binding.gyp
  spec/fixtures/native-addon/virtual-display/include/VirtualDisplayBridge.h
  spec/fixtures/native-addon/virtual-display/lib/virtual-display.js
  spec/fixtures/native-addon/virtual-display/package.json
  spec/fixtures/native-addon/virtual-display/src/Dummy.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplay.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplayBridge.m
  spec/fixtures/native-addon/virtual-display/src/addon.mm
  spec/package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fixup yarn.lock, lint
  spec/api-browser-window-spec.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add 'restored-persisted-state' event to BaseWindow (#50516)
  docs/README.md
  docs/api/base-window.md
  docs/api/structures/base-window-options.md
  docs/development/multi-monitor-testing.md
  docs/tutorial/window-state-persistence.md
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_observer.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/window-state-save/schema-check/index.js
  spec/fixtures/native-addon/virtual-display/lib/virtual-display.js
  spec/fixtures/native-addon/virtual-display/package.json
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove nut-js dependent tests
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix build errors after rebase onto main
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: rewrite virtual-display addon in Objective-C, removing Swift dependency
  spec/fixtures/native-addon/virtual-display/binding.gyp
  spec/fixtures/native-addon/virtual-display/src/Dummy.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplay.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplayBridge.m
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify content_view_ hit-test transparency on macOS (#51626)
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: skip current instance's child processes in Windows orphan killer
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify content_view_ hit-test transparency on macOS (#51625)
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(patch-conflict): update sqlite rename_exports.h for sqlite 3.53.1 upgrade
  patches/sqlite/fix_rename_sqlite_win32_exports_to_avoid_conflicts_with_node_js.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix macos display tests
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

7836112: inline media_capture_util after upstream removal
  shell/browser/extensions/electron_extension_host_delegate.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: resolve 30s delay in parentless showMessageBox on Linux
  docs/api/dialog.md
  shell/browser/ui/message_box_gtk.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add Linux startup notification APIs
  docs/api/app.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: reset hover state when disabling mouse event forwarding on Windows
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preserve DIP size on programmatic cross-DPI setBounds on Windows
  patches/chromium/.patches
  patches/chromium/fix_preserve_dip_size_on_programmatic_cross-dpi_setbounds.patch
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 3 changes from chromium, skia, angle (42-x-y)
  patches/angle/.patches
  patches/angle/cherry-pick-d8ffa7447da0.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 8 changes from chromium, skia, angle (41-x-y)
  patches/angle/.patches
  patches/angle/cherry-pick-d8ffa7447da0.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-411ebd37c1e0.patch
  patches/chromium/cherry-pick-743a681ba8c9.patch
  patches/chromium/cherry-pick-788e99004847.patch
  patches/chromium/cherry-pick-9674640f1813.patch
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/chromium/cherry-pick-cc6431e78e7b.patch
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7 changes from chromium, skia (40-x-y)
  patches/chromium/.patches
  patches/chromium/cherry-pick-411ebd37c1e0.patch
  patches/chromium/cherry-pick-743a681ba8c9.patch
  patches/chromium/cherry-pick-788e99004847.patch
  patches/chromium/cherry-pick-9674640f1813.patch
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/chromium/cherry-pick-cc6431e78e7b.patch
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 3 changes from chromium, skia, angle (42-x-y) (#51646)
  patches/angle/.patches
  patches/angle/cherry-pick-d8ffa7447da0.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 8 changes from chromium, skia, angle (41-x-y) (#51647)
  patches/angle/.patches
  patches/angle/cherry-pick-d8ffa7447da0.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-411ebd37c1e0.patch
  patches/chromium/cherry-pick-743a681ba8c9.patch
  patches/chromium/cherry-pick-788e99004847.patch
  patches/chromium/cherry-pick-9674640f1813.patch
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/chromium/cherry-pick-cc6431e78e7b.patch
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: fix capturing fatal errors in clang problem matcher
  .github/problem-matchers/clang.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7 changes from chromium, skia (40-x-y) (#51648)
  patches/chromium/.patches
  patches/chromium/cherry-pick-411ebd37c1e0.patch
  patches/chromium/cherry-pick-743a681ba8c9.patch
  patches/chromium/cherry-pick-788e99004847.patch
  patches/chromium/cherry-pick-9674640f1813.patch
  patches/chromium/cherry-pick-bd0b5614e7e5.patch
  patches/chromium/cherry-pick-cc6431e78e7b.patch
  patches/skia/.patches
  patches/skia/cherry-pick-3150bddf3edd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove vestigial shell:true from spec yarn install spawn
  script/spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: set no color output during build
  .github/actions/build-electron/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: restore CHROMIUM_BUILDTOOLS_PATH in devcontainer config
  .devcontainer/on-create-command.sh
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make heap snapshot OOM test allocate faster
  spec/api-utility-process-spec.ts
  spec/fixtures/api/utility-process/oom-grow.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: SafeStorage never emits, so do not inherit from EventEmitter (#51057) (#51629)
  shell/browser/api/electron_api_safe_storage.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
