Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: [21-x-y] cherry-pick ca2b108a0f1f from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

methods go on the prototype
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix lint
  docs/api/base-window.md
  docs/tutorial/security.md
Due: run-docs-only

refactor: move gin_helper::Constructible methods to prototype
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_view.h
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/electron_api_web_frame_main.h
  shell/common/gin_helper/constructible.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: use automatic link syntax for symbol server link
  docs/development/debugging-with-symbol-server.md
Due: run-docs-only

Fix partitions in code cache
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/net/network_context_service.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Store http cache in userCache
  shell/browser/net/network_context_service.cc
  spec/api-app-spec.ts
  spec/fixtures/apps/set-path/main.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Write code cache to userCache
  docs/api/app.md
  docs/tutorial/where-to-store-app-data.md
  shell/browser/electron_browser_client.cc
  shell/browser/net/network_context_service.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update text of tutorial
  docs/tutorial/where-to-store-app-data.md
Due: run-docs-only

Add cache dir to NetworkContextsParentDirectory
  shell/browser/electron_browser_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Add sessionCache dir
  docs/api/app.md
  docs/tutorial/where-to-store-app-data.md
  shell/app/electron_main_delegate.cc
  shell/browser/api/electron_api_app.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/common/electron_paths.h
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Expose userCache and cache in app.getPath
  docs/api/app.md
  filenames.auto.gni
  shell/app/electron_main_delegate.cc
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Adjust words in docs
  docs/api/app.md
  docs/tutorial/where-to-store-app-data.md
Due: run-docs-only

Add guidance on where to store app data
  docs/api/app.md
  docs/tutorial/where-to-store-app-data.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Add localUserData path
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Document the change of cache/userCache dirs
  docs/breaking-changes.md
Due: run-docs-only

docs: remove invalid appcache value from storages in clearStorageData()
  docs/api/session.md
Due: run-docs-only

build: fixup release_dependency_versions action (#37036)
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove mips64el build config
  appveyor-woa.yml
  appveyor.yml
  script/release/uploaders/upload.py
  script/strip-binaries.py
  script/zip-symbols.py
Due: run-build-mac, run-build-linux, run-docs-only=false

more cleanup
  filenames.gni
  lib/browser/api/browser-window.ts
  lib/browser/api/web-contents.ts
  lib/browser/guest-view-manager.ts
  shell/browser/api/electron_api_event.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/event.cc
  shell/browser/api/event.h
  shell/common/gin_helper/event_emitter.cc
  shell/common/gin_helper/event_emitter.h
  shell/common/node_bindings.cc
  typings/internal-ambient.d.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify events
  filenames.gni
  shell/browser/api/electron_api_event.cc
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/ui_event.cc
  shell/browser/api/ui_event.h
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/constructible.h
  shell/common/gin_helper/event_emitter.cc
  shell/common/gin_helper/event_emitter.h
  shell/common/gin_helper/event_emitter_template.cc
  shell/common/gin_helper/event_emitter_template.h
  shell/common/gin_helper/preventable_event.cc
  shell/common/gin_helper/preventable_event.h
Due: run-build-mac, run-build-linux, run-docs-only=false

drop unneeded headers
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

simplify ui_event
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/ui_event.cc
  shell/browser/api/ui_event.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Update yarn.lock
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

remove EmitCustomEvent
  shell/browser/api/electron_api_web_contents.h
  shell/browser/event_emitter_mixin.h
  shell/common/gin_helper/event_emitter.h
Due: run-build-mac, run-build-linux, run-docs-only=false

3696127: win: Fix touch mode detection DCHECK in canary
  patches/chromium/.patches
  patches/chromium/win_fix_touch_mode_detection_dcheck_in_canary.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

correctly initialize PreventableEvent
  shell/common/gin_helper/preventable_event.cc
  shell/common/gin_helper/preventable_event.h
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

remove _reply and _throw
  lib/browser/api/web-contents.ts
  lib/browser/ipc-main-impl.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

make some tests more lax about prototype vs object
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

every PreventableEvent has a sender
  shell/common/gin_helper/preventable_event.cc
  shell/common/gin_helper/preventable_event.h
Due: run-build-mac, run-build-linux, run-docs-only=false

use PreventableEvent from the other PR
  shell/browser/api/electron_api_web_contents.cc
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

more
  spec/api-web-frame-main-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: nodeIntegrationInWorker fails to boot in AudioWorklets (#37041)
  lib/worker/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix typescript-definitions
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/browser/net/electron_url_loader_factory.h
  shell/browser/net/electron_url_loader_factory.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: emitting events on preloadProcess in lib/sandboxed_renderer/init.ts
  lib/sandboxed_renderer/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use new type defs
  docs/api/structures/event.md
  docs/api/structures/ipc-main-event.md
  docs/api/structures/ipc-main-invoke-event.md
  docs/api/structures/ipc-renderer-event.md
  filenames.auto.gni
  package.json
  spec/ts-smoke/electron/main.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove invalid appcache value from storages in clearStorageData() (#37095)
  docs/api/session.md
Due: run-docs-only

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
