Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: prevent log files being written to current directory on Windows (#44413)
  shell/common/api/electron_api_testing.cc
  shell/common/logging.cc
  spec/fixtures/log-test.js
  spec/logging-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: move NativeWindow::RemoveChildWindow() to NativeWindowMac
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update Windows display affinity value
  docs/api/browser-window.md
Due: run-docs-only

docs: update Windows behavior description
  docs/api/browser-window.md
Due: run-docs-only

Update docs/api/command-line.md
  docs/api/command-line.md
Due: run-docs-only

Update docs/api/browser-window.md
  docs/api/browser-window.md
Due: run-docs-only

Update docs/api/download-item.md
  docs/api/download-item.md
Due: run-docs-only

Update docs/api/global-shortcut.md
  docs/api/global-shortcut.md
Due: run-docs-only

refactor: make NativeWindow::fullscreen_transition_state_ private
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: add NativeWindow::is_transitioning_fullscreen() helper
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove unused NativeWindow::fullscreen_transition_state()
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::titlebar_overlay_height_ private
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::set_has_frame() protected
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/browser/ui/file_dialog_linux_portal.cc
  shell/browser/ui/file_dialog_linux_portal.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: replace NativeWindow::set_fullscreen_transition_state() with NativeWindow::set_is_transitioning_fullscreen()
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove NativeWindow::background_material()
  shell/browser/native_window.cc
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: unfriend api::BrowserView
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove NativeWindow::vibrancy()
  shell/browser/native_window.cc
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: add NativeWindow::FromWidet() helper
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: make NativeWindow::ContentBoundsToWindowBounds() protected
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

test: test menu rendering accelerators
  spec/api-global-shortcut-spec.ts
  spec/api-menu-spec.ts
  spec/lib/accelerator-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Update spec/api-menu-spec.ts
  spec/api-menu-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat(macos): add --disable-geolocation-mac command-line flag
  docs/api/command-line-switches.md
  shell/browser/electron_browser_main_parts_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

internally deny geolocation requests if flag set
  docs/api/command-line-switches.md
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

move IsGeolocationDisabledViaCommandLine inside ElectronPermissionManager as a static member
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Due: run-build-mac, run-build-linux, run-docs-only=false

wrap PermissionRequestHandler instead
  docs/api/command-line-switches.md
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

wrap custom handler and deny regardless of response
  docs/api/command-line-switches.md
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_browser_main_parts_mac.mm
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update docs/api/command-line-switches.md
  docs/api/command-line-switches.md
Due: run-docs-only

tests added: minor changes
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

tests added
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

resolving conflicts during rebase
  shell/browser/api/electron_api_session.cc
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: inject fixturesPath via --boot-eval
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

6509206: Move Keychain UI suppression code into apple_keychain.cc
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: xdg portal version detection for file dialogs on linux (#46905)
  filenames.gni
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  shell/browser/ui/file_dialog.h
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_linux_portal.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

6489036: Fix DesktopDataControlsDialog for Glic
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update includes
  shell/common/logging.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_allow_code_cache_in_custom_schemes.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/gtk_visibility.patch
  patches/chromium/hack_to_allow_gclient_sync_with_host_os_mac_on_linux_in_ci.patch
  patches/chromium/make_gtk_getlibgtk_public.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/partially_revert_is_newly_created_to_allow_for_browser_initiated.patch
  patches/chromium/picture-in-picture.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

6506662: Reland "NavigationThrottleRunner2: content::NavigationThrottleRegistry"
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
