Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

Fix up unit test and tweak documentation to call out listener requirement for navigator.credentials.get() calls
  docs/api/session.md
  spec/api-web-authn-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: use the registering session for ProtocolResponse.url requests
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/net/electron_url_loader_factory.cc
  shell/browser/net/electron_url_loader_factory.h
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/api/electron_api_url_loader.cc
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: fix generating ffmpeg (#52108)
  .github/actions/build-electron/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: inherit iframe sandbox flags in windows opened on the OpenURL navigation path
  lib/browser/api/web-contents.ts
  lib/browser/guest-window-manager.ts
  shell/browser/api/electron_api_web_contents.cc
  spec/chromium-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: add release build workflow separate from publishing
  .github/actions/build-electron/action.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/release-build.yml
  .github/workflows/windows-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9 changes from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-045d3557e2ad.patch
  patches/chromium/cherry-pick-05b31a349539.patch
  patches/chromium/cherry-pick-3e497ff45cf2.patch
  patches/chromium/cherry-pick-5822dea3c6e8.patch
  patches/chromium/cherry-pick-7decfe7398f7.patch
  patches/chromium/cherry-pick-83a9ebad816e.patch
  patches/chromium/cherry-pick-851acf8f74cf.patch
  patches/chromium/cherry-pick-c3f3e076d61a.patch
  patches/chromium/cherry-pick-dc52460d5bf2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make reload menu items work with `BaseWindow` (#51985)
  lib/browser/api/menu-item-roles.ts
  spec/api-menu-item-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 4 changes from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-04f66fb96767.patch
  patches/chromium/cherry-pick-449a1ea22a42.patch
  patches/chromium/cherry-pick-57f1f723d5d5.patch
  patches/chromium/cherry-pick-f583b94a1374.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: only run gn-typescript-definitions for default toolchain
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: added documentation and a Fiddle for WCO breaking changes on Linux in Electron 43.x (#52018)
  docs/breaking-changes.md
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/index.html
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/main.js
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/styles.css
  docs/tutorial/custom-title-bar.md
Due: run-docs-only

Hacked
  Abinesh
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 12 changes from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-04f66fb96767.patch
  patches/chromium/cherry-pick-067fd777c0d1.patch
  patches/chromium/cherry-pick-0babc641d95e.patch
  patches/chromium/cherry-pick-1285ece45c13.patch
  patches/chromium/cherry-pick-30a20a1cc67a.patch
  patches/chromium/cherry-pick-449a1ea22a42.patch
  patches/chromium/cherry-pick-4febc44304bf.patch
  patches/chromium/cherry-pick-806fda7e35f3.patch
  patches/chromium/cherry-pick-814cb4953ecb.patch
  patches/chromium/cherry-pick-b9b2f0b7eca8.patch
  patches/chromium/cherry-pick-d7593e5c3f70.patch
  patches/chromium/cherry-pick-f583b94a1374.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Add missing period to orientation docs
  docs/api/structures/flex-layout-config.md
Due: run-docs-only

build: add release build workflow separate from publishing (#52097)
  .github/actions/build-electron/action.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/release-build.yml
  .github/workflows/windows-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update name of generated publish pipeline segment (#52096)
  .github/workflows/pipeline-segment-electron-publish.yml
  script/copy-pipeline-segment-publish.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use the registering session for ProtocolResponse.url requests (#52113)
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/net/electron_url_loader_factory.cc
  shell/browser/net/electron_url_loader_factory.h
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/api/electron_api_url_loader.cc
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: don't import from ../lib in API tests (#51905)
  .oxlintrc.json
  spec/api-menu-item-spec.ts
  spec/api-menu-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: added documentation and a Fiddle for WCO breaking changes on Linux in Electron 43.x (#52125)
  docs/breaking-changes.md
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/index.html
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/main.js
  docs/fiddles/features/window-customization/custom-title-bar/safe-area/styles.css
  docs/tutorial/custom-title-bar.md
Due: run-docs-only

feat: rounded corners for frameless windows on Linux (#51459)
  docs/api/structures/base-window-options.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/views/electron_frame_view_layout_linux.cc
  shell/browser/ui/views/electron_frame_view_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: float siso patch to fix poisoned cached subtree
  .github/siso-patches/0003-siso-do-not-let-background-subtree-upload-poison-the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: don't import from ../lib in API tests (#52136)
  .oxlintrc.json
  spec/api-menu-item-spec.ts
  spec/api-menu-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: build siso for linux and macOS
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/pgo-generation.yml
  .github/workflows/pipeline-segment-build-siso.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/release-build.yml
  .github/workflows/windows-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9 changes from chromium (#52116)
  patches/chromium/.patches
  patches/chromium/cherry-pick-045d3557e2ad.patch
  patches/chromium/cherry-pick-05b31a349539.patch
  patches/chromium/cherry-pick-3e497ff45cf2.patch
  patches/chromium/cherry-pick-5822dea3c6e8.patch
  patches/chromium/cherry-pick-7decfe7398f7.patch
  patches/chromium/cherry-pick-83a9ebad816e.patch
  patches/chromium/cherry-pick-851acf8f74cf.patch
  patches/chromium/cherry-pick-c3f3e076d61a.patch
  patches/chromium/cherry-pick-dc52460d5bf2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 4 changes from chromium (#52115)
  patches/chromium/.patches
  patches/chromium/cherry-pick-04f66fb96767.patch
  patches/chromium/cherry-pick-449a1ea22a42.patch
  patches/chromium/cherry-pick-57f1f723d5d5.patch
  patches/chromium/cherry-pick-f583b94a1374.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 12 changes from chromium (#52120)
  patches/chromium/.patches
  patches/chromium/cherry-pick-04f66fb96767.patch
  patches/chromium/cherry-pick-067fd777c0d1.patch
  patches/chromium/cherry-pick-0babc641d95e.patch
  patches/chromium/cherry-pick-1285ece45c13.patch
  patches/chromium/cherry-pick-30a20a1cc67a.patch
  patches/chromium/cherry-pick-449a1ea22a42.patch
  patches/chromium/cherry-pick-4febc44304bf.patch
  patches/chromium/cherry-pick-806fda7e35f3.patch
  patches/chromium/cherry-pick-814cb4953ecb.patch
  patches/chromium/cherry-pick-b9b2f0b7eca8.patch
  patches/chromium/cherry-pick-d7593e5c3f70.patch
  patches/chromium/cherry-pick-f583b94a1374.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 12 changes from chromium (#52121)
  patches/chromium/.patches
  patches/chromium/cherry-pick-04f66fb96767.patch
  patches/chromium/cherry-pick-067fd777c0d1.patch
  patches/chromium/cherry-pick-0babc641d95e.patch
  patches/chromium/cherry-pick-1285ece45c13.patch
  patches/chromium/cherry-pick-30a20a1cc67a.patch
  patches/chromium/cherry-pick-449a1ea22a42.patch
  patches/chromium/cherry-pick-4febc44304bf.patch
  patches/chromium/cherry-pick-806fda7e35f3.patch
  patches/chromium/cherry-pick-814cb4953ecb.patch
  patches/chromium/cherry-pick-b9b2f0b7eca8.patch
  patches/chromium/cherry-pick-d7593e5c3f70.patch
  patches/chromium/cherry-pick-f583b94a1374.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix workflow lint
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add error handlers on http requests
  spec/chromium-spec.ts
  spec/lib/spec-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add error handlers on http requests (#52139)
  spec/chromium-spec.ts
  spec/lib/spec-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: rounded corners for frameless windows on Linux (#52111)
  docs/api/structures/base-window-options.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/views/electron_frame_view_layout_linux.cc
  shell/browser/ui/views/electron_frame_view_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: move unity API removal to 44.0
  docs/breaking-changes.md
Due: run-docs-only

feat: emit select-client-certificate for net module requests
  docs/api/app.md
  filenames.gni
  lib/browser/api/app.ts
  shell/browser/api/electron_api_app.cc
  shell/browser/net/client_certificate_responder_delegate.cc
  shell/browser/net/client_certificate_responder_delegate.h
  shell/browser/net/url_loader_network_observer.cc
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.cc
  shell/common/api/electron_api_url_loader.h
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: match select-client-certificate webContents annotation to login event
  docs/api/app.md
Due: run-docs-only

chore: address review feedback on select-client-certificate for net module
  docs/api/app.md
  docs/api/utility-process.md
  docs/breaking-changes.md
  shell/browser/net/client_certificate_responder_delegate.cc
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: net module requests proceed without a client certificate when server requests one
  shell/browser/net/url_loader_network_observer.cc
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.cc
  shell/common/api/electron_api_url_loader.h
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: open fullscreen with resizable:false and frame:false on Windows
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make SelectClientCertificate and CreateClientCertStore public
  shell/browser/electron_browser_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false
