Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

replace try/catch in getWebFrameForEvent
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.3.14
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused GitHub action config file
  .github/semantic.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7f0bb5197ed1 from pdfium (#35791)
  patches/config.json
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-7f0bb5197ed1.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 7f0bb5197ed1 from pdfium (#35792)
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-7f0bb5197ed1.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Adjusted owner-window
  shell/browser/api/electron_api_browser_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/node/build_add_gn_build_files.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/support_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "fix: set macOS crypto keychain name earlier (#34683)"
  .circleci/config/base.yml
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential exception when calling webFrameMainBinding.fromIdOrNull() (#35785)
  lib/browser/api/web-contents.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential exception when calling webFrameMainBinding.fromIdOrNull()
  lib/browser/api/web-contents.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: minor grammar fixes in tutorial
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

build: fix major dependencies update workflow file
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/disable_freezing_flags_after_init_in_node.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_add_onclose_to_messageport.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_crash_when_saving_edited_pdf_files.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/hack_to_allow_gclient_sync_with_host_os_mac_on_linux_in_ci.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/printing.patch
  patches/chromium/render_widget_host_view_base.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_gn.patch
  patches/v8/dcheck.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
  patches/v8/expose_mksnapshot.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 497f077a1d46 from pdfium (#35789)
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-497f077a1d46.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: minor grammar fixes in tutorial (#35804)
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

build: remove unused GitHub app config file (#35797)
  .github/semantic.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a66438897056 from pdfium (#35788)
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a66438897056.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v22.0.0-nightly.20220926
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v21.0.0-beta.9
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v21.0.0-beta.9"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix major dependencies update workflow file (#35811)
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add support for Web Bluetooth pin pairing (#35416)
  docs/api/session.md
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/preload.js
  docs/fiddles/features/web-bluetooth/renderer.js
  docs/tutorial/devices.md
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
  shell/browser/bluetooth/electron_bluetooth_delegate.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add bluetooth pairing handler
  docs/api/session.md
  docs/fiddles/features/web-bluetooth/main.js
  docs/tutorial/devices.md
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
  shell/browser/bluetooth/electron_bluetooth_delegate.h
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_permission_manager.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update docs/api/session.md
  docs/api/session.md
Due: run-docs-only

chore: update docs per review
  docs/api/session.md
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/preload.js
  docs/fiddles/features/web-bluetooth/renderer.js
Due: run-docs-only

docs: update based on review
  docs/api/session.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cleanup callback per review
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
  shell/browser/bluetooth/electron_bluetooth_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Apply suggestions from code review
  docs/api/session.md
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick a66438897056 from pdfium (#35787)
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a66438897056.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add WebContents.opener and webContents.fromFrame() (#35140)
  docs/api/web-contents.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add WebContents.opener
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec-main/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: fix and add more fromFrame cases
  lib/browser/api/web-contents.ts
  spec-main/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add webContents.fromFrame(frame)
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec-main/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: unknown type name
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
