Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

ci: cut the wall time of the macOS build job
  .github/actions/build-electron/action.yml
  .github/actions/fix-sync/action.yml
  .github/actions/free-space-macos/action.yml
  .github/actions/free-space-macos/wait-for-free-space.sh
  .github/actions/restore-cache-azcopy/action.yml
  .github/actions/restore-cache-azcopy/download-parallel.sh
  .github/actions/upload-build-artifacts/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-publish.yml
  .github/workflows/pipeline-segment-electron-test.yml
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: regenerate the publish pipeline segment
  .github/workflows/pipeline-segment-electron-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: fetch the src cache as 8 MiB ranges
  .github/actions/restore-cache-azcopy/action.yml
  .github/actions/restore-cache-azcopy/download-parallel.sh
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when the environment is written while another thread reads it (#53491)
  BUILD.gn
  shell/app/environ_linux.cc
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/node_bindings.cc
  spec/api-process-spec.ts
  spec/fixtures/api/environ-write-race.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: ensure force pushes work well with paths-filter
  .github/actions/paths-filter/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: let CI run on this branch
  .github/workflows/build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: trigger some clang-tidy failures for checking
  .clang-tidy
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: messagePort managed by cppgc (#53464)
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/ipc_dispatcher.h
  shell/browser/api/message_port.cc
  shell/browser/api/message_port.h
  shell/common/gin_helper/wrappable_pointer_tags.h
  shell/services/node/parent_port.cc
  spec/api-ipc-spec.ts
  spec/api-utility-process-spec.ts
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: leave fullscreen before destroying a window on macOS (#53502)
  spec/api-browser-window-spec.ts
  spec/lib/window-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: treat NaN window opacity as fully opaque on macOS
  shell/browser/native_window_mac.mm
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: share window opacity clamp between Mac and Views
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: note that MenuItem badges are not displayed in Dock menus
  docs/api/menu-item.md
  docs/tutorial/macos-dock.md
Due: run-docs-only

fix: apply zoom level set before the first navigation in persistent zoom modes
  shell/browser/web_contents_zoom_controller.cc
  shell/browser/web_contents_zoom_controller.h
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: note that MenuItem badges are not displayed in Dock menus (#53227)
  docs/api/menu-item.md
  docs/tutorial/macos-dock.md
Due: run-docs-only

build: use build-tools' clang-tidy siso rule
  .github/actions/install-build-tools/action.yml
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  build/run-clang-tidy-action.sh
  build/siso/main.star
  script/gen-clang-tidy-ninja.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: support partial BaseWindow bounds
  lib/browser/api/base-window.ts
  lib/browser/api/browser-window.ts
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when the environment is written while another thread reads it (#53511)
  BUILD.gn
  shell/app/environ_linux.cc
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/node_bindings.cc
  spec/api-process-spec.ts
  spec/fixtures/api/environ-write-race.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when the environment is written while another thread reads it (#53510)
  BUILD.gn
  shell/app/environ_linux.cc
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/node_bindings.cc
  spec/api-process-spec.ts
  spec/fixtures/api/environ-write-race.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when the environment is written while another thread reads it (#53509)
  BUILD.gn
  shell/app/environ_linux.cc
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/node_bindings.cc
  spec/api-process-spec.ts
  spec/fixtures/api/environ-write-race.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: run gn gen from gen-clang-tidy-ninja.py
  .github/workflows/pipeline-segment-electron-clang-tidy.yml
  script/gen-clang-tidy-ninja.py
Due: run-build-mac, run-build-linux, run-docs-only=false

build: set clang-tidy's header filter in .clang-tidy
  .clang-tidy
  build/run-clang-tidy-action.sh
  script/run-clang-tidy.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Added MDN and W3C document links for UA metadata
  docs/api/structures/user-agent-metadata.md
Due: run-docs-only

Remove the trailing spaces in docs/api/app.md
  docs/api/app.md
Due: run-docs-only

fix: Renamed user agent specific documents
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/session.md
  docs/api/structures/user-agent-brand-version.md
  docs/api/structures/user-agent-metadata.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
Due: run-docs-only

Fixed all issues
  docs/api/structures/user-agent-brand-version.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/common/gin_converters/blink_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: support for overriding user agent metadata
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/session.md
  docs/api/structures/brand-version.md
  docs/api/structures/useragent-metadata.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/common/gin_converters/blink_converter.cc
  shell/common/gin_converters/blink_converter.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Make the setUserAgent* take an options object instead
  docs/api/app.md
  docs/api/session.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: preserve user agent metadata during conversion
  docs/api/structures/user-agent-metadata.md
  docs/api/web-contents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/common/gin_converters/blink_converter.cc
  spec/api-session-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Fixed a typo in document
  docs/api/web-contents.md
Due: run-docs-only

Make all fields of UserAgentMetadata optional
  shell/common/gin_converters/blink_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Added a test to check for child window too
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Updated the document of UserAgentMetadata
  docs/api/structures/user-agent-metadata.md
Due: run-docs-only

build: bump build-tools for nested .clang-tidy configs
  .github/actions/install-build-tools/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: regenerate filenames.auto.gni for the new API structure docs
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add a stress workflow for the Squirrel.Mac updater specs
  .github/workflows/autoupdater-stress.yml
  script/actions/autoupdater-stress-probe.sh
  spec/api-autoupdater-darwin-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: treat NaN window opacity as fully opaque on macOS (#53413)
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: make the user agent metadata specs prove what they claim
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false
