Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: fix lint
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update config to handle --translate-gender for pak files
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

Use NotificationImageRetainer pattern from //chrome
  BUILD.gn
  shell/browser/notifications/mac/cocoa_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/mac/notification_presenter_mac.h
  shell/browser/notifications/mac/notification_presenter_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: FTBFS when printing is disabled (#50056)
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: don't call `TaskDialogIndirect` with disabled parent windows
  shell/browser/ui/message_box_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! fix: fix SQRLShipItRequest.JSONKeyPathsByPropertyKey mappings
  patches/squirrel.mac/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

test: also sign on arm64
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add error handling for scheduling notification
  shell/browser/notifications/mac/cocoa_notification.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add details to breaking changes
  docs/breaking-changes.md
Due: run-docs-only

feat: Add WebContents::Clone method
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: clarify breaking change details
  docs/breaking-changes.md
Due: run-docs-only

docs: add details for notifications tutorial and API documentation
  docs/api/notification.md
  docs/tutorial/notifications.md
Due: run-docs-only

ci: calculate dates for release board automation
  .github/workflows/branch-created.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: move binding into respective tests
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add more api history (C-D) (#49510)
  docs/api/clipboard.md
  docs/api/content-tracing.md
  docs/api/crash-reporter.md
  docs/api/desktop-capturer.md
  docs/api/dialog.md
Due: run-docs-only

fix: avoid redundant `page-favicon-updated` events on `setBounds` (#49464)
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: capture JS stack trace on renderer OOM
  filenames.gni
  shell/renderer/electron_renderer_client.cc
  shell/renderer/electron_sandboxed_renderer_client.cc
  shell/renderer/oom_stack_trace.cc
  shell/renderer/oom_stack_trace.h
  shell/renderer/renderer_client_base.cc
  shell/renderer/renderer_client_base.h
  spec/fixtures/apps/oom-stack-trace/main.js
  spec/fixtures/apps/oom-stack-trace/package.json
  spec/oom-stack-trace-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/renderer/oom_stack_trace.cc
  shell/renderer/oom_stack_trace.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add crash reporter test for OOM JS stack trace
  shell/renderer/oom_stack_trace.cc
  spec/api-crash-reporter-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: prevent use-after-free in PowerMonitor via dangling OS callbacks (#50045)
  lib/browser/api/power-monitor.ts
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
  shell/browser/api/electron_api_power_monitor_mac.mm
  shell/browser/api/electron_api_power_monitor_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: cleanup desktop-capturer doc after chromium audio capture additions
  docs/api/desktop-capturer.md
Due: run-docs-only

Revert "fix: updated Alt detection to explicitly exclude AltGraph/AltGr (#49778)"
  shell/browser/ui/views/root_view.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove release schedule in favor of https://releases.electronjs.org/schedule
  docs/tutorial/electron-timelines.md
Due: run-docs-only

fix: Wayland crash in GetCursorScreenPoint()
  shell/browser/api/electron_api_screen.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document that getCursorScreenPoint() needs a Window on Wayland
  docs/api/screen.md
Due: run-docs-only

refactor: rename x11_util to ozone_util
  BUILD.gn
  shell/browser/api/electron_api_screen.cc
  shell/browser/linux/ozone_util.cc
  shell/browser/linux/ozone_util.h
  shell/browser/linux/x11_util.h
  shell/browser/native_window_views.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/gtk/menu_util.cc
  shell/browser/ui/views/linux_frame_layout.cc
  shell/browser/ui/views/linux_frame_layout.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: add ozone_util::IsWayland()
  shell/browser/linux/ozone_util.cc
  shell/browser/linux/ozone_util.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: apply the must-have-window test only on Wayland, not X11
  shell/browser/api/electron_api_screen.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lint formatting in oom_stack_trace.cc
  shell/renderer/oom_stack_trace.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: respect 'bigint' option for lstat(Sync) for asar wrapper
  lib/node/asar-fs-wrapper.ts
  spec/asar-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: make Chrome extensions work on custom protocols
  docs/api/app.md
  patches/chromium/.patches
  patches/chromium/feat_allow_enabling_extensions_on_all_protocols.patch
  patches/devtools_frontend/.patches
  patches/devtools_frontend/feat_allow_enabling_extension_panels_on_all_protocols.patch
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/electron_browser_client.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/options_switches.h
  shell/renderer/renderer_client_base.cc
  spec/api-app-spec.ts
  spec/api-web-request-spec.ts
  spec/extensions-spec.ts
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.html
  spec/fixtures/extensions/custom-protocol-panel/extension/devtools.js
  spec/fixtures/extensions/custom-protocol-panel/extension/manifest.json
  spec/fixtures/extensions/custom-protocol-panel/extension/panel.html
  spec/fixtures/extensions/custom-protocol-panel/main.js
  spec/fixtures/extensions/custom-protocol/extension/background.js
  spec/fixtures/extensions/custom-protocol/extension/content_script.js
  spec/fixtures/extensions/custom-protocol/extension/manifest.json
  spec/fixtures/extensions/custom-protocol/main.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add custom `id` property to Notification API (macOS only)
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  spec/api-notification-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: implements cold COM activation (#49919)
  docs/api/notification.md
  docs/api/structures/activation-arguments.md
  lib/browser/api/notification.ts
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_activator.h
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
