Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix(patch): release cppgc wrapper tracking nodes
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(patch): remove unused legacy tracing backend
  BUILD.gn
  filenames.auto.gni
  patches/node/.patches
  patches/node/src_add_perfetto_trace_agent.patch
  patches/node/src_fix_perfetto_build_on_gettracefilepath.patch
  patches/node/src_rename_legacy_trace_event_headers.patch
  patches/node/src_test_disable_trace_events_tests_when_perfetto_is_enabled.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: extend cpp heap remote app timeout
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: stop requesting the removed 32-bit PGO profiles during sync (#53176)
  DEPS
  script/pgo/README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(patch): skip unsupported WebCrypto fixtures with BoringSSL
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update add_electron_deps_to_license_credits_file.patch
  patches/chromium/add_electron_deps_to_license_credits_file.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: set bounds on detached `WebContentsView` (#53152)
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
  spec/api-web-contents-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preserve initial window title with forward/back navigation
  shell/browser/api/electron_api_base_window.cc
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: resolve dependabot security alerts (#52971)
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: don't crash when the Touch ID WebAuthn prompt reason is empty
  patches/chromium/.patches
  patches/chromium/fix_fall_back_to_an_unlocalized_touch_id_prompt_reason_when_the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: resolve region-qualified --lang values against shipped locales on macOS
  shell/browser/electron_browser_main_parts.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: explain process.defaultApp and open-url timing for deep links
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

chore: update patches
  patches/chromium/fix_fall_back_to_an_unlocalized_touch_id_prompt_reason_when_the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `networkAccess: 'none'` session option for fully offline sessions
  docs/api/session.md
  patches/chromium/.patches
  patches/chromium/feat_add_networkcontextparams_block_network.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_socket.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/net/network_context_service.cc
  shell/browser/network_hints_handler_impl.cc
  shell/browser/network_hints_handler_impl.h
  spec/api-session-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: resolve region-qualified `--lang` values against shipped locales on macOS (#53184)
  shell/browser/electron_browser_main_parts.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update `breaking-changes.md` after 44.0.0 release
  docs/breaking-changes.md
Due: run-docs-only

docs: update `breaking-changes.md` after 44.0.0 release (#53164)
  docs/breaking-changes.md
Due: run-docs-only

chore: update patch
  patches/chromium/chore_add_to_ubsan_ignorelists.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: move prewarmup of fd table to run_as_node
  shell/app/electron_main_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove redundant device metric override cleanup
  shell/browser/ui/devtools_manager_delegate.cc
  shell/browser/ui/devtools_manager_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove redundant child process shutdown priority
  shell/app/electron_main_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove redundant gdk_gl probe
  shell/browser/electron_browser_main_parts.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: skip xcache tests under UBSan
  spec/xcache-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: enforce awaiting promise returning helpers (#53036)
  .oxlintrc.json
  script/lint-plugins/no-floating-spec-helpers.mjs
  spec/api-browser-window-spec.ts
  spec/api-native-theme-spec.ts
  spec/api-web-contents-spec.ts
  spec/api-web-frame-main-spec.ts
  spec/chromium-spec.ts
  spec/webview-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: don't crash when the Touch ID WebAuthn prompt reason is empty (#53185)
  patches/chromium/.patches
  patches/chromium/fix_fall_back_to_an_unlocalized_touch_id_prompt_reason_when_the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update `breaking-changes.md` after 44.0.0 release (#53192)
  docs/breaking-changes.md
Due: run-docs-only

fix: preload SwiftShader before the GPU sandbox locks down again
  patches/chromium/.patches
  patches/chromium/revert_only_preload_swiftshader_in_gpu_sandbox_init_when_allowed.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/angle/m151_gl_workaround_flush_queries_before_deleting_or_unbinding.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preload SwiftShader before the GPU sandbox locks down again (#53174)
  patches/chromium/.patches
  patches/chromium/revert_only_preload_swiftshader_in_gpu_sandbox_init_when_allowed.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/revert_only_preload_swiftshader_in_gpu_sandbox_init_when_allowed.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: type webContents as nullable in app 'login' and 'select-client-certificate'
  docs/api/app.md
Due: run-docs-only

fix: reject non-integer worldId in executeJavaScriptInIsolatedWorld
  lib/browser/api/web-contents.ts
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update documentation for menuItem.registerAccelerator (#53172)
  docs/api/menu-item.md
Due: run-docs-only

docs: explain process.defaultApp and open-url timing for deep links (#53145)
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

chore: cherry-pick a9877805406 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-a98778054068.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
