Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: `protocol.handle` not intercepting file protocol (#39048)
  lib/browser/api/protocol.ts
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

component build
  BUILD.gn
  build/args/debug.gn
  chromium_src/BUILD.gn
  patches/chromium/.patches
  patches/chromium/fix_export_zlib_component_build.patch
  patches/node/.patches
  patches/node/build_keep_node_as_a_static_lib_even_in_component_builds.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: clipboard.readImage returns a Promise
  docs/api/clipboard.md
  docs/api/native-image.md
  shell/common/api/electron_api_clipboard.cc
  shell/common/api/electron_api_clipboard.h
  spec/api-clipboard-spec.ts
  spec/ts-smoke/electron/main.ts
  spec/ts-smoke/electron/renderer.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: updated the markup tag i with the em (#39041)
  docs/fiddles/native-ui/notifications/basic-notification/index.html
  docs/fiddles/windows/manage-windows/create-frameless-window/index.html
Due: run-docs-only

chore: update breaking changes doc
  docs/breaking-changes.md
Due: run-docs-only

fix: `BrowserWindow.moveAbove()` not working for child windows (#39034)
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update to newer clang
  patches/chromium/.patches
  patches/chromium/chore_update_to_newer_clang.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

return BrowserCaptureMediaStreamTrack instead of MediaStreamTrack
  shell/browser/electron_browser_context.cc
  spec/api-media-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

4669995: Remove CFToNSCast and NSToCFCast
  shell/common/application_info_mac.mm
  shell/common/platform_util_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

4658680: Convert /content/browser to use ARC
  BUILD.gn
  filenames.gni
  shell/browser/browser_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Rename and cleanup ExtensionsBrowserClient functions
  shell/browser/extensions/electron_extensions_browser_client.cc
  shell/browser/extensions/electron_extensions_browser_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: The return type of the stop function corrected to as boolean
  docs/api/power-save-blocker.md
Due: run-docs-only

perf: avoid redundant map lookup in NativeImage::GetHICON() (#39058)
  shell/common/api/electron_api_native_image.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix a capitalization problem
  docs/tutorial/message-ports.md
Due: run-docs-only

docs: fix fiddles (#39060)
  docs/fiddles/media/screenshot/take-screenshot/main.js
  docs/fiddles/menus/customize-menus/main.js
  docs/fiddles/menus/customize-menus/renderer.js
  docs/fiddles/menus/shortcuts/index.html
  docs/fiddles/menus/shortcuts/main.js
  docs/fiddles/menus/shortcuts/renderer.js
  docs/fiddles/native-ui/dialogs/error-dialog/main.js
  docs/fiddles/native-ui/dialogs/information-dialog/main.js
  docs/fiddles/native-ui/dialogs/information-dialog/renderer.js
  docs/fiddles/native-ui/dialogs/open-file-or-directory/main.js
  docs/fiddles/native-ui/dialogs/open-file-or-directory/renderer.js
  docs/fiddles/native-ui/dialogs/save-dialog/main.js
  docs/fiddles/native-ui/dialogs/save-dialog/renderer.js
  docs/fiddles/native-ui/drag-and-drop/main.js
  docs/fiddles/native-ui/drag-and-drop/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/external-links/index.html
  docs/fiddles/native-ui/external-links-file-manager/external-links/main.js
  docs/fiddles/native-ui/external-links-file-manager/index.html
  docs/fiddles/native-ui/external-links-file-manager/main.js
  docs/fiddles/native-ui/external-links-file-manager/path-in-file-manager/main.js
  docs/fiddles/native-ui/external-links-file-manager/renderer.js
  docs/fiddles/native-ui/notifications/basic-notification/main.js
  docs/fiddles/native-ui/notifications/main.js
  docs/fiddles/native-ui/notifications/notification-with-image/main.js
  docs/fiddles/native-ui/notifications/renderer.js
  docs/fiddles/system/system-information/get-version-information/main.js
  docs/fiddles/system/system-information/get-version-information/renderer.js
  docs/fiddles/windows/manage-windows/create-frameless-window/main.js
  docs/fiddles/windows/manage-windows/frameless-window/main.js
  docs/fiddles/windows/manage-windows/frameless-window/renderer.js
  docs/fiddles/windows/manage-windows/manage-window-state/main.js
  docs/fiddles/windows/manage-windows/manage-window-state/renderer.js
  docs/fiddles/windows/manage-windows/new-window/main.js
  docs/fiddles/windows/manage-windows/window-events/main.js
  docs/fiddles/windows/manage-windows/window-events/renderer.js
Due: run-docs-only

perf: avoid redundant lookup in BluetoothChooser::AddOrUpdateDevice() (#39059)
  shell/browser/lib/bluetooth_chooser.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make function synchronous
  docs/api/clipboard.md
  docs/api/native-image.md
  docs/breaking-changes.md
  shell/common/api/electron_api_clipboard.cc
  shell/common/api/electron_api_clipboard.h
  spec/api-clipboard-spec.ts
  spec/ts-smoke/electron/main.ts
  spec/ts-smoke/electron/renderer.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: expose safestorage backend information on linux (#38873)
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/decrypt-app/main.js
  spec/fixtures/api/safe-storage/encrypt-app/main.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: updated the i tag with em tag
  docs/fiddles/features/web-usb/index.html
  docs/fiddles/native-ui/external-links-file-manager/path-in-file-manager/index.html
Due: run-docs-only

docs: improved the protocol docs
  docs/api/protocol.md
Due: run-docs-only

feat: deprecate ipcRenderer.sendTo()
  docs/breaking-changes.md
  filenames.auto.gni
  lib/renderer/api/ipc-renderer.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_allow_guest_webcontents_to_enter_fullscreen.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_crash_when_saving_edited_pdf_files.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/gpu_notify_when_dxdiag_request_fails.patch
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/chromium/mas_no_private_api.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/native-image.md
  docs/api/native-image.md
Due: run-docs-only

fix: webContents.print({ silent: true }) not working correctly
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: file selection when disallowed on macOS
  shell/browser/ui/file_dialog_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: set supported scale factors on startup
  shell/browser/browser_mac.mm
  shell/common/api/electron_api_native_image.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: menu border being created properly on Windows 11
  patches/chromium/fix_crash_on_nativetheme_change_during_context_menu_close.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/fix_crash_on_nativetheme_change_during_context_menu_close.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "chore: update patches"
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_allow_guest_webcontents_to_enter_fullscreen.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_crash_when_saving_edited_pdf_files.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/gpu_notify_when_dxdiag_request_fails.patch
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/chromium/mas_no_private_api.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "chore: bump chromium in DEPS to 117.0.5886.0"
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use built toolchains instead of locally installed VSCode
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: navigator.connection not working as intended
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `clipboard.readImage()` should be synchronous (#39069)
  shell/common/api/electron_api_clipboard.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup: build: use built toolchains instead of locally installed VSCode
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: menu border being created properly on Windows 11 (#39099)
  patches/chromium/fix_crash_on_nativetheme_change_during_context_menu_close.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `navigator.connection` not working as intended (#39100)
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! fix: disable background throttling also in the `viz::DisplayScheduler`
  docs/api/structures/web-preferences.md
  shell/browser/native_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: always free isolate data
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
