Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix: pend bounds change when moving BrowserWindows (#33288)
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: mark platform-specific functionality for BrowserWindow (#33512)
  docs/api/browser-window.md
Due: run-docs-only

Bump v20.0.0-nightly.20220404
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: calling of X11 functions when running under Wayland (#33355)
  BUILD.gn
  filenames.gni
  patches/chromium/.patches
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/chromium/ui_gtk_public_header.patch
  shell/browser/electron_browser_main_parts.h
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/gtk/menu_util.cc
  shell/browser/ui/message_box_gtk.cc
  shell/browser/ui/x/window_state_watcher.cc
  shell/browser/ui/x/window_state_watcher.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: libuv patches to address child_process.spawn slowness (#33337)
  patches/node/.patches
  patches/node/macos_don_t_use_thread-unsafe_strtok_3524.patch
  patches/node/process_bsd_handle_kevent_note_exit_failure_3451.patch
  patches/node/process_fix_hang_after_note_exit_3521.patch
  patches/node/process_monitor_for_exit_with_kqueue_on_bsds_3441.patch
  patches/node/process_only_use_f_dupfd_cloexec_if_it_is_defined_3512.patch
  patches/node/process_reset_the_signal_mask_if_the_fork_fails_3537.patch
  patches/node/process_simplify_uv_write_int_calls_3519.patch
  patches/node/reland_macos_use_posix_spawn_instead_of_fork_3257.patch
  patches/node/unix_protect_fork_in_uv_spawn_from_signals.patch
  patches/node/unix_remove_uv_cloexec_ioctl_3515.patch
  patches/node/unix_simplify_uv_cloexec_fcntl_3492.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: explicitly run scripts with python3 (#33720)
  build/js2c.py
  build/npm-run.py
  build/strip_framework.py
  build/zip.py
  build/zip_libcxx.py
  patches/node/build_add_gn_build_files.patch
  patches/squirrel.mac/build_add_gn_config.patch
  script/add-debug-link.py
  script/apply_all_patches.py
  script/check-relative-doc-links.py
  script/copy-debug-symbols.py
  script/dbus_mock.py
  script/export_all_patches.py
  script/generate-config-gypi.py
  script/generate-zip-manifest.py
  script/git-export-patches
  script/git-import-patches
  script/lib/config.py
  script/lib/git.py
  script/lib/patches.py
  script/lib/util.py
  script/native-tests.py
  script/patches-mtime-cache.py
  script/release/uploaders/upload-index-json.py
  script/release/uploaders/upload-node-checksums.py
  script/release/uploaders/upload-node-headers.py
  script/release/uploaders/upload-symbols.py
  script/release/uploaders/upload.py
  script/run-clang-format.py
  script/strip-binaries.py
  script/verify-chromedriver.py
  script/verify-ffmpeg.py
  script/verify-mksnapshot.py
  script/zip-symbols.py
  script/zip_manifests/check-zip-manifest.py
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.0.0-nightly.20220412"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove pywin32 from Windows build instructions (#33402)
  docs/development/build-instructions-windows.md
Due: run-docs-only

feat: implement chrome.tabs.reload (#33560)
  docs/api/extensions.md
  shell/browser/extensions/api/tabs/tabs_api.cc
  shell/browser/extensions/api/tabs/tabs_api.h
  shell/common/extensions/api/tabs.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: mark skipTaskbar as unsupported on Linux (#33226)
  docs/api/browser-window.md
  docs/breaking-changes.md
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: disable RDP
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: abort CI if goma authentication is invalid (#33413)
  .circleci/build_config.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.0.0-nightly.20220404"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove extra $ from npm install command (#33366)
  docs/tutorial/quick-start.md
Due: run-docs-only

Bump v20.0.0-nightly.20220406
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix moveAbove desktopCapturer spec (#33471)
  spec-main/api-desktop-capturer-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: save Windows artifacts at end of job in case they fail (#33510)
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typo in NotifyWindowRequestPreferredWidth method name (#33568)
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use stricter options in SecStaticCodeCheckValidity (#33368)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_use_kseccschecknestedcode_kseccsstrictvalidate_in_the_sec.patch
  spec-main/api-autoupdater-darwin-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-nightly.20220412
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: don't unmaximize on macOS if user set max bounds (#33480)
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use pylint-2.7 (#33232)
  script/lint.js
  script/release/uploaders/upload.py
  script/run-clang-format.py
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: set v8_typed_array_max_size_in_heap to default (#33496)
  build/args/all.gn
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: change usages of std::vector with const elements (#33373)
  patches/chromium/feat_add_data_transfer_to_requestsingleinstancelock.patch
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: build python2 from source (#33793)
  .circleci/build_config.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update heading level of webFrame.insertCSS (#33467)
  docs/api/web-frame.md
Due: run-docs-only

docs: Use Node's URL parser in the 5th security recommendation (#33463)
  docs/tutorial/security.md
Due: run-docs-only

fix: build when pdf component is disabled (#33513)
  BUILD.gn
  chromium_src/BUILD.gn
  shell/app/electron_content_client.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/common/electron_constants.cc
  shell/common/electron_constants.h
  shell/renderer/renderer_client_base.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "build: enable RDP for release builds"
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use posix_spawn instead of NSTask so we can disclaim the spawned ShipIt executable (#33468)
  patches/squirrel.mac/.patches
  patches/squirrel.mac/refactor_use_posix_spawn_instead_of_nstask_so_we_can_disclaim_the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: Update release dates for E19 and fix typos (#33464)
  docs/tutorial/electron-timelines.md
Due: run-docs-only

feat: add WCO title bar style setters (#33066)
  docs/api/browser-window.md
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/native_window.h
  shell/browser/native_window_views.h
  shell/browser/ui/views/win_caption_button.cc
  shell/browser/ui/views/win_frame_view.cc
  shell/browser/ui/views/win_frame_view.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: create `userData` on requestSingleInstanceLock() if needed (#33559)
  shell/browser/api/electron_api_app.cc
  spec-main/api-app-spec.ts
  spec/fixtures/api/singleton-userdata/main.js
  spec/fixtures/api/singleton-userdata/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: upgrade @electron/get version to ^1.14.1 (#33259)
  npm/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-nightly.20220414
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.0.0-nightly.20220411"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.0.0-nightly.20220329
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.0.0-nightly.20220407"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false
