Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

Revert AsyncCompileJSToWasmWrapperJob simplification
  patches/v8/.patches
  patches/v8/revert_wasm_simplify_compilejstowasmwrapperjob.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update references to @electron/rebuild
  docs/tutorial/using-native-node-modules.md
Due: run-docs-only

chore: cherry-pick 56bd20b295b4 from chromium (#37653)
  patches/chromium/.patches
  patches/chromium/cherry-pick-56bd20b295b4.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: delete synopsis.md (#37687)
  docs/README.md
  docs/api/synopsis.md
  filenames.auto.gni
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: fixup WebUSB fiddle (#37455)
  docs/fiddles/features/web-usb/main.js
  docs/fiddles/features/web-usb/renderer.js
Due: run-docs-only

chore: update line endings on HTML files
  docs/fiddles/menus/customize-menus/index.html
  docs/fiddles/menus/shortcuts/index.html
  docs/fiddles/native-ui/dialogs/error-dialog/index.html
  docs/fiddles/native-ui/dialogs/information-dialog/index.html
  docs/fiddles/native-ui/dialogs/open-file-or-directory/index.html
  docs/fiddles/native-ui/dialogs/save-dialog/index.html
  docs/fiddles/native-ui/drag-and-drop/index.html
  docs/fiddles/native-ui/external-links-file-manager/index.html
  docs/fiddles/native-ui/notifications/index.html
  docs/fiddles/native-ui/tray/index.html
  docs/fiddles/windows/manage-windows/frameless-window/index.html
  docs/fiddles/windows/manage-windows/manage-window-state/index.html
  docs/fiddles/windows/manage-windows/window-events/index.html
  spec/fixtures/api/frame-subscriber.html
  spec/fixtures/api/offscreen-rendering.html
  spec/fixtures/api/service-workers/index.html
  spec/fixtures/api/service-workers/logs.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix types
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: apply csp correctly when contextIsolation: false
  shell/common/node_bindings.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update line endings on HTML files (#37755)
  docs/fiddles/menus/customize-menus/index.html
  docs/fiddles/menus/shortcuts/index.html
  docs/fiddles/native-ui/dialogs/error-dialog/index.html
  docs/fiddles/native-ui/dialogs/information-dialog/index.html
  docs/fiddles/native-ui/dialogs/open-file-or-directory/index.html
  docs/fiddles/native-ui/dialogs/save-dialog/index.html
  docs/fiddles/native-ui/drag-and-drop/index.html
  docs/fiddles/native-ui/external-links-file-manager/index.html
  docs/fiddles/native-ui/notifications/index.html
  docs/fiddles/native-ui/tray/index.html
  docs/fiddles/windows/manage-windows/frameless-window/index.html
  docs/fiddles/windows/manage-windows/manage-window-state/index.html
  docs/fiddles/windows/manage-windows/window-events/index.html
  spec/fixtures/api/frame-subscriber.html
  spec/fixtures/api/offscreen-rendering.html
  spec/fixtures/api/service-workers/index.html
  spec/fixtures/api/service-workers/logs.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

better comments
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: don't use pull_request_target with semantic PR title check (#37745)
  .github/workflows/semantic.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove save-to-disk disposition
  docs/api/web-contents.md
Due: run-docs-only

oops
  appveyor-woa.yml
  appveyor.yml
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add powerMonitor.isSystemAutomaticallyResumed API
  docs/api/power-monitor.md
  lib/browser/api/power-monitor.ts
  shell/browser/api/electron_api_power_monitor.cc
  shell/browser/api/electron_api_power_monitor.h
  shell/browser/api/electron_api_power_monitor_win.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Add options
  docs/api/session.md
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/net/resolve_host_function.cc
  shell/browser/net/resolve_host_function.h
  shell/common/gin_converters/net_converter.cc
  shell/common/gin_converters/net_converter.h
  spec/api-session-spec.ts
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

oops
  shell/browser/api/electron_api_power_monitor.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add links to IPC event structures
  docs/api/structures/ipc-main-event.md
  docs/api/structures/ipc-main-invoke-event.md
  docs/api/structures/ipc-renderer-event.md
Due: run-docs-only

build: fix build-tools schema in config
  .devcontainer/on-create-command.sh
Due: run-build-mac, run-build-linux, run-docs-only=false

4365718: Reland "Reland "Reland "[Tracing] Use Perfetto client library for tracing on Linux"""
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: set background color for menu bar on Windows
  shell/browser/ui/views/menu_bar.cc
  shell/browser/ui/views/menu_bar.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: falsy transparent shouldn't affect webContents background
  lib/browser/api/web-contents.ts
  shell/browser/web_contents_preferences.cc
  spec/api-browser-window-spec.ts
  spec/guest-window-manager-spec.ts
  spec/lib/screen-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/fix_expose_decrementcapturercount_in_web_contents_impl.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/v8/build_gn.patch
  patches/v8/dcheck.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
  patches/v8/expose_mksnapshot.patch
  patches/v8/revert_wasm_simplify_compilejstowasmwrapperjob.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove save-to-disk disposition (#37758)
  docs/api/web-contents.md
Due: run-docs-only

docs: add links to IPC event structures (#37760)
  docs/api/structures/ipc-main-event.md
  docs/api/structures/ipc-main-invoke-event.md
  docs/api/structures/ipc-renderer-event.md
Due: run-docs-only

fix: Store the thread stack start in TLS.
  patches/v8/.patches
  patches/v8/store_the_thread_stack_start_in_tls.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

4335544: [handles] Refactor classes for abstract handles
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fixup WebUSB fiddle (#37754)
  docs/fiddles/features/web-usb/main.js
  docs/fiddles/features/web-usb/renderer.js
Due: run-docs-only

update patch description to include tracking issue
  patches/v8/revert_wasm_simplify_compilejstowasmwrapperjob.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/feat_expose_documentloader_setdefersloading_on_webdocumentloader.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: modify cookies.flushStore()
  docs/api/cookies.md
Due: run-docs-only

build: update appveyor image to latest version
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix memory leak in v8.serialize()
  patches/node/fixup_for_wc_98-compat-extra-semi.patch
  patches/node/support_v8_sandboxed_pointers.patch
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: enforce consistent Markdown style for strong and emphasis
  .markdownlint.json
  CONTRIBUTING.md
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/menu-item.md
  docs/api/menu.md
  docs/api/native-image.md
  docs/api/session.md
  docs/api/tray.md
  docs/api/web-contents.md
  docs/api/webview-tag.md
  docs/development/azure-vm-setup.md
  docs/development/goma.md
  docs/development/issues.md
  docs/development/pull-requests.md
  docs/tutorial/boilerplates-and-clis.md
  docs/tutorial/electron-timelines.md
  docs/tutorial/electron-versioning.md
  docs/tutorial/macos-dock.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/performance.md
  docs/tutorial/recent-documents.md
  docs/tutorial/security.md
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: update references to @electron/rebuild (#37757)
  docs/tutorial/using-native-node-modules.md
Due: run-docs-only

build: fix build-tools schema in config (#37765)
  .devcontainer/on-create-command.sh
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove request dependency (#37747)
  appveyor-woa.yml
  appveyor.yml
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove wasm CompileJSToWasmWrapperJob patch
  patches/node/.patches
  patches/node/fix_increase_concurrency_in_v8platform_postjob.patch
  patches/v8/.patches
  patches/v8/revert_wasm_simplify_compilejstowasmwrapperjob.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

fix: set background color for menu bar on Windows (#37766)
  shell/browser/ui/views/menu_bar.cc
  shell/browser/ui/views/menu_bar.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick bd7db03908ef from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-bd7db03908ef.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
