Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix: FTBFS in src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
  patches/node/src_remove_dependency_on_wrapper-descriptor-based_cppheap.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: e patches all
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/node/refactor_attach_cppgc_heap_on_v8_isolate_creation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! 6850973: Reland "Use base::ByteCount in base::SysInfo." | https://chromium-review.googlesource.com/c/chromium/src/+/6850973
  patches/chromium/fix_add_macos_memory_query_fallback_to_avoid_crash.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

6506565: [FPF-CI] Create initial NoiseHash in the browser. | https://chromium-review.googlesource.com/c/chromium/src/+/6506565
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: unsafe buffer warning in fix_properly_honor_printing_page_ranges.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! 6506565: [FPF-CI] Create initial NoiseHash in the browser. | https://chromium-review.googlesource.com/c/chromium/src/+/6506565
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

[v8-init] Access crash key only from main thread | https://chromium-review.googlesource.com/c/chromium/src/+/6827167
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove chore_restore_some_deprecated_wrapper_utility_in_gin.patch from patches
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: e patches all
  patches/chromium/feat_add_support_for_embedder_snapshot_validation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add fileBacked and purgeable fields to process.getSystemMemoryInfo() for macOS
  docs/api/process.md
  shell/common/api/electron_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: allow macOS tray to maintain position (#48076)
  docs/api/tray.md
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/ui/tray_icon.cc
  shell/browser/ui/tray_icon.h
  shell/browser/ui/tray_icon_cocoa.h
  shell/browser/ui/tray_icon_cocoa.mm
  shell/browser/ui/tray_icon_linux.cc
  shell/browser/ui/tray_icon_win.cc
  shell/browser/ui/win/notify_icon_host.cc
  shell/browser/ui/win/notify_icon_host.h
  shell/common/gin_converters/guid_converter.h
  spec/api-tray-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/fix_getcursorscreenpoint_wrongly_returns_0_0.patch
  patches/chromium/fix_resolve_dynamic_background_material_update_issue_on_windows_11.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_hostimportmoduledynamically_and.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: improve failed notification error messages on Windows
  shell/browser/notifications/win/windows_toast_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Track DevTools feature usage in new badge tracker
  shell/browser/ui/inspectable_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: net.isOnline always true in utilityProcesses
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/services/node/node_service.cc
  shell/services/node/node_service.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: allocate api::Session on cpp heap
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_restore_some_deprecated_wrapper_utility_in_gin.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.h
  shell/browser/event_emitter_mixin.h
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/hid/hid_chooser_context.cc
  shell/browser/hid/hid_chooser_controller.cc
  shell/browser/hid/hid_chooser_controller.h
  shell/browser/network_hints_handler_impl.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/usb/usb_chooser_context.cc
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_url_loader.cc
  shell/common/gin_helper/constructible.h
  shell/common/gin_helper/event_emitter_caller.h
  shell/common/gin_helper/event_emitter_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/gin_helper/self_keep_alive.h
  shell/common/gin_helper/wrappable.h
  spec/cpp-heap-spec.ts
  spec/lib/heapsnapshot-helpers.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: include base/time/time.h when using base::Time
  shell/browser/browser.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use siso instead of reclient
  .github/actions/build-electron/action.yml
  .github/actions/cipd-install/action.yml
  .github/actions/fix-sync/action.yml
  .github/actions/install-build-tools/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
  build/siso/backend.star
  build/siso/main.star
  patches/chromium/.patches
  patches/chromium/revert_update_siso-chromium_image.patch
  script/actions/move-artifacts.sh
  script/node/generate_original_fs.py
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add copyVideoFrameAt and saveVideoFrameAs Method on Webcontent
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-web-contents-spec.ts
  spec/fixtures/api/video-wrapper.html
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: snapped restoration after minimization
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update introduction.md
  docs/tutorial/introduction.md
Due: run-docs-only

fix: `net.isOnline` always true in utility processes (#48111)
  shell/services/node/node_service.cc
  shell/services/node/node_service.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: change the description of savevideoframe api
  docs/api/web-contents.md
Due: run-docs-only

chore: improve failed notification error messages on Windows (#48131)
  shell/browser/notifications/win/windows_toast_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContent.fromId should be number instead of string (#48059)
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use siso instead of reclient (#47534)
  .github/actions/build-electron/action.yml
  .github/actions/cipd-install/action.yml
  .github/actions/fix-sync/action.yml
  .github/actions/install-build-tools/action.yml
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/pipeline-segment-electron-test.yml
  build/siso/backend.star
  build/siso/main.star
  patches/chromium/.patches
  patches/chromium/revert_update_siso-chromium_image.patch
  script/actions/move-artifacts.sh
  script/node/generate_original_fs.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: snapped restoration after minimization (#48142)
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: BrowserWindow add the same BrowserView (#48057)
  lib/browser/api/browser-window.ts
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add the description of the restrictive elements for using the APIs.
  docs/api/web-contents.md
Due: run-docs-only

fix: WIN11_22H2 also needs layered protection
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: allocate api::Session on cpp heap (#48141)
  patches/chromium/chore_add_electron_objects_to_wrappablepointertag.patch
  patches/chromium/chore_restore_some_deprecated_wrapper_utility_in_gin.patch
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_api_sw_ipc_handler_impl.cc
  shell/browser/electron_api_sw_ipc_handler_impl.h
  shell/browser/event_emitter_mixin.h
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/hid/hid_chooser_context.cc
  shell/browser/hid/hid_chooser_controller.cc
  shell/browser/hid/hid_chooser_controller.h
  shell/browser/network_hints_handler_impl.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/browser/serial/serial_chooser_controller.cc
  shell/browser/serial/serial_chooser_controller.h
  shell/browser/usb/usb_chooser_context.cc
  shell/browser/usb/usb_chooser_controller.cc
  shell/browser/usb/usb_chooser_controller.h
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_url_loader.cc
  shell/common/gin_helper/constructible.h
  shell/common/gin_helper/event_emitter_caller.h
  shell/common/gin_helper/event_emitter_template.cc
  shell/common/gin_helper/function_template.h
  shell/common/gin_helper/self_keep_alive.h
  shell/common/gin_helper/wrappable.h
  spec/cpp-heap-spec.ts
  spec/lib/heapsnapshot-helpers.js
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: improve Windows Toast actions support
  docs/api/app.md
  docs/api/notification.md
  docs/api/structures/notification-action.md
  filenames.gni
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
  shell/browser/notifications/notification.cc
  shell/browser/notifications/notification.h
  shell/browser/notifications/notification_delegate.h
  shell/browser/notifications/win/notification_presenter_win.cc
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_activator.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
  shell/common/application_info.h
  shell/common/application_info_win.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove upstream OSR temp fix
  shell/browser/osr/osr_render_widget_host_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add alternate property for menu items on macOS
  docs/api/menu-item.md
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  spec/api-menu-item-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: remove no longer needed arg for siso
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false
