Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: prevent RemoveFromLoginItems() from mounting volumes from login items
  shell/browser/browser_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 6b66a45021 from chromium (#34073)
  patches/chromium/.patches
  patches/chromium/reland_fix_noopener_case_for_user_activation_consumption.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick cf64617c1cc5 from chromium (#34054)
  patches/chromium/.patches
  patches/chromium/fsa_pass_file_ownership_to_worker_for_async_fsarfd_file_operations.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick d49484c21e3c from angle (#34012)
  patches/angle/.patches
  patches/angle/cherry-pick-d49484c21e3c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick d24570fb65 from angle (#34036)
  patches/angle/.patches
  patches/angle/m100_fix_crash_when_pausing_xfb_then_deleting_a_buffer.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 12ba78f3fa7a from chromium (#34050)
  patches/chromium/.patches
  patches/chromium/cherry-pick-12ba78f3fa7a.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove S3 uploads (#34104)
  .circleci/config.yml
  script/lib/azput.js
  script/lib/config.py
  script/lib/s3put.js
  script/lib/util.py
  script/release/release.js
  script/release/uploaders/upload-index-json.py
  script/release/uploaders/upload-node-checksums.py
  script/release/uploaders/upload-node-headers.py
  script/release/uploaders/upload-symbols.py
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove S3 uploads
  .circleci/config.yml
  script/lib/azput.js
  script/lib/config.py
  script/lib/s3put.js
  script/lib/util.py
  script/release/release.js
  script/release/uploaders/upload-index-json.py
  script/release/uploaders/upload-node-checksums.py
  script/release/uploaders/upload-node-headers.py
  script/release/uploaders/upload-symbols.py
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use azure function to hash assets instead of lambda
  script/release/get-url-hash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use azure function to hash assets instead of lambda (#34117)
  script/release/get-url-hash.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-nightly.20220506
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.0.0-nightly.20220506"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove ending slash upload-index-json
  script/release/uploaders/upload-index-json.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add missing ackCallback parameter
  docs/api/app.md
Due: run-docs-only

build: remove ending slash upload-index-json (#34125)
  script/release/uploaders/upload-index-json.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add missing ackCallback parameter (#34126)
  docs/api/app.md
Due: run-docs-only

fix: lint
  docs/api/app.md
  docs/api/browser-window.md
  docs/api/push-notifications.md
  filenames.auto.gni
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_push_notifications.cc
  shell/browser/api/electron_api_push_notifications.h
  shell/browser/browser_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

Update installation.md
  docs/tutorial/installation.md
Due: run-docs-only

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
