Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: [22-x-y] cherry-pick f098ff0d1230 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f098ff0d1230.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [22-x-y] cherry-pick f58218891f8c from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-f58218891f8c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-f58218891f8c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContents return type incorrect (#38026)
  docs/api/web-contents.md
  spec/api-web-contents-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: always lint JS in docs/fiddles (#38025)
  docs/fiddles/features/notifications/renderer/renderer.js
  docs/fiddles/features/offscreen-rendering/main.js
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/renderer.js
  docs/fiddles/features/web-serial/main.js
  docs/fiddles/features/web-usb/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/external-links/renderer.js
  docs/fiddles/system/clipboard/copy/renderer.js
  docs/fiddles/system/clipboard/paste/renderer.js
  docs/fiddles/system/system-app-user-information/app-information/renderer.js
  docs/fiddles/tutorial-preload/renderer.js
  docs/fiddles/windows/manage-windows/frameless-window/main.js
  docs/fiddles/windows/manage-windows/manage-window-state/main.js
  docs/fiddles/windows/manage-windows/new-window/main.js
  docs/fiddles/windows/manage-windows/window-events/main.js
  package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup for lint
  shell/browser/hid/electron_hid_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-ec53103cc72d.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/web-contents-view.md
  docs/api/web-contents-view.md
Due: run-docs-only

fix color regexes
  docs/api/browser-view.md
Due: run-docs-only

docs fixes
  docs/api/base-window.md
  docs/api/web-contents-view.md
Due: run-docs-only

Update docs/api/base-window.md
  docs/api/base-window.md
Due: run-docs-only

docs: fix start highlight tutorial-2-first-app.md (#38069)
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

chore: fix lint
  shell/browser/serial/electron_serial_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on missing `RenderWidgetHostView` (#38100)
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: re-enable passing Node.js tests
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: formally mark some tests as flaky
  patches/node/.patches
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_mark_cpu_prof_tests_as_flaky_in_electron.patch
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick f58218891f8c from chromium (#38056)
  patches/chromium/.patches
  patches/chromium/cherry-pick-f58218891f8c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContents return type incorrect (#38111)
  docs/api/web-contents.md
  spec/api-web-contents-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick 1d491fff578b, f7b87bea19d7 and 549d92d7ef35 from chromium (#38067)
  patches/chromium/.patches
  patches/chromium/check_callback_availability_in.patch
  patches/chromium/merge_m112_check_spdyproxyclientsocket_is_alive_after_write.patch
  patches/chromium/merge_m112_remove_the_second_weakptrfactory_from.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: re-enable multi-window fullscreen test
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: emit context-menu event from extensions
  shell/browser/api/electron_api_web_contents.h
  shell/browser/extensions/electron_extensions_api_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContents return type incorrect (#38112)
  docs/api/web-contents.md
  spec/api-web-contents-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add separate linkable browser-window-options.md and web-preferences.md (#34633)
  docs/api/app.md
  docs/api/browser-view.md
  docs/api/browser-window.md
  docs/api/structures/browser-window-options.md
  docs/api/structures/web-preferences.md
  docs/api/web-contents.md
  docs/api/window-open.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: avoid need for NOLINTNEXTLINE
  shell/browser/api/electron_api_system_preferences.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use options argument
  docs/api/web-contents.md
  docs/api/webview-tag.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: correct for review
  docs/api/web-contents.md
  docs/api/webview-tag.md
Due: run-docs-only

feat: surface more text selection commands
  docs/api/web-contents.md
  docs/api/webview-tag.md
  lib/common/web-view-methods.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: formally mark some Node.js tests as flaky (#38117)
  patches/node/.patches
  patches/node/test_formally_mark_some_tests_as_flaky.patch
  patches/node/test_mark_cpu_prof_tests_as_flaky_in_electron.patch
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick f098ff0d1230 from chromium (#38060)
  patches/chromium/.patches
  patches/chromium/cherry-pick-f098ff0d1230.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: re-enable multi-window fullscreen test (#38119)
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: re-enable passing Node.js tests (#38116)
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix clang-tidy warnings (#38079)
  .clang-tidy
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/gpu_info_enumerator.cc
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
  shell/browser/electron_permission_manager.cc
  shell/browser/file_select_helper.cc
  shell/browser/font_defaults.cc
  shell/browser/linux/unity_service.cc
  shell/browser/net/asar/asar_url_loader.cc
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/webui/accessibility_ui.cc
  shell/browser/usb/usb_chooser_context_factory.cc
  shell/browser/usb/usb_chooser_controller.cc
  shell/common/gin_helper/trackable_object.cc
  shell/common/platform_util_linux.cc
  shell/renderer/electron_autofill_agent.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: correct extra qualification causing build error with GCC (#37548)
  shell/browser/hid/electron_hid_delegate.h
  shell/browser/serial/electron_serial_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fixup patches
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `httpOnly` `cookies.get` filter (#38043)
  docs/api/cookies.md
  shell/browser/api/electron_api_cookies.cc
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: `AXManualAccessibility` showing failure (#38102)
  docs/tutorial/accessibility.md
  shell/browser/mac/electron_application.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: fixup patches (#38124)
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add OCR scaffolding to PDF Viewer
  filenames.gni
  shell/browser/extensions/api/BUILD.gn
  shell/browser/extensions/api/pdf_viewer_private/BUILD.gn
  shell/browser/extensions/api/pdf_viewer_private/pdf_viewer_private_api.cc
  shell/browser/extensions/api/pdf_viewer_private/pdf_viewer_private_api.h
  shell/browser/extensions/api/resources_private/resources_private_api.cc
  shell/common/extensions/api/BUILD.gn
  shell/common/extensions/api/_api_features.json
  shell/common/extensions/api/_permission_features.json
  shell/common/extensions/api/pdf_viewer_private.idl
  shell/common/extensions/electron_extensions_api_provider.cc
Due: run-build-mac, run-build-linux, run-docs-only=false
