Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update docs per review
  docs/api/session.md
  docs/fiddles/features/web-bluetooth/main.js
  docs/fiddles/features/web-bluetooth/preload.js
  docs/fiddles/features/web-bluetooth/renderer.js
Due: run-docs-only

chore: cleanup callback per review
  shell/browser/bluetooth/electron_bluetooth_delegate.cc
  shell/browser/bluetooth/electron_bluetooth_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v20.2.0"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v19.1.0"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v18.3.14"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick d74d2b9f00c7 from chromium (#35550)
  patches/chromium/.patches
  patches/chromium/cherry-pick-d74d2b9f00c7.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add exposeInIsolatedWorld(worldId, key, api) to contextBridge (#34974)
  docs/api/context-bridge.md
  filenames.auto.gni
  lib/renderer/api/context-bridge.ts
  shell/renderer/api/electron_api_context_bridge.cc
  spec/api-context-bridge-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick eb4d31309df7 from chromium (#35750)
  patches/chromium/.patches
  patches/chromium/cherry-pick-eb4d31309df7.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update electron_woa_testing.yml
  .github/workflows/electron_woa_testing.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick eb4d31309df7 from chromium (#35749)
  patches/chromium/.patches
  patches/chromium/cherry-pick-eb4d31309df7.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove claim that HTTPS authenticates the remote server (#35526)
  docs/tutorial/security.md
Due: run-docs-only

chore: update patches
  patches/chromium/cherry-pick-9b5207569882.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add forge-overview.md (#35473)
  docs/tutorial/application-distribution.md
  docs/tutorial/boilerplates-and-clis.md
  docs/tutorial/code-signing.md
  docs/tutorial/distribution-overview.md
  docs/tutorial/forge-overview.md
  docs/tutorial/tutorial-5-packaging.md
Due: run-docs-only

chore: update patches
  patches/node/buffer_fix_atob_input_validation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.3.14
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.2.0
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix some bv tests
  lib/browser/api/browser-view.ts
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/ui/cocoa/delayed_native_view_host.cc
  shell/common/gin_helper/constructible.h
  spec/api-browser-view-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.1.0
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: savepoint
  shell/browser/api/electron_api_browser_view.h
  shell/browser/api/electron_api_cookies.h
  shell/browser/api/electron_api_debugger.h
  shell/browser/certificate_manager_model.h
  shell/browser/cookie_change_notifier.h
  shell/browser/electron_autofill_driver.h
  shell/browser/electron_browser_client.h
  shell/browser/electron_download_manager_delegate.h
  shell/browser/file_select_helper.h
  shell/browser/javascript_environment.h
  shell/browser/microtasks_runner.h
  shell/browser/native_browser_view.h
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_views.h
  shell/browser/network_hints_handler_impl.h
  shell/browser/notifications/notification.h
  shell/browser/notifications/platform_notification_service.h
  shell/browser/ui/autofill_popup.h
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  shell/browser/ui/electron_menu_model.h
  shell/browser/ui/inspectable_web_contents.h
  shell/browser/ui/inspectable_web_contents_view.h
  shell/browser/ui/inspectable_web_contents_view_mac.h
  shell/browser/ui/tray_icon_gtk.h
  shell/browser/web_contents_permission_helper.h
  shell/browser/web_contents_preferences.h
  shell/browser/web_contents_zoom_controller.h
  shell/browser/web_view_guest_delegate.h
  shell/browser/zoom_level_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only=false

View events
  docs/api/view.md
  lib/browser/api/view.ts
  lib/browser/init.ts
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Apply PR feedback
  filenames.auto.gni
  shell/browser/electron_browser_main_parts_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Fix the documentation
  docs/api/app.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Updated the link for Introduction to NodeJs
  docs/tutorial/tutorial-1-prerequisites.md
Due: run-docs-only

Remove extraneous file
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: allow docking DevTools with WCO (#35754)
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: allow for docking devtools with WCO
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Add ignore method to IncomingMessage
  docs/api/incoming-message.md
  filenames.auto.gni
  lib/browser/api/net.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Bump v22.0.0-nightly.20220922
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/can_create_window.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/boringssl/expose_aes-cfb.patch
  patches/boringssl/revert_track_ssl_error_zero_return_explicitly.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/boringssl_build_gn.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/chrome_key_systems.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_allow_embedders_to_add_observers_on_created_hunspell.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_allow_guest_webcontents_to_enter_fullscreen.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_expose_decrementcapturercount_in_web_contents_impl.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/render_widget_host_view_base.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
  patches/v8/export_symbols_needed_for_windows_build.patch
  patches/v8/expose_mksnapshot.patch
  patches/v8/workaround_an_undefined_symbol_error.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
