Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: install test cert on demand
  spec/api-autoupdater-msix-spec.ts
  spec/fixtures/api/autoupdater/msix/MSIXDevCert.cer
  spec/fixtures/api/autoupdater/msix/install_test_cert.ps1
  spec/lib/msix-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: time stamp mismatch in tests
  spec/api-autoupdater-msix-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: feedback - rename to MSIXPackageInfo
  docs/api/auto-updater.md
  docs/api/structures/msix-package-info.md
  lib/browser/api/auto-updater/auto-updater-win.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: update and reference windowsStore property
  docs/api/auto-updater.md
  docs/api/process.md
Due: run-docs-only

fix: remove getPackagInfo from public API
  docs/api/auto-updater.md
  docs/api/structures/msix-package-info.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

put back patch
  patches/chromium/.patches
  patches/chromium/crash_allow_setting_more_options.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: potential dangling pointer in api::Screen (#49536)
  shell/browser/api/electron_api_screen.cc
  shell/browser/api/electron_api_screen.h
Due: run-build-mac, run-build-linux, run-docs-only=false

7000847: add type tag to v8::External for gin_helper function templates
  shell/common/gin_helper/function_template.cc
  shell/common/gin_helper/function_template.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix(patch-update): extend V8 Object API deprecation patch for Node.js
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7000847: add type tag to v8::External calls in shared_texture
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7508687: use ChildProcessId for file permission APIs
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7000847: add type tag to v8::External calls in callback and osr_converter
  shell/common/gin_converters/osr_converter.cc
  shell/common/gin_helper/callback.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! 7087956: [api] Promote deprecation of v8::Context and v8::Object API methods
  patches/node/api_promote_deprecation_of_v8_context_and_v8_object_api_methods.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: do checks earlier with throwable javascript error
  shell/common/api/electron_api_shared_texture.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: remove split dependency
  spec/api-app-spec.ts
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix flaky `BrowserWindow` test (#49364)
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: rework reapply patches
  .github/workflows/apply-patches.yml
  .github/workflows/build.yml
  .github/workflows/rerun-apply-patches.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add jsign instructions for Azure Trusted Signing on Linux/macOS
  docs/tutorial/code-signing.md
Due: run-docs-only

fix: macOS menu item acceerators when item disabled
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

test: remove split dependency (#49551)
  spec/api-app-spec.ts
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add clickable jsign link for Azure Trusted Signing
  docs/tutorial/code-signing.md
Due: run-docs-only

fix: apply default accelerator for role-based menu items
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  spec/api-menu-item-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: chrome://accessibility drift (#49547)
  shell/browser/ui/webui/accessibility_ui.cc
  shell/browser/ui/webui/accessibility_ui.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: restore 128x128 window icons for desktopCapturer on macOS
  patches/chromium/fix_add_support_for_skipping_first_2_no-op_refreshes_in_thumb_cap.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: address PathProvider TODO
  filenames.gni
  shell/app/electron_main_delegate.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: type error bcause of removed API
  lib/browser/api/auto-updater/auto-updater-win.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix flaky `BrowserView` test (#49316)
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

add workflow for commenting with new 'ai-pr' label
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Update .github/workflows/pull-request-labeled.yml
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

add pr autoclose
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

replace with specific secret
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

specify repo
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

add did as prefix as events had already happened by the time they're emitted
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

update wording of comment
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build(dev-deps): bump @electron/lint-roller to 3.2.0
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use GH app token
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix indentation
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add clipboard privacy options
  docs/api/clipboard.md
  shell/common/api/electron_api_clipboard.cc
  shell/common/api/electron_api_clipboard.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

7509043: update WebSpellingMarker type for API change
  shell/renderer/api/electron_api_spell_check_client.cc
  shell/renderer/api/electron_api_spell_check_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
