Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: update json_parse_errors_made_user-friendly.patch
  patches/node/json_parse_errors_made_user-friendly.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update render_widget_host_view_mac.patch
  patches/chromium/render_widget_host_view_mac.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: sync to upstream SetInputRegion() changes
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update mas_disable_remote_accessibility.patch
  patches/chromium/mas_disable_remote_accessibility.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: -Werror,-Wshadow error in Node.js
  patches/node/.patches
  patches/node/fix_-wshadow_warning.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/allow_setting_secondary_label_via_simplemenumodel.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/expose_v8initializer_codegenerationcheckcallbackinmainthread.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/mas_disable_remote_layer.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/printing.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/fix_expose_globals_to_allow_patching_devtools_dock.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/mas_disable_custom_window_frame.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/printing.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

4658680: Convert /content/browser to use ARC
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

4669995: Remove CFToNSCast and NSToCFCast
  shell/common/application_info_mac.mm
  shell/common/platform_util_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

WIP: 4658680: Convert /content/browser to use ARC
  BUILD.gn
  filenames.gni
  shell/browser/browser_mac.mm
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/ui/drag_util.h
  shell/browser/ui/inspectable_web_contents_view.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update printing patch after rebase
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

[Feature Request]: Add a parameter to openDevTools() that sets the DevTools window title bar
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: expose safestorage backend information on linux
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/decrypt-app/main.js
  spec/fixtures/api/safe-storage/encrypt-app/main.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

update feedback
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

z-index sorted
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add test
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

update variable name and add include
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use StartUpdating method for PipeWire capturer (#38833)
  patches/chromium/desktop_media_list.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/cookies.md
  docs/api/cookies.md
Due: run-docs-only

feat: `browserWindow.getBrowserViews()` to return sorted by z-index array (#38943)
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Remove gnome-keyring
  docs/api/safe-storage.md
  shell/browser/browser_process_impl.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: added the title attribute to the iframe tag in html file
  spec/fixtures/crash-cases/js-execute-iframe/index.html
  spec/fixtures/extensions/content-script/frame-with-frame.html
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "WIP: 4658680: Convert /content/browser to use ARC"
  BUILD.gn
  filenames.gni
  shell/browser/browser_mac.mm
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/ui/drag_util.h
  shell/browser/ui/inspectable_web_contents_view.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "4669995: Remove CFToNSCast and NSToCFCast"
  shell/common/application_info_mac.mm
  shell/common/platform_util_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium in DEPS to 117.0.5874.0
  DEPS
  patches/chromium/allow_setting_secondary_label_via_simplemenumodel.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_color_correct_rendering.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/expose_v8initializer_codegenerationcheckcallbackinmainthread.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_filter_out_non-shareable_windows_in_the_current_application_in.patch
  patches/chromium/fix_properly_honor_printing_page_ranges.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/mas_disable_custom_window_frame.patch
  patches/chromium/mas_disable_remote_accessibility.patch
  patches/chromium/mas_disable_remote_layer.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/printing.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/fix_expose_globals_to_allow_patching_devtools_dock.patch
  patches/v8/build_gn.patch
  patches/v8/do_not_export_private_v8_symbols_on_windows.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: protocol.handle not intercepting file protocol
  lib/browser/api/protocol.ts
  spec/api-protocol-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

perf: avoid double map lookup in NativeImage::GetHICON()
  shell/common/api/electron_api_native_image.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

perf: avoid redundant map lookup in BluetoothChooser::AddOrUpdateDevice()
  shell/browser/lib/bluetooth_chooser.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

4661244: Convert /content/browser/renderer_host to use ARC
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

4653209: Convert /ui/views:views to use ARC
  BUILD.gn
  filenames.gni
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
  shell/browser/ui/drag_util.h
  shell/browser/ui/inspectable_web_contents_view.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use TypeError instead of generic Error when appropriate
  lib/browser/api/auto-updater/auto-updater-win.ts
  lib/browser/api/touch-bar.ts
  lib/browser/api/utility-process.ts
  lib/browser/api/web-contents.ts
  lib/browser/api/web-frame-main.ts
  lib/browser/ipc-main-impl.ts
  lib/renderer/web-view/guest-view-internal.ts
  script/release/uploaders/upload-to-github.ts
  spec/lib/video-helpers.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: replace Array.prototype.forEach.call with plain for-of
  docs/fiddles/native-ui/dialogs/error-dialog/renderer.js
  docs/fiddles/native-ui/dialogs/information-dialog/renderer.js
  docs/fiddles/native-ui/dialogs/open-file-or-directory/renderer.js
  docs/fiddles/native-ui/dialogs/save-dialog/renderer.js
  docs/fiddles/native-ui/drag-and-drop/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/external-links/index.html
  docs/fiddles/native-ui/external-links-file-manager/index.html
  docs/fiddles/windows/manage-windows/manage-window-state/renderer.js
  docs/fiddles/windows/manage-windows/window-events/renderer.js
Due: run-docs-only

fix: BrowserWindow.moveAbove() not working for child windows
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add missing contextIsolation: false
  docs/fiddles/media/screenshot/take-screenshot/main.js
  docs/fiddles/menus/customize-menus/main.js
  docs/fiddles/menus/shortcuts/main.js
  docs/fiddles/native-ui/dialogs/error-dialog/main.js
  docs/fiddles/native-ui/dialogs/information-dialog/main.js
  docs/fiddles/native-ui/dialogs/open-file-or-directory/main.js
  docs/fiddles/native-ui/dialogs/save-dialog/main.js
  docs/fiddles/native-ui/drag-and-drop/main.js
  docs/fiddles/native-ui/external-links-file-manager/external-links/main.js
  docs/fiddles/native-ui/external-links-file-manager/main.js
  docs/fiddles/native-ui/external-links-file-manager/path-in-file-manager/main.js
  docs/fiddles/native-ui/notifications/basic-notification/main.js
  docs/fiddles/native-ui/notifications/main.js
  docs/fiddles/native-ui/notifications/notification-with-image/main.js
  docs/fiddles/system/system-information/get-version-information/main.js
  docs/fiddles/windows/manage-windows/create-frameless-window/main.js
  docs/fiddles/windows/manage-windows/frameless-window/main.js
  docs/fiddles/windows/manage-windows/manage-window-state/main.js
  docs/fiddles/windows/manage-windows/new-window/main.js
  docs/fiddles/windows/manage-windows/window-events/main.js
Due: run-docs-only

fix: open links in default browser
  docs/fiddles/menus/customize-menus/renderer.js
  docs/fiddles/menus/shortcuts/index.html
  docs/fiddles/menus/shortcuts/renderer.js
  docs/fiddles/native-ui/external-links-file-manager/renderer.js
  docs/fiddles/native-ui/notifications/renderer.js
  docs/fiddles/system/system-information/get-version-information/renderer.js
  docs/fiddles/windows/manage-windows/frameless-window/renderer.js
Due: run-docs-only

chore: fixup mas_disable_remote_accessibility.patch
  patches/chromium/mas_disable_remote_accessibility.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup render_widget_host_view_mac.patch
  patches/chromium/render_widget_host_view_mac.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: window.open causing occasional Node.js crashes
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

all titles->title
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents.h
Due: run-build-mac, run-build-linux, run-docs-only=false
