Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: disable background throttling also in the `viz::DisplayScheduler` (#38924)
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  filenames.gni
  patches/chromium/.patches
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/background_throttling_source.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: revert SameParty cookie attribute removal (#39976)
  patches/chromium/.patches
  patches/chromium/revert_same_party_cookie_attribute_removal.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: Quick Start | Electron Forge chapter requirements updated (#39639)
  docs/tutorial/quick-start.md
Due: run-docs-only

build: allow overriding electron version (#39974)
  BUILD.gn
  buildflags/buildflags.gni
  script/get-git-version.py
  script/lib/get-version.js
  script/print-version.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: detect screen readers by testing their existences
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add tabbingIdentifier property to BrowserWindow
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: fix with enable_pdf_viewer = false
  shell/browser/extensions/api/resources_private/resources_private_api.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: apply size constraints to NSWindow (#39975)
  shell/browser/native_window.cc
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Propagate layout call to all children of InspectableWebContentsViewViews.
  shell/browser/ui/views/inspectable_web_contents_view_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: rounded corners on vibrant macOS modals (#39979)
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove deprecated `app.runningUnderRosettaTranslation()`
  docs/api/app.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_app.cc
  shell/browser/api/electron_api_app.h
  shell/browser/api/electron_api_app_mac.mm
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: failure on immutable webContents.print(options)
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix with `enable_pdf_viewer = false` (#39990)
  shell/browser/extensions/api/resources_private/resources_private_api.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: set window contents as opaque to decrease DWM GPU usage (#39895)
  shell/browser/ui/win/electron_desktop_window_tree_host_win.cc
  shell/browser/ui/win/electron_desktop_window_tree_host_win.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document type-specific module aliases (#39685)
  docs/tutorial/process-model.md
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

chore: remove invalid constexpr qualification
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add missing include for std::variant
  shell/browser/electron_browser_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: enable dark mode on GTK UIs (#38977)
  chromium_src/BUILD.gn
  shell/browser/electron_browser_main_parts.cc
  shell/browser/electron_browser_main_parts.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add middle click event to tray (#39926)
  docs/api/tray.md
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/ui/tray_icon.cc
  shell/browser/ui/tray_icon.h
  shell/browser/ui/tray_icon_observer.h
  shell/browser/ui/win/notify_icon.cc
  shell/browser/ui/win/notify_icon.h
  shell/browser/ui/win/notify_icon_host.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

backport fix for CVE-2023-5217
  patches/chromium/.patches
  patches/chromium/fix_CVE-2023-5217_part1.patch
  patches/chromium/fix_CVE-2023-5217_part2.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium to 119.0.6033.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium to 118.0.5993.31 (includes fix for CVE-2023-5217)
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: update release project board workflows
  .github/workflows/branch-created.yml
  .github/workflows/stable-prep-items.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add PipeWire integration instructions for snaps
  docs/tutorial/snapcraft.md
Due: run-docs-only

chore: cherry-pick 3fbd1dca6a4d from libvpx
  patches/libvpx/.patches
  patches/libvpx/cherry-pick-3fbd1dca6a4d.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update patches config
  patches/config.json
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: update automation workflows
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-unlabeled.yml
  .github/workflows/pull-request-labeled.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/libvpx/cherry-pick-3fbd1dca6a4d.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
