Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

refactor: use _loadURL(url, options ?? {}); (#37337)
  lib/browser/api/web-contents.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add types to webRequest filter (#30914)
  docs/api/structures/web-request-filter.md
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: set wg-releases as owner of /docs/breaking-changes.md (#37405)
  .github/CODEOWNERS
Due: run-build-mac, run-build-linux, run-docs-only=false

OS-14197:Add the capability to use an absolute path for a session.
  docs/api/session.md
  shell/browser/electron_browser_context.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Fixup variable name
  shell/browser/api/electron_api_session.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fromPath() documentation update
  docs/api/session.md
Due: run-docs-only

Update session.md
  docs/api/session.md
Due: run-docs-only

Update doc
  docs/api/session.md
Due: run-docs-only

fix: handle closing webContents in BrowserViews
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add window.close() test
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: improve contents.takeHeapSnapshot error messages
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

doc(clipboard): fix an issue of demo code
  docs/api/clipboard.md
Due: run-docs-only

feat: OS-14592 Create BrightSign CI workflows
  .github/workflows/bs_electron_build_and_test.yml
  .github/workflows/bs_electron_ci_ec2.yml
  .github/workflows/bs_electron_ci_manual_process.yml
  .github/workflows/bs_electron_ci_release_process.yml
  .github/workflows/bs_electron_ci_test_process.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

move dbgcore/dbghelp to extensions_to_skip
  build/zip.py
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: expose initiator in navigation events (#37085)
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

handle different line endings in test
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: about panel is a base::Value::Dict
  shell/browser/browser.h
  shell/browser/browser_linux.cc
  shell/browser/browser_mac.mm
  shell/browser/browser_win.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: DCHECK in MessageSync in rare cases
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

nix this test for a diff PR
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

what if the about dialog was not blocking
  shell/browser/browser_linux.cc
  shell/browser/browser_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

add this test back in
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

document synchronicity
  docs/api/app.md
Due: run-docs-only

fix: about panel crash (#37373)
  shell/browser/browser.h
  shell/browser/browser_linux.cc
  shell/browser/browser_mac.mm
  shell/browser/browser_win.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `BroadcastChannel` initialization location (#37421)
  patches/node/.patches
  patches/node/lib_fix_broadcastchannel_initialization_location.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add disabled tests list (#37334)
  spec/disabled-tests.json
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

github editor is a fan of spaces
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `Notification` with reply obscuring first action on macOS (#37381)
  shell/browser/notifications/mac/cocoa_notification.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix wstring conversion issue
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: handle closing `webContents` in `BrowserView`s (#37420)
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  spec/api-browser-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add enableLocalEcho flag to setDisplayMediaRequestHandler() callback (#37315)
  docs/api/session.md
  shell/browser/electron_browser_context.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: leverage Skia helpers for NSColor ANSI logic
  filenames.gni
  shell/browser/api/electron_api_system_preferences_mac.mm
  shell/browser/ui/cocoa/NSColor+Hex.h
  shell/browser/ui/cocoa/NSColor+Hex.mm
  shell/browser/ui/cocoa/NSString+ANSI.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: OS-14339 Allow wayland to use subsurface compositing (#5)
  patches/chromium/.patches
  patches/chromium/os-14339_browser_constructor_with_negative_rect_dimensions.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: min/max width/height enforcement when `aspectRatio` is set (#37306)
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: improve `contents.takeHeapSnapshot` error messages (#37434)
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: don't double-log unhandled rejections
  shell/browser/electron_browser_main_parts.cc
  shell/renderer/electron_renderer_client.cc
  spec/fixtures/api/unhandled-rejection-handled.js
  spec/fixtures/api/unhandled-rejection.js
  spec/node-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: draggable regions on MAS
  shell/browser/ui/cocoa/electron_ns_window.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

lint
  shell/browser/ui/cocoa/electron_ns_window.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: DCHECK in MessageSync in rare cases (#37439)
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs(clipboard): fix an issue of demo code (#37438)
  docs/api/clipboard.md
Due: run-docs-only
