Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: dark mode on Linux default themeing (#47869)
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: allow macOS tray to maintain position
  docs/api/tray.md
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/ui/tray_icon.cc
  shell/browser/ui/tray_icon.h
  shell/browser/ui/tray_icon_cocoa.h
  shell/browser/ui/tray_icon_cocoa.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: just use guid
  docs/api/tray.md
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/ui/tray_icon.cc
  shell/browser/ui/tray_icon.h
  shell/browser/ui/tray_icon_cocoa.h
  shell/browser/ui/tray_icon_cocoa.mm
  shell/browser/ui/tray_icon_linux.cc
  shell/browser/ui/tray_icon_win.cc
  shell/browser/ui/win/notify_icon_host.cc
  shell/browser/ui/win/notify_icon_host.h
  shell/common/gin_converters/guid_converter.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: fixup tests
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/common/gin_converters/guid_converter.h
  spec/api-tray-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: default to system accent color on invalid user color (#47800)
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/native_window.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views_win.cc
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/browser/web_contents_preferences.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  shell/common/gin_converters/gfx_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: unify GetSystemAccentColor
  shell/browser/api/electron_api_system_preferences_win.cc
  shell/browser/native_window_views.cc
  shell/browser/native_window_views_win.cc
  shell/common/color_util.cc
  shell/common/color_util.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add setAccentColor on Windows
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_system_preferences.h
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: remove redundant parsing
  shell/browser/api/electron_api_base_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.h
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/base-window.md
  docs/api/base-window.md
Due: run-docs-only

Update docs/api/browser-window.md
  docs/api/browser-window.md
Due: run-docs-only

chore: fixup documentation
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add app.getRecentDocuments()
  docs/api/app.md
  docs/tutorial/recent-documents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/browser.h
  shell/browser/browser_linux.cc
  shell/browser/browser_mac.mm
  shell/browser/browser_win.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add actions debugging
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

get screenshots for macos
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

debug CI hang on arm mac
  .github/actions/build-electron/action.yml
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

add debugging
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

more debug/spec fix
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

more debug
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify UUID format
  docs/api/tray.md
Due: run-docs-only

chore: remove @dsanders11's unused include patch CL: https://chromium-review.googlesource.com/c/chromium/src/+/6782507
  patches/chromium/.patches
  patches/chromium/chore_remove_unused_include_in_preconnect_manager_impl_cc.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: apply keychain patch to new apple subdir CL: https://chromium-review.googlesource.com/c/chromium/src/+/6736212
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update other patches
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! fix: apply keychain patch to new apple subdir CL: https://chromium-review.googlesource.com/c/chromium/src/+/6736212
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: mistake in reapplied patch
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_contentgpuclient_precreatemessageloop_callback.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_gn.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_introduce_blocking_api_for_electron.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_patch_out_partition_attribute_dcheck_for_webviews.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_signals_when_embedder_cleanup_callbacks_run_for.patch
  patches/chromium/feat_allow_passing_of_objecttemplate_to_objecttemplatebuilder.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
  patches/devtools_frontend/chore_expose_ui_to_allow_electron_to_set_dock_side.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove OnPrivateNetworkAccessPermissionRequired override CL: https://chromium-review.googlesource.com/c/chromium/src/+/6769208
  shell/browser/net/url_loader_network_observer.h
  shell/common/api/electron_api_url_loader.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: include OverlayWindowLiveCaptionButton CL: https://chromium-review.googlesource.com/c/chromium/src/+/6787420
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: format BUILD.gn CL: https://chromium-review.googlesource.com/c/chromium/src/+/6787427
  BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: update colorSpace property to use new unified value CL: https://chromium-review.googlesource.com/c/chromium/src/+/6795085
  shell/common/gin_converters/gfx_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: format chromium_src/BUILD.gn CL: https://chromium-review.googlesource.com/c/chromium/src/+/6787427
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: include script/ in logged path
  script/gen-libc++-filenames.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: update filenames.libcxx.gni CL: https://chromium-review.googlesource.com/c/chromium/src/+/6787279
  filenames.libcxx.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `app.getRecentDocuments()` (#45839)
  docs/api/app.md
  docs/tutorial/recent-documents.md
  shell/browser/api/electron_api_app.cc
  shell/browser/browser.h
  shell/browser/browser_linux.cc
  shell/browser/browser_mac.mm
  shell/browser/browser_win.cc
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: revert "ci: fixup mac runners" (#47917)
  .github/actions/free-space-macos/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: cleanup use new arc cluster
  .github/actions/build-electron/action.yml
  .github/actions/restore-cache-azcopy/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: roll build-images to 933c7d6 (#47880)
  .devcontainer/docker-compose.yml
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
  .github/workflows/windows-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
