Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

chore: trim comments
  script/dbusmock_xdg_file_chooser_portal.py
  shell/browser/ui/file_dialog_linux.cc
  spec/api-dialog-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs(mas): update security scoped bookmarks link
  docs/api/app.md
  docs/api/dialog.md
Due: run-docs-only

feat: add fontType option to MenuItem on macOS
  docs/api/menu-item.md
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/ui/cocoa/electron_menu_controller.mm
  shell/browser/ui/electron_menu_model.cc
  shell/browser/ui/electron_menu_model.h
  spec/api-menu-item-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: validate fontType and keep it applied across label refreshes
  lib/browser/api/menu.ts
  shell/browser/ui/cocoa/electron_menu_controller.mm
  spec/api-menu-item-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

7979322: Destroy ProcessSingleton window before releasing lock file on Windows.
  patches/chromium/process_singleton.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

update patches
  patches/node/api_delete_deprecated_fields_on_v8_isolate.patch
  patches/node/fix_allow_disabling_fetch_in_renderer_and_worker_processes.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add save/restore window state API (#51510)
  docs/README.md
  docs/api/base-window.md
  docs/api/structures/base-window-options.md
  docs/api/structures/window-state-persistence.md
  docs/development/multi-monitor-testing.md
  docs/development/testing.md
  docs/tutorial/window-state-persistence.md
  filenames.auto.gni
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/browser_process_impl.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_observer.h
  shell/browser/native_window_views.cc
  shell/common/electron_constants.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/window-state-save/close-save/index.js
  spec/fixtures/api/window-state-save/fullscreen-save/index.js
  spec/fixtures/api/window-state-save/kiosk-save/index.js
  spec/fixtures/api/window-state-save/main-thread-busy/index.js
  spec/fixtures/api/window-state-save/maximize-save/index.js
  spec/fixtures/api/window-state-save/minimize-save/index.js
  spec/fixtures/api/window-state-save/move-save/index.js
  spec/fixtures/api/window-state-save/resize-save/index.js
  spec/fixtures/api/window-state-save/schema-check/index.js
  spec/fixtures/api/window-state-save/work-area-primary/index.js
  spec/fixtures/native-addon/virtual-display/binding.gyp
  spec/fixtures/native-addon/virtual-display/include/VirtualDisplayBridge.h
  spec/fixtures/native-addon/virtual-display/lib/virtual-display.js
  spec/fixtures/native-addon/virtual-display/package.json
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplayBridge.m
  spec/fixtures/native-addon/virtual-display/src/addon.mm
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: don't create an autofill popup window for empty suggestion lists
  shell/browser/electron_autofill_driver.cc
  shell/renderer/electron_autofill_agent.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: also reject mismatched values/labels in ShowAutofillPopup
  shell/browser/electron_autofill_driver.cc
  shell/renderer/electron_autofill_agent.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: restore SelfKeepAlive in Menu (#52248)
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: honor webContents.print option names
  shell/browser/api/electron_api_web_contents.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7979322: Destroy ProcessSingleton window before releasing lock file on Windows.
  shell/browser/api/electron_api_app.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: emit session events for WebAuthn security key request lifecycle
  docs/api/session.md
  shell/browser/webauthn/electron_authenticator_request_client_delegate.cc
  shell/browser/webauthn/electron_authenticator_request_client_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add enter-webauthn-pin session event for security key PINs
  docs/api/session.md
  shell/browser/webauthn/electron_authenticator_request_client_delegate.cc
  shell/browser/webauthn/electron_authenticator_request_client_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: cover WebAuthn ceremony session events
  spec/api-web-authn-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

update
  shell/browser/api/electron_api_utility_process.cc
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/ipc_dispatcher.h
  shell/browser/api/message_port.cc
  shell/browser/api/message_port.h
  shell/services/node/parent_port.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: develope -> develop in 1 file(s) for electron/electron
  CLAUDE.md
Due: run-build-mac, run-build-linux, run-docs-only=false

docs(mas): update security scoped bookmarks link (#52267)
  docs/api/app.md
  docs/api/dialog.md
Due: run-docs-only

fix: read asar contents through the archive's retained file handle
  shell/browser/net/asar/asar_url_loader.cc
  shell/common/asar/archive.cc
  shell/common/asar/archive.h
  shell/common/asar/asar_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! 7952612: Enforce frame destinations require kNavigate mode
  docs/breaking-changes.md
  shell/common/api/electron_api_url_loader.cc
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! 7877126: WaaP: Apply spellcheck skipping feature to NTP
  patches/chromium/chore_patch_out_profile_methods.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump Node.js macOS deployment target to 13.0
  patches/node/.patches
  patches/node/build_restore_macos_deployment_target_to_13_0.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump Node.js macOS deployment target to 13.0 (#52286)
  patches/node/.patches
  patches/node/build_restore_macos_deployment_target_to_13_0.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lint
  shell/common/asar/asar_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lint again
  shell/browser/net/asar/asar_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: only ship grit resources the binary actually references (macOS)
  BUILD.gn
  build/args/all.gn
  build/electron_paks.gni
  patches/chromium/build_allow_resource_allowlist_generation_for_linux_and_macos.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: clear read-only attribute before removal in RmSync on Windows
  patches/node/.patches
  patches/node/fix_clear_read-only_attribute_before_removal_in_rmsync_on_windows.patch
  spec/node-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

7876740: Implement Content Layer Echo for AISemanticEmbedder
  shell/browser/ai/proxying_ai_manager.cc
  shell/browser/ai/proxying_ai_manager.h
  shell/utility/ai/utility_ai_manager.cc
  shell/utility/ai/utility_ai_manager.h
Due: run-build-mac, run-build-linux, run-docs-only=false

build: only ship grit resources the binary actually references (macOS) (#52290)
  BUILD.gn
  build/args/all.gn
  build/electron_paks.gni
  patches/chromium/build_allow_resource_allowlist_generation_for_linux_and_macos.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: read asar contents through the archive's retained file handle (#52283)
  shell/browser/net/asar/asar_url_loader.cc
  shell/common/asar/archive.cc
  shell/common/asar/archive.h
  shell/common/asar/asar_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: deliver macOS notification without icon when attachment creation fails
  shell/browser/notifications/mac/cocoa_notification.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: expose MemAvailable as process.getSystemMemoryInfo().available on Linux
  docs/api/process.md
  shell/common/api/electron_bindings.cc
  spec/api-process-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/can_create_window.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_carry_embedder_startup_data_in_createnewwindowreply.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_deliver_service_worker_preload_data_via_embeddedworkerstartparams.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: label PRs to main with the major version after merging
  .github/workflows/branch-created.yml
  .github/workflows/pull-request-merged.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9 changes from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-086fe2cf7f7c.patch
  patches/chromium/cherry-pick-17a4e7216d1b.patch
  patches/chromium/cherry-pick-1824adf21674.patch
  patches/chromium/cherry-pick-45d7457ac585.patch
  patches/chromium/cherry-pick-7aea889dfa2f.patch
  patches/chromium/cherry-pick-873978ddc92b.patch
  patches/chromium/cherry-pick-a29aa590633b.patch
  patches/chromium/cherry-pick-d4835549d158.patch
  patches/chromium/cherry-pick-e6468cc124d6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 8 changes from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-086fe2cf7f7c.patch
  patches/chromium/cherry-pick-17a4e7216d1b.patch
  patches/chromium/cherry-pick-1824adf21674.patch
  patches/chromium/cherry-pick-45d7457ac585.patch
  patches/chromium/cherry-pick-782c6b3e9bb4.patch
  patches/chromium/cherry-pick-7aea889dfa2f.patch
  patches/chromium/cherry-pick-873978ddc92b.patch
  patches/chromium/cherry-pick-e6468cc124d6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update siso patches
  .github/siso-patches/0002-siso-retry-transient-ERROR_INVALID_PARAMETER-when-op.patch
  .github/siso-patches/0003-siso-do-not-let-background-subtree-upload-poison-the.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

8013273: Allow NativeViewHost to use views layer management
  shell/browser/ui/inspectable_web_contents_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false
