Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick 9797576 from v8 (#43385)
  patches/v8/.patches
  patches/v8/spill_all_loop_inputs_before_entering_loop.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9797576 from v8 (#43384)
  patches/v8/.patches
  patches/v8/spill_all_loop_inputs_before_entering_loop.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update timelines for E33 (#43389)
  docs/tutorial/electron-timelines.md
Due: run-docs-only

chore: cherry-pick 9797576 from v8 (#43386)
  patches/v8/.patches
  patches/v8/spill_all_loop_inputs_before_entering_loop.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9797576 from v8 (#43387)
  patches/v8/.patches
  patches/v8/spill_all_loop_inputs_before_entering_loop.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Add section on "panel" type in docs/tutorial/window-customization.md
  docs/tutorial/window-customization.md
Due: run-docs-only

refactor: NodeBindings::Create() returns a unique_ptr (#43381)
  shell/common/node_bindings.h
  shell/common/node_bindings_linux.cc
  shell/common/node_bindings_mac.cc
  shell/common/node_bindings_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused method Erase() (#43382)
  shell/browser/electron_browser_main_parts.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove unused SetWMSpecState (#43383)
  shell/browser/ui/x/x_window_utils.cc
  shell/browser/ui/x/x_window_utils.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: touch bar functionality on BaseWindow
  lib/browser/api/base-window.ts
  lib/browser/api/browser-window.ts
  lib/browser/api/touch-bar.ts
  shell/browser/api/electron_api_base_window.cc
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add test for BaseWindow.setTouchBar
  spec/api-touch-bar-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: set wg-infra as CODEOWNER for GHA build configs (#43223)
  .github/CODEOWNERS
Due: run-build-mac, run-build-linux, run-docs-only=false

5789734: Consolidate all the accessibility scale factor utility code into one file
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

5798543: [autofill] Don't emit autofill audit reports if inspector not connected
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

5797073: [wasm] Spill all loop inputs before entering loop
  patches/v8/.patches
  patches/v8/spill_all_loop_inputs_before_entering_loop.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/partially_revert_is_newly_created_to_allow_for_browser_initiated.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/deps_add_v8_object_setinternalfieldfornodecore.patch
  patches/v8/fix_disable_scope_reuse_associated_dchecks.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

5795224: Version 13.0.0
  patches/nan/fix_define_nan_copyablepersistenttraits_for_v8_12_5.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: roll sysroots
  script/sysroots.json
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: hide menu bar on windows fullscreen
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: menu should allow focused BaseWindow
  docs/api/menu-item.md
  lib/browser/api/menu-item-roles.ts
  lib/browser/api/menu-item.ts
  lib/browser/api/menu.ts
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Update docs/api/notification.md
  docs/api/notification.md
Due: run-docs-only

chore: mentioned signed commit requirement
  .github/config.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: titleBarOverlay is defined as a BaseWindow ctor option
  docs/api/structures/base-window-options.md
  docs/api/structures/browser-window-options.md
Due: run-docs-only

test: state prior to html fullscreen transition
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: move impl functions into private namespace (#43372)
  shell/app/node_main.cc
  shell/browser/api/electron_api_crash_reporter.cc
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/electron_browser_client.cc
  shell/browser/extensions/api/tabs/tabs_api.cc
  shell/browser/serial/serial_chooser_context.cc
  shell/common/asar/asar_util.cc
  shell/common/extensions/electron_extensions_api_provider.cc
  shell/common/gin_helper/cleaned_up_at_exit.cc
  shell/common/logging.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Tolerate multiple calls to `registerSchemesAsPrivileged`
  shell/browser/api/electron_api_protocol.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

lint
  shell/browser/api/electron_api_protocol.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

semicolon
  shell/browser/api/electron_api_protocol.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

update docs
  docs/api/protocol.md
Due: run-docs-only

Update tests
  spec/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify icon value in Notification (#43377)
  docs/api/notification.md
Due: run-docs-only

feat: partially implement IsDisplayMediaSystemPickerAvailable
  filenames.gni
  lib/browser/api/desktop-capturer.ts
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/feature_list_mac.mm
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: use upstream MacOS SCContentSharingPicker implementation pt. 1
  patches/chromium/.patches
  patches/chromium/feat_make_macos_sccontentsharingpicker_work_in_electron.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typos in 'docs/' folder.
  docs/api/session.md
  docs/api/touch-bar-scrubber.md
  docs/api/web-utils.md
Due: run-docs-only

chore: fix typos in 'shell/' folder.
  shell/browser/api/electron_api_session.cc
  shell/browser/extensions/api/scripting/scripting_api.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/net/asar/asar_url_loader_factory.h
  shell/browser/net/proxying_url_loader_factory.h
  shell/browser/usb/electron_usb_delegate.h
  shell/browser/usb/usb_chooser_context.h
  shell/common/extensions/api/browser_action.json
  shell/common/gin_converters/callback_converter.h
  shell/common/gin_helper/callback.cc
  shell/common/gin_helper/callback.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typos in 'spec/' folder (and one in 'lib/' folder)
  lib/browser/init.ts
  spec/api-crash-reporter-spec.ts
  spec/asar-integrity-spec.ts
  spec/guest-window-manager-spec.ts
  spec/lib/screen-helpers.ts
  spec/modules-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typos in 'patches/' folder.
  patches/chromium/crashpad_pid_check.patch
  patches/chromium/dump_syms.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/introduce_ozoneplatform_electron_can_call_x11_property.patch
  patches/nan/apply_allcan_read_write.patch
  patches/node/fix_add_property_query_interceptors.patch
  patches/node/fix_capture_embedder_exceptions_before_entering_v8.patch
  patches/squirrel.mac/build_add_gn_config.patch
  patches/squirrel.mac/feat_add_ability_to_prevent_version_downgrades.patch
  patches/v8/chore_allow_customizing_microtask_policy_per_context.patch
  patches/v8/deps_add_v8_object_setinternalfieldfornodecore.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: touch bar functionality on BaseWindow (#43353)
  lib/browser/api/base-window.ts
  lib/browser/api/browser-window.ts
  lib/browser/api/touch-bar.ts
  shell/browser/api/electron_api_base_window.cc
  spec/api-touch-bar-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: ensure bounds stability in OnWidgetBoundsChanged
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix typos in 'spec/' folder (and one in 'lib/' folder) (#43374)
  lib/browser/init.ts
  spec/api-crash-reporter-spec.ts
  spec/asar-integrity-spec.ts
  spec/guest-window-manager-spec.ts
  spec/lib/screen-helpers.ts
  spec/modules-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
