Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

7837883: Reland: [gin] Delete DeprecatedWrappable
  patches/chromium/chore_restore_some_deprecated_wrapper_utility_in_gin.patch
  patches/chromium/feat_allow_passing_of_objecttemplate_to_objecttemplatebuilder.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7835814: Use HttpRequestHeadersUpdateParams in mojom::URLLoader::FollowRedirect
  shell/browser/net/asar/asar_url_loader.cc
  shell/browser/net/electron_url_loader_factory.cc
  shell/browser/net/electron_url_loader_factory.h
  shell/browser/net/node_stream_loader.h
  shell/browser/net/proxying_url_loader_factory.cc
  shell/browser/net/proxying_url_loader_factory.h
Due: run-build-mac, run-build-linux, run-docs-only=false

7872137: Remove Show/Hide from public RenderWidgetHostView API
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/osr/osr_render_widget_host_view.cc
  shell/browser/web_view_guest_delegate.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7807475: [mac] Throttle IPCs on manual resize
  patches/chromium/fix_restore_original_resize_performance_on_macos.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_allow_electron_to_use_exec_script.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_customizing_symbol_color_in_framecaptionbutton.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_select_the_first_menu_item_when_opened_via_keyboard.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/short-circuit_permissions_checks_in_mediastreamdevicescontroller.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/devtools_frontend/feat_allow_enabling_extension_panels_on_custom_protocols.patch
  patches/ffmpeg/link_with_loader_path.patch
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_contentgpuclient_precreatemessageloop_callback.patch
  patches/chromium/add_ui_scopedcliboardwriter_writeunsaferawdata.patch
  patches/chromium/build_libc_as_static_library.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_enabling_extensions_on_custom_protocols.patch
  patches/chromium/feat_configure_launch_options_for_service_process.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_add_reinitializegeneratedcodecachecontext_to.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_multiple_scopedpumpmessagesinprivatemodes_instances.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
  patches/v8/src_use_legacy_trace_macros_in_perfetto_to_support_all_phases.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7884855: Use FrameView::HitTestCallback to use HTNOWHERE instead of std::optional
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_contentgpuclient_precreatemessageloop_callback.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/disable_hidden.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_enabling_extensions_on_custom_protocols.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_add_reinitializegeneratedcodecachecontext_to.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_harden_blink_scriptstate_maybefrom.patch
  patches/chromium/fix_initialize_com_on_desktopmedialistcapturethread_on_windows.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gtk_visibility.patch
  patches/chromium/hack_plugin_response_interceptor_to_point_to_electron.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/patch_osr_control_screen_info.patch
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
  patches/chromium/printing.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7860597: [Glic] Support GeminiEnterpriseSettings enterprise policy
  patches/chromium/chore_patch_out_profile_methods.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/build_disable_llvm_unroll-add-parallel-reductions_on_apple_targets.patch
  patches/chromium/feat_carry_embedder_startup_data_in_createnewwindowreply.patch
  patches/chromium/feat_deliver_service_worker_preload_data_via_embeddedworkerstartparams.patch
  patches/node/.patches
  patches/node/inspector_adapt_to_crdtp_dispatchable_api_change.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use @electron-internal/extract-zip in the npm package (#51911)
  npm/install.js
  npm/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: tie window-state restore guard to display-mode transition lifecycle
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 17 changes from angle, chromium, webrtc (#51906)
  patches/angle/.patches
  patches/angle/cherry-pick-0323970550b9.patch
  patches/angle/cherry-pick-86d64be7672e.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-155b785d0e4f.patch
  patches/chromium/cherry-pick-16dcbc3d1476.patch
  patches/chromium/cherry-pick-1cd1e8607c8e.patch
  patches/chromium/cherry-pick-2cdb07c74d06.patch
  patches/chromium/cherry-pick-6aa38f2d02b7.patch
  patches/chromium/cherry-pick-7adec41c4fdc.patch
  patches/chromium/cherry-pick-7d0b7c526075.patch
  patches/chromium/cherry-pick-926d3d259750.patch
  patches/chromium/cherry-pick-b885cb0c8e97.patch
  patches/chromium/cherry-pick-d3ea06df9a4c.patch
  patches/chromium/cherry-pick-e2b91876eb01.patch
  patches/chromium/cherry-pick-faada322153d.patch
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-12cce13db567.patch
  patches/webrtc/cherry-pick-21d9744bd599.patch
  patches/webrtc/cherry-pick-458a75ec3e37.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7709352: Printing: Delete XPS printer capabilities code
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document setAlwaysOnTop and isAlwaysOnTop Wayland limitations (#50560)
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/structures/base-window-options.md
Due: run-docs-only

fix: lazily initialize safeStorage async encryptor (#50419)
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add API documentation for app.setDesktopName (#51426)
  docs/api/app.md
  spec/api-app-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: upgrade to ws 8.21.0
  spec/api-net-websocket-spec.ts
  spec/api-web-request-spec.ts
  spec/extensions-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support win.setOpacity on Linux (#51455)
  docs/api/browser-window.md
  shell/browser/native_window_views.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.cc
  shell/browser/ui/electron_desktop_window_tree_host_linux.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: backport VideoToolbox compressed pixel format prototype
  patches/chromium/.patches
  patches/chromium/mac_prototype_compressed_pixel_format_support_for_video_decoding.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: invalidate sandboxed preload code cache when source changes without changing length
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_web_contents_utility_handler_impl.cc
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/browser/preload_code_cache.cc
  shell/browser/preload_code_cache.h
  shell/browser/renderer_startup_data.cc
  shell/common/api/api.mojom
  shell/common/web_contents_utility.mojom
  shell/renderer/preload_utils.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: use strict mode for TS smoke tests and improve typings
  spec/ts-smoke/electron/main.ts
  spec/ts-smoke/electron/renderer.ts
  spec/ts-smoke/tsconfig.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: invalidate sandboxed preload code cache when source changes without changing length (#51930)
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/electron_browser_client.cc
  shell/browser/electron_web_contents_utility_handler_impl.cc
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/browser/preload_code_cache.cc
  shell/browser/preload_code_cache.h
  shell/browser/renderer_startup_data.cc
  shell/common/api/api.mojom
  shell/common/web_contents_utility.mojom
  shell/renderer/preload_utils.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9 changes from chromium, v8
  patches/chromium/.patches
  patches/chromium/cherry-pick-36f6889ed145.patch
  patches/chromium/cherry-pick-3f6678d31736.patch
  patches/chromium/cherry-pick-409ec3ebc79c.patch
  patches/chromium/cherry-pick-b534033a6391.patch
  patches/chromium/cherry-pick-c92de87bddf2.patch
  patches/chromium/cherry-pick-cd7201c2fce0.patch
  patches/chromium/cherry-pick-db94c2cb8239.patch
  patches/chromium/cherry-pick-f9e6631b2ded.patch
  patches/v8/.patches
  patches/v8/cherry-pick-c6bfbe7c4e84.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: align backport skill PR body with template and tone down security detail
  .claude/skills/chrome-release-verify/SKILL.md
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 14 changes from chromium, v8
  patches/chromium/.patches
  patches/chromium/cherry-pick-136880de7a91.patch
  patches/chromium/cherry-pick-36f6889ed145.patch
  patches/chromium/cherry-pick-3f6678d31736.patch
  patches/chromium/cherry-pick-409ec3ebc79c.patch
  patches/chromium/cherry-pick-74a45c11c791.patch
  patches/chromium/cherry-pick-a3fe69a65a6d.patch
  patches/chromium/cherry-pick-b534033a6391.patch
  patches/chromium/cherry-pick-ba3e2c142b89.patch
  patches/chromium/cherry-pick-c92de87bddf2.patch
  patches/chromium/cherry-pick-cd7201c2fce0.patch
  patches/chromium/cherry-pick-db94c2cb8239.patch
  patches/chromium/cherry-pick-ddbffa721d7c.patch
  patches/chromium/cherry-pick-f9e6631b2ded.patch
  patches/v8/.patches
  patches/v8/cherry-pick-c6bfbe7c4e84.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 4 changes from chromium, v8
  patches/chromium/.patches
  patches/chromium/cherry-pick-40c4ee1326a2.patch
  patches/chromium/cherry-pick-7b1403be9ec4.patch
  patches/chromium/cherry-pick-7c925f1f0941.patch
  patches/v8/.patches
  patches/v8/cherry-pick-c6bfbe7c4e84.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9 changes from chromium, v8 (#51934)
  patches/chromium/.patches
  patches/chromium/cherry-pick-36f6889ed145.patch
  patches/chromium/cherry-pick-3f6678d31736.patch
  patches/chromium/cherry-pick-409ec3ebc79c.patch
  patches/chromium/cherry-pick-b534033a6391.patch
  patches/chromium/cherry-pick-c92de87bddf2.patch
  patches/chromium/cherry-pick-cd7201c2fce0.patch
  patches/chromium/cherry-pick-db94c2cb8239.patch
  patches/chromium/cherry-pick-f9e6631b2ded.patch
  patches/v8/.patches
  patches/v8/cherry-pick-c6bfbe7c4e84.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! chore: remove localAIHandler.setPromptAPIHandler(null)
  spec/ts-smoke/electron/utility.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: address code review feedback
  docs/api/structures/language-model-prompt-options.md
  docs/tutorial/local-ai-handler.md
  shell/browser/api/electron_api_utility_process.h
  shell/common/node_bindings.cc
  shell/utility/api/electron_api_local_ai_handler.h
  spec/api-local-ai-handler-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: address Copilot code review
  docs/tutorial/local-ai-handler.md
  shell/utility/ai/utility_ai_language_model.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add safeStorage.getEncryptor for async initialization
  docs/api/safe-storage.md
  docs/api/structures/decrypt-string-async-return-value.md
  docs/api/structures/safe-storage-encryptor.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: report async safeStorage availability from encryptor state
  shell/browser/api/electron_api_safe_storage.cc
  spec/api-safe-storage-spec.ts
  spec/fixtures/api/safe-storage/async-first-use-app/main.js
  spec/fixtures/api/safe-storage/async-first-use-app/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add deprecation to breaking-changes.md
  docs/breaking-changes.md
Due: run-docs-only

fix: build issues
  BUILD.gn
  filenames.auto.gni
  shell/browser/electron_browser_main_parts.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: migration to OSCryptAsync and deprecation of safeStorage sync APIs
  docs/api/safe-storage.md
  docs/api/structures/safe-storage-encryptor.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  shell/browser/browser_process_impl.cc
  shell/browser/net/system_network_context_manager.h
  shell/browser/os_crypt_async_encryptor_provider.cc
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fixed lint errors
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/browser_process_impl.h
  shell/browser/net/system_network_context_manager.cc
  shell/browser/os_crypt_async_encryptor_provider.h
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: corrected breaking-changes
  docs/breaking-changes.md
Due: run-docs-only

fix: transition of OSCrypt sync to OSCryptAsync
  BUILD.gn
  filenames.gni
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  shell/browser/browser_process_impl.cc
  shell/browser/browser_process_impl.h
  shell/browser/electron_browser_main_parts.cc
  shell/browser/net/system_network_context_manager.cc
  shell/browser/net/system_network_context_manager.h
  shell/browser/os_crypt_async_encryptor_provider.cc
  shell/browser/os_crypt_async_encryptor_provider.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: moving linux headers to BUILDFLAG check
  shell/browser/api/electron_api_safe_storage.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
