Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fixup! 6606232: [views] Remove DesktopWindowTreeHostWin::window_enlargement_ https://chromium-review.googlesource.com/c/chromium/src/+/6606232
  shell/browser/feature_list.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

6579732: Two minor API "quality of life" cleanups in OSCrypt Async https://chromium-review.googlesource.com/c/chromium/src/+/6579732
  shell/browser/browser_process_impl.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add include for base::SingleThreadTaskRunner
  shell/browser/ui/views/autofill_popup_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_add_electron_tracing_category.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_grandfather_in_electron_views_and_delegates.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/disable_compositor_recycling.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_activate_background_material_on_windows.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_disabling_background_throttling_in_compositor.patch
  patches/chromium/fix_move_autopipsettingshelper_behind_branding_buildflag.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/render_widget_host_view_mac.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

6543986: Mac: decouple deserializing and applying sandbox policy https://chromium-review.googlesource.com/c/chromium/src/+/6543986
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

6582142: Use content::Create*Capturer in DesktopCaptureDevice. https://chromium-review.googlesource.com/c/chromium/src/+/6582142
  shell/browser/api/electron_api_desktop_capturer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/boringssl/expose_ripemd160.patch
  patches/boringssl/revert_track_ssl_error_zero_return_explicitly.patch
  patches/chromium/add_contentgpuclient_precreatemessageloop_callback.patch
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/build_disable_thin_lto_mac.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_libc_as_static_library.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_electron_deps_to_gitignores.patch
  patches/chromium/chore_modify_chromium_handling_of_mouse_events.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/desktop_media_list.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_add_data_parameter_to_processsingleton.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_ensure_mas_builds_of_the_same_application_can_use_safestorage.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_activate_background_material_on_windows.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gin_enable_disable_v8_platform.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/logging_win32_only_create_a_console_if_logging_to_stderr.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/printing.patch
  patches/chromium/process_singleton.patch
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
  patches/sqlite/fix_rename_sqlite_win32_exports_to_avoid_conflicts_with_node_js.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-f1e6422a355c.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/v8/.patches
  patches/v8/cherry-pick-45eb42cd398e.patch
  patches/v8/cherry-pick-7bc0a67ebfbf.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: allow updating git cache from workflow dispatch
  .github/workflows/build-git-cache.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

temporarily build cache for 36
  .github/workflows/build-git-cache.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: Update docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-1-prerequisites.md
Due: run-docs-only

chore: Update docs/tutorial/tutorial-3-preload.md
  docs/tutorial/tutorial-3-preload.md
Due: run-docs-only

chore: Update docs/tutorial/tutorial-2-first-app.md
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

chore: linebreak
  docs/tutorial/snapcraft.md
Due: run-docs-only

Don't use static variable for UseExternalPopupMenus
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Use DIR_ASSETS path to locate resource bundles
  docs/api/app.md
  shell/app/electron_main_delegate.cc
  shell/browser/api/electron_api_app.cc
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Reland "Roll libc++ from a01c02c9d4ac to a9cc573e7c59
  patches/chromium/fix_enable_wrap_iter_in_string_view_and_array.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: save/restore window state
  default_app/default_app.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/electron_browser_context.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/common/electron_constants.h
  shell/common/options_switches.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium in DEPS to 139.0.7219.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

cleanup
  default_app/default_app.ts
  shell/common/electron_constants.h
Due: run-build-mac, run-build-linux, run-docs-only=false

revert temp changes
  .github/workflows/build-git-cache.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

remove constructor option
  default_app/default_app.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

revert Don't use static variable for UseExternalPopupMenus
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: mention `kwallet6` command line option
  docs/api/safe-storage.md
Due: run-docs-only

tls: remove deprecated tls.createSecurePair and SecurePair
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: have ShowSaveDialogSync() return a std::optional<base::FilePath>
  shell/browser/api/electron_api_dialog.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/ui/file_dialog.h
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: no class inheritance (#47403)
  docs/api/base-window.md
  docs/api/browser-view.md
  docs/api/browser-window.md
  docs/api/image-view.md
  docs/api/ipc-main-service-worker.md
  docs/api/menu-item.md
  docs/api/menu.md
  docs/api/message-channel-main.md
  docs/api/notification.md
  docs/api/share-menu.md
  docs/api/touch-bar.md
  docs/api/tray.md
  docs/api/view.md
  docs/api/web-contents-view.md
  docs/faq.md
Due: run-docs-only

fix: crash calling Fetch.continueResponse with WebContentsView
  shell/browser/api/electron_api_debugger.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Reland "Roll libc++ from a01c02c9d4ac to a9cc573e7c59"
  patches/chromium/fix_enable_wrap_iter_in_string_view_and_array.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: do not handle default case
  shell/common/gin_converters/gfx_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add ColorSpace structure
  docs/api/structures/color-space.md
  filenames.auto.gni
  shell/common/gin_converters/gfx_converter.cc
  shell/common/gin_converters/gfx_converter.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! refactor: have ShowSaveDialogSync() return a std::optional<base::FilePath>
  shell/browser/ui/file_dialog_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "revert Don't use static variable for UseExternalPopupMenus"
  patches/chromium/extend_apply_webpreferences.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "chore: bump chromium in DEPS to 139.0.7219.0"
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: Fix typos
  docs/fiddles/features/window-customization/custom-title-bar/custom-drag-region/index.html
  docs/fiddles/features/window-customization/custom-title-bar/custom-title-bar/index.html
Due: run-docs-only

docs (custom-title-bar-fiddle): fix typo in index.html
  docs/fiddles/features/window-customization/custom-title-bar/custom-title-bar/index.html
Due: run-docs-only
