Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove optional chaining
  lib/asar/fs-wrapper.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix nativeTheme test when system in dark mode (#36943)
  spec/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: don't run stale workflow jobs in parallel
  .github/workflows/stale.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

test: support running tests against Electron releases
  package.json
  script/spec-runner.js
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make plugin helper executable unconditional
  shell/app/electron_main_delegate_mac.mm
  shell/browser/electron_browser_client.cc
  shell/common/mac/main_application_bundle.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Update quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

ci: don't run stale workflow jobs in parallel (#36967)
  .github/workflows/stale.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cleanup autofill agent shutdown sequence (#36954)
  shell/renderer/electron_autofill_agent.cc
  shell/renderer/electron_autofill_agent.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: make plugin helper executable unconditional (#36971)
  shell/app/electron_main_delegate_mac.mm
  shell/browser/electron_browser_client.cc
  shell/common/mac/main_application_bundle.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: clean up .keep files
  docs/fiddles/media/screenshot/.keep
  docs/fiddles/menus/customize-menus/.keep
  docs/fiddles/menus/shortcuts/.keep
  docs/fiddles/native-ui/dialogs/.keep
  docs/fiddles/native-ui/drag-and-drop/.keep
  docs/fiddles/native-ui/external-links-file-manager/.keep
  docs/fiddles/native-ui/notifications/.keep
  docs/fiddles/native-ui/tray/.keep
  docs/fiddles/system/protocol-handler/.keep
  docs/fiddles/system/system-app-user-information/.keep
  docs/fiddles/windows/manage-windows/.keep
Due: run-docs-only

updated website url to relative file path
  docs/tutorial/launch-app-from-url-in-another-app.md
Due: run-docs-only

Fixed webview docs #34678
  docs/api/webview-tag.md
Due: run-docs-only

Update .gitignore
  .gitignore
Due: run-build-mac, run-build-linux, run-docs-only=false

Webview docs fixed
  docs/api/webview-tag.md
Due: run-docs-only

Update introduction.md
  docs/tutorial/introduction.md
Due: run-docs-only

chore: cherry-pick 5e04f643 from chromium
  patches/chromium/.patches
  patches/chromium/axselectedtextmarkerrange_should_not_be_backwards.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: clean up .keep files (#36980)
  docs/fiddles/media/screenshot/.keep
  docs/fiddles/menus/customize-menus/.keep
  docs/fiddles/menus/shortcuts/.keep
  docs/fiddles/native-ui/dialogs/.keep
  docs/fiddles/native-ui/drag-and-drop/.keep
  docs/fiddles/native-ui/external-links-file-manager/.keep
  docs/fiddles/native-ui/notifications/.keep
  docs/fiddles/native-ui/tray/.keep
  docs/fiddles/system/protocol-handler/.keep
  docs/fiddles/system/system-app-user-information/.keep
  docs/fiddles/windows/manage-windows/.keep
Due: run-docs-only

workflows: Dummy change to get workflow to appear.
  .github/workflows/bs_electron_ci_manual_process.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

workflows: Copy across workflows from dev project.
  .github/workflows/bs_electron_build_and_test.yml
  .github/workflows/bs_electron_ci_ec2.yml
  .github/workflows/bs_electron_ci_manual_process.yml
  .github/workflows/bs_electron_ci_release_process.yml
  .github/workflows/bs_electron_ci_test_process.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

workflows: Revert back dummy change.
  .github/workflows/bs_electron_ci_manual_process.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 5e04f643 from chromium (#36991)
  patches/chromium/.patches
  patches/chromium/axselectedtextmarkerrange_should_not_be_backwards.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

https://ftp.atomxplus.com
  LICENSE
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add a `<datalist>` spec for time type (#36953)
  spec/autofill-spec.ts
  spec/fixtures/pages/datalist-text.html
  spec/fixtures/pages/datalist-time.html
  spec/fixtures/pages/datalist.html
Due: run-build-mac, run-build-linux, run-docs-only=false

undo changes to yarn.lock from merge
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

Update README.md
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use vscode-markdown-languageservice for link linting (#36901)
  docs/api/browser-window.md
  docs/breaking-changes.md
  package.json
  script/check-relative-doc-links.py
  script/lib/markdown.ts
  script/lib/utils.js
  script/lint-docs-links.ts
  script/lint.js
  script/run-clang-tidy.ts
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: cherry-pick 0d4862e31aca and c4e7fe2f2e1b from chromium (#36586)
  patches/chromium/.patches
  patches/chromium/mojo_disable_sync_call_interrupts_in_the_browser.patch
  patches/chromium/mojo_validate_that_a_message_is_allowed_to_use_the_sync_flag.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cleanup ElectronContentClient::AddPlugins
  shell/app/electron_content_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: enable whole-program optimization
  script/generate-config-gypi.py
Due: run-build-mac, run-build-linux, run-docs-only=false

pass --with-ltcg to configure.py instead of setting variable
  script/generate-config-gypi.py
Due: run-build-mac, run-build-linux, run-docs-only=false

enable ltcg only on windows
  script/generate-config-gypi.py
Due: run-build-mac, run-build-linux, run-docs-only=false

test: support running tests against Electron releases (#36968)
  package.json
  script/spec-runner.js
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

test: support running tests against Electron releases (#36969)
  package.json
  script/spec-runner.js
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: do not error on null exports in ESM loader
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

handle abort
  lib/browser/api/net.ts
  shell/browser/api/electron_api_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: separate WEB_VIEW_ATTRIBUTES / WEB_VIEW_ERROR_MESSAGES
  lib/renderer/web-view/web-view-attributes.ts
  lib/renderer/web-view/web-view-constants.ts
  lib/renderer/web-view/web-view-element.ts
  lib/renderer/web-view/web-view-impl.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused fixture_support.md
  spec/fixtures/version-bumper/fixture_support.md
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused files in spec/fixtures
  spec/fixtures/api/native-window-open-argv.html
  spec/fixtures/module/preload-pdf-loaded-in-nested-subframe.js
  spec/fixtures/module/preload-pdf-loaded-in-subframe.js
  spec/fixtures/module/preload-pdf-loaded.js
  spec/fixtures/pages/target-name.html
  spec/fixtures/zip/a.zip
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove crashpad related sandbox policy
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_client.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
