Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix: crashReporter.setUploadToServer() having no effect after start (#54506)
  shell/browser/api/electron_api_crash_reporter.cc
  spec/api-crash-reporter.spec.ts
  spec/fixtures/apps/crash/main.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: detach interned string cache before isolate disposal
  shell/common/gin_helper/interned_strings.cc
  spec/api-native-image.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: clear detached DevTools backlinks before widget destruction
  shell/browser/ui/inspectable_web_contents_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add protocol.registerSource() (#53220)
  docs/api/protocol.md
  docs/api/structures/protocol-route.md
  docs/api/structures/protocol-source.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/net/asar/asar_url_loader.cc
  shell/browser/net/asar/asar_url_loader.h
  shell/browser/net/protocol_source.cc
  shell/browser/net/protocol_source.h
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/common/api/electron_api_url_loader.cc
  spec/api-protocol.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: pick the only available display server on Linux
  docs/api/command-line-switches.md
  shell/app/electron_main_delegate.cc
  spec/api-app.spec.ts
  spec/fixtures/api/ozone-platform/main.js
  spec/fixtures/api/ozone-platform/package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: follow libwayland's precedence for empty variables
  docs/api/command-line-switches.md
  shell/app/electron_main_delegate.cc
  spec/api-app.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! 8426064: Remove flag for restrict frame destinations to navigate
  shell/common/api/electron_api_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! 8403343: Bump clang revision
  shell/browser/notifications/notification_presenter.cc
  shell/browser/ui/win/notify_icon_host.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: detach interned string cache before isolate disposal (#54520)
  shell/common/gin_helper/interned_strings.cc
  spec/api-native-image.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: rewrite the --ozone-platform entry for clarity
  docs/api/command-line-switches.md
Due: run-docs-only

fix: avoid crashes on malformed intermediate certificates
  docs/api/structures/certificate.md
  shell/common/api/electron_api_testing.cc
  shell/common/gin_converters/net_converter.cc
  spec/api-session.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/fix_deliver_clicks_that_another_process_posts_to_a_background_app.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/devtools_frontend/build_bound_esbuild_bundle_concurrency_with_a_dedicated_gn_pool.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

perf: prefetch the framework on cold launches on macOS (#54515)
  filenames.gni
  shell/app/electron_library_main.mm
  shell/app/electron_prefetch_mac.h
  shell/app/electron_prefetch_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

test: wait for focus before requesting pointer lock in spec
  spec/chromium.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: define require in the webContents spec
  spec/api-web-contents.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: detach interned string cache before isolate disposal (#54526)
  shell/common/gin_helper/interned_strings.cc
  spec/api-native-image.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add Windows mouse-input addon for setIgnoreMouseEvents specs
  spec/api-browser-window-ignore-mouse-events-win.spec.ts
  spec/fixtures/native-addon/mouse-input/.gitignore
  spec/fixtures/native-addon/mouse-input/binding.gyp
  spec/fixtures/native-addon/mouse-input/lib/index.js
  spec/fixtures/native-addon/mouse-input/package.json
  spec/fixtures/native-addon/mouse-input/src/main.cc
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: UIPI note for setIgnoreMouseEvents forward
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

fix: clear detached DevTools backlinks before widget destruction (#54524)
  shell/browser/ui/inspectable_web_contents_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: parse all custom page size PDFs in one pdf.js process (#54491)
  spec/api-web-contents.spec.ts
  spec/fixtures/api/pdf-reader.mjs
  spec/lib/pdf-helpers.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: wait for child output before asserting on it (#54507)
  spec/api-app.spec.ts
  spec/api-context-bridge.spec.ts
  spec/api-js2c-code-cache.spec.ts
  spec/api-menu.spec.ts
  spec/api-protocol.spec.ts
  spec/api-safe-storage.spec.ts
  spec/api-session.spec.ts
  spec/api-utility-process.spec.ts
  spec/asar-integrity.spec.ts
  spec/chromium.spec.ts
  spec/lib/msix-helpers.ts
  spec/modules.spec.ts
  spec/node.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add preferredDisplaySurface to the setDisplayMediaRequestHandler request
  docs/api/session.md
  shell/common/gin_converters/media_converter.cc
  spec/api-media-handler.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: launch the de-elevated relaunch through RunDeElevatedNoWait so it keeps the working directory without a base patch
  patches/chromium/.patches
  patches/chromium/fix_keep_the_current_directory_in_rundeelevated.patch
  shell/browser/relauncher_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: run pointer lock permission spec serially
  spec/chromium.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Enhance README with macOS integration suggestionresolved beginner_issues
  README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

test: pin the handle-count wake with a bare uv_check_start() from a task
  shell/common/api/electron_api_testing.cc
  spec/fixtures/apps/uv-wake/ops.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: also wake the embed thread when the uv loop gained a handle
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: show the uv_async_send() pattern for native modules
  docs/breaking-changes.md
Due: run-docs-only

test: run fullscreen specs serially
  spec/api-browser-window.spec.ts
  spec/chromium.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: clang-format
  shell/common/api/electron_api_testing.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: migrate View, ImageView and WebContentsView to cppgc
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/api/electron_api_web_contents_view.h
  shell/browser/api/views/electron_api_image_view.cc
  shell/browser/api/views/electron_api_image_view.h
  shell/common/gin_helper/constructible.h
  shell/common/gin_helper/wrappable_pointer_tags.h
  spec/api-view.spec.ts
  spec/cpp-heap.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false
