Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$

Revert "Bump v20.0.0-nightly.20220411"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.0.0-nightly.20220411
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a1dc371d66 from chromium (#33678)
  patches/chromium/.patches
  patches/chromium/usb_fix_oob_access_with_non-sequential_interfaces.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: temporarily disable 32-bit Windows symbol generation (#33653) (#33689)
  appveyor.yml
  script/release/release.js
  script/release/uploaders/upload.py
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.0.0-alpha.2
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove logging import
  shell/common/color_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add diagnostic logging
  spec-main/crash-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a18fddcb53e6 from webrtc
  patches/webrtc/.patches
  patches/webrtc/cherry-pick-a18fddcb53e6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: implement chrome.tabs.reload (#33560)
  docs/api/extensions.md
  shell/browser/extensions/api/tabs/tabs_api.cc
  shell/browser/extensions/api/tabs/tabs_api.h
  shell/common/extensions/api/tabs.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: implement chrome.tabs.reload to fix PDF Viewer
  docs/api/extensions.md
  shell/browser/extensions/api/tabs/tabs_api.cc
  shell/browser/extensions/api/tabs/tabs_api.h
  shell/common/extensions/api/tabs.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/webrtc/cherry-pick-a18fddcb53e6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick a48de319c521 from pdfium
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a48de319c521.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update config.json
  patches/config.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/pdfium/.patches
  patches/pdfium/cherry-pick-a48de319c521.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/pdfium/cherry-pick-a48de319c521.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use python3 to lint (#33627)
  docs/development/build-instructions-linux.md
  docs/development/build-instructions-macos.md
  docs/development/coding-style.md
  package.json
  script/check-relative-doc-links.py
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

also run-gn-format
  package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use python3 to lint
  package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

specify encoding
  script/check-relative-doc-links.py
Due: run-build-mac, run-build-linux, run-docs-only=false

remove some outdated python2 info from docs
  docs/development/build-instructions-linux.md
  docs/development/build-instructions-macos.md
  docs/development/coding-style.md
Due: run-docs-only
