Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

changes
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: enable basic a11y when voice control is active (#37122)
  shell/browser/mac/electron_application.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

src: add support for externally shared js builtins
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: fix test broken under --node-builtin-modules-path
  patches/node/support_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: add option to disable shared readonly heap
  patches/node/build_ensure_v8_pointer_compression_sandbox_is_enabled_on_64bit.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: remove unnecessary semicolons
  patches/node/.patches
  patches/node/chore_remove_errant_semicolons.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: remove return after abort
  patches/node/.patches
  patches/node/chore_remove_unreached_return.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup patch indices
  patches/node/allow_embedder_to_control_codegenerationfromstringscallback.patch
  patches/node/api_pass_oomdetails_to_oomerrorcallback.patch
  patches/node/build_add_gn_build_files.patch
  patches/node/build_ensure_native_module_compilation_fails_if_not_using_a_new.patch
  patches/node/build_ensure_v8_pointer_compression_sandbox_is_enabled_on_64bit.patch
  patches/node/build_modify_js2c_py_to_allow_injection_of_original-fs_and_custom_embedder_js.patch
  patches/node/chore_add_context_to_context_aware_module_prevention.patch
  patches/node/chore_allow_the_node_entrypoint_to_be_a_builtin_module.patch
  patches/node/expose_get_builtin_module_function.patch
  patches/node/feat_add_knostartdebugsignalhandler_to_environment_to_prevent.patch
  patches/node/fix_add_default_values_for_variables_in_common_gypi.patch
  patches/node/fix_crypto_tests_to_run_with_bssl.patch
  patches/node/fix_expose_lookupandcompile_with_parameters.patch
  patches/node/fix_expose_the_built-in_electron_module_via_the_esm_loader.patch
  patches/node/fix_expose_tracing_agent_and_use_tracing_tracingcontroller_instead.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  patches/node/fix_prevent_changing_functiontemplateinfo_after_publish.patch
  patches/node/fixup_for_wc_98-compat-extra-semi.patch
  patches/node/pass_all_globals_through_require.patch
  patches/node/refactor_allow_embedder_overriding_of_internal_fs_calls.patch
  patches/node/support_v8_sandboxed_pointers.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test_runner: parse yaml
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fixup release_dependency_versions action (#37110)
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on `window.print()` (#37052)
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove deprecated capturer count APIs (#37075)
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fix up patch
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fixup release_dependency_versions action (#37111)
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add logUsage to shell.openExternal() options
  docs/api/shell.md
  shell/common/api/electron_api_shell.cc
  shell/common/platform_util.h
  shell/common/platform_util_win.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: Always monitor all nav events to ensure unexpected ones don't fire
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: Add test to verify in-page navigation event order
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on `window.print()` (#37149)
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: use simdutf for converting externalized builtins to UTF-16
  patches/node/build_add_gn_build_files.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

src: rename internal module declaration as internal bindings
  shell/common/node_includes.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix types for webContents ipc-message events
  docs/api/web-contents.md
Due: run-docs-only

drop as any
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: move gin_helper::Constructible methods to prototype (#37087)
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_view.h
  shell/browser/api/electron_api_menu.cc
  shell/browser/api/electron_api_menu.h
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/electron_api_web_frame_main.h
  shell/common/gin_helper/constructible.h
  spec/api-web-frame-main-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove old script code for ATOM_SHELL_ (#37140)
  script/lib/config.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update stable dates (#37150)
  docs/tutorial/electron-timelines.md
Due: run-docs-only

build: do not install package silently during publish
  script/release/publish-to-npm.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix version check in release_dependency_versions.yml
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: also mksnapshot
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

add ses.fetch
  docs/api/net.md
  docs/api/session.md
  filenames.auto.gni
  lib/browser/api/net-fetch.ts
  lib/browser/api/net.ts
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  spec/api-net-spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: use relative links within docs (#37042)
  docs/tutorial/forge-overview.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/tray.md
Due: run-docs-only

Update shell/browser/mac/electron_application.mm
  shell/browser/mac/electron_application.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Update export_gin_v8platform_pageallocator_for_usage_outside_of_the_gin.patch
  patches/chromium/export_gin_v8platform_pageallocator_for_usage_outside_of_the_gin.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove reference to electron/releases
  docs/tutorial/tutorial-1-prerequisites.md
Due: run-docs-only

OS-14197:Resolve some minor nits
  docs/api/session.md
  shell/browser/electron_browser_context.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

OS-14197:Resolve one more nit.
  shell/browser/electron_browser_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

OS-14197:Add the capability to use an absolute path for a session.
  docs/api/session.md
  lib/browser/api/session.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  spec/api-session-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

build: fix version check in release_dependency_versions.yml (#37155)
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

remove cache = ""
  docs/api/client-request.md
  shell/browser/api/electron_api_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

bump typescript-definitions
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false
