Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

Move GN_EXTRA_ARGS to gn gen step
  .github/workflows/mac-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: rename yml to match convention
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: switch to mas config
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: try setting directly
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: fix helperPath calls in action configs
  .github/workflows/macos-build.yml
  .github/workflows/macos-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: oops
  .github/workflows/macos-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: move to script/actions
  .github/workflows/macos-build.yml
  script/actions/evm.mas.json
  script/actions/move-artifacts.sh
  script/actions/restore-artifacts.sh
Due: run-build-mac, run-build-linux, run-docs-only=false

Don't fail-fast in tests
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Use mas JSON config
  .github/workflows/config/evm.mas.json
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: extract artifact logic to bash scripts
  .github/workflows/config/move_artifacts.sh
  .github/workflows/config/restore_artifacts.sh
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use Node.js 20.11.x
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Re-enable darwin build
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: build MAS after darwin
  .github/workflows/config/move-artifacts.sh
  .github/workflows/config/restore-artifacts.sh
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: Testing -> Default
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: tweak release script
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove macos-publish.yml
  .github/workflows/macos-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: change action to trigger on publish workflow dispatch
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove SSH debugging using action-tmate
  .github/workflows/macos-build.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: do not disable CircleCI config
  .circleci/config.yml
  script/patches-mtime-cache.py
  script/release/ci-release-build.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: throw an error when trying to subclass BrowserWindow
  lib/browser/api/browser-window.ts
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: move PDF viewer to OOPIF (#41728)
  shell/browser/extensions/api/management/electron_management_api_delegate.cc
  shell/browser/extensions/api/management/electron_management_api_delegate.h
  shell/browser/extensions/api/pdf_viewer_private/pdf_viewer_private_api.cc
  shell/browser/extensions/api/pdf_viewer_private/pdf_viewer_private_api.h
  shell/browser/extensions/api/streams_private/streams_private_api.cc
  shell/common/extensions/api/pdf_viewer_private.idl
Due: run-build-mac, run-build-linux, run-docs-only=false

Update environment-variables.md
  docs/api/environment-variables.md
Due: run-docs-only

Fixed menu-item.md `click` function description error
  docs/api/menu-item.md
Due: run-docs-only

feat: implement File System API support
  docs/api/session.md
  filenames.gni
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/file_system_access/electron_file_system_access_permission_context.cc
  shell/browser/file_system_access/electron_file_system_access_permission_context.h
  shell/browser/file_system_access/file_system_access_permission_context_factory.cc
  shell/browser/file_system_access/file_system_access_permission_context_factory.h
  shell/browser/web_contents_permission_helper.h
  shell/common/gin_converters/content_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: add a test for writable permission checking
  shell/common/api/electron_api_clipboard.cc
  shell/common/api/electron_api_clipboard.h
  spec/chromium-spec.ts
  spec/fixtures/file-system/test-writable.html
  spec/fixtures/file-system/test.txt
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: gn check include issues
  shell/browser/file_system_access/electron_file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: feedback from review
  docs/api/session.md
  shell/browser/file_system_access/electron_file_system_access_permission_context.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! chore: cleanup feedback from review
  shell/browser/file_system_access/electron_file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: namespace to electron
  filenames.gni
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
  shell/browser/file_system_access/file_system_access_permission_context_factory.cc
  shell/browser/file_system_access/file_system_access_permission_context_factory.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cleanup feedback from review
  shell/browser/file_system_access/electron_file_system_access_permission_context.cc
  shell/browser/file_system_access/electron_file_system_access_permission_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: improve typing of details object
  docs/api/session.md
  docs/api/structures/filesystem-permission-request.md
  docs/api/structures/media-access-permission-request.md
  docs/api/structures/open-external-permission-request.md
  docs/api/structures/permission-request.md
  filenames.auto.gni
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

lint
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use Chrome's file system access blocklist
  patches/chromium/.patches
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: address more feedback from review
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

5301485: Add content analysis to File System Access Javascript API.
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: address outstanding todo
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Windows build
  chromium_src/BUILD.gn
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: typo fix (#41787)
  docs/tutorial/esm.md
Due: run-docs-only

Update dialog.md
  docs/api/dialog.md
Due: run-docs-only

feat: support `NODE_EXTRA_CA_CERTS` (#41689)
  docs/api/environment-variables.md
  docs/tutorial/fuses.md
  patches/node/feat_optionally_prevent_calling_v8_enablewebassemblytraphandler.patch
  patches/node/fix_handle_boringssl_and_openssl_incompatibilities.patch
  script/node-disabled-tests.json
  shell/app/node_main.cc
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false
