Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Undo unrelated changes
  docs/api/view.md
Due: run-docs-only

Define ViewLayout structure
  docs/api/structures/js-view-layout-config.md
  docs/api/structures/view-layout.md
Due: run-docs-only

fix: move `NSString`'s for accessibility labels inside smaller scopes
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert debug log
  shell/browser/api/electron_api_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Add more docs for FlexLayout configs
  docs/api/structures/flex-layout-config.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Add docs for flexAllocationOrder
  docs/api/structures/flex-layout-config.md
Due: run-docs-only

Mark optional properties with default values
  docs/api/structures/flex-layout-config.md
Due: run-docs-only

chore: add explicit include for destroyable.h
  shell/browser/api/electron_api_browser_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: V-001 security vulnerability
  script/build-stats.mjs
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `enableLargerThanScreen` having no effect.
  docs/api/structures/base-window-options.md
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_views.cc
  shell/browser/ui/views/native_frame_view.cc
  shell/browser/ui/views/win_frame_view.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: `enableLargerThanScreen` having no effect.
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

improve doc.
  docs/api/structures/base-window-options.md
Due: run-docs-only

fix: Crashing during the destructor of the Promise class
  shell/common/gin_helper/promise.cc
  shell/common/gin_helper/promise.h
  spec/fixtures/crash-cases/promise-destroy-crash/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: gin_helper::Promise managed by cppgc
  shell/common/api/electron_api_testing.cc
  shell/common/gin_helper/promise.cc
  shell/common/gin_helper/promise.h
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: backport secondary siso patch
  .github/siso-patches/0002-siso-retry-transient-ERROR_INVALID_PARAMETER-when-op.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: broken liveness test
  shell/common/api/electron_api_testing.cc
  shell/common/gin_helper/promise.cc
  spec/cpp-heap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support heap profiling in `contentTracing` (#51178)
  BUILD.gn
  docs/api/content-tracing.md
  docs/api/structures/enable-heap-profiling-options.md
  docs/images/viewing-heap-dumps.png
  filenames.auto.gni
  patches/chromium/.patches
  patches/chromium/fix-dcheck-failure-when-starting-heap-profiler-for-renderer.patch
  shell/app/electron_content_client.cc
  shell/app/electron_content_client.h
  shell/app/electron_main_delegate.cc
  shell/app/electron_main_delegate.h
  shell/browser/api/electron_api_content_tracing.cc
  spec/api-content-tracing-spec.ts
  spec/fixtures/api/content-tracing/index.html
  spec/fixtures/api/content-tracing/utility.js
  spec/fixtures/apps/remote-control/main.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

ci: backport secondary siso patch (#51388)
  .github/siso-patches/0002-siso-retry-transient-ERROR_INVALID_PARAMETER-when-op.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "fix: move `NSString`'s for accessibility labels inside smaller scopes"
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: actually move `NSString`'s for accessibility labels inside smaller scopes
  shell/browser/ui/cocoa/electron_menu_controller.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Undo accidental revert
  shell/browser/api/electron_api_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: report display_mode to Blink for WCO and frameless windows
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preserve mouse hook handle when UnhookWindowsHookEx fails
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: clear invalid mouse hook handles
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use upstream's chrome.scripting impl (#51376)
  docs/breaking-changes.md
  filenames.gni
  patches/chromium/.patches
  patches/chromium/chore_exclude_upstream_scripting_api_when_building_electron.patch
  shell/browser/extensions/api/BUILD.gn
  shell/browser/extensions/api/scripting/scripting_api.cc
  shell/browser/extensions/api/scripting/scripting_api.h
  shell/browser/extensions/electron_extensions_browser_api_provider.cc
  shell/browser/extensions/electron_extensions_browser_client.cc
  shell/browser/extensions/electron_extensions_browser_client.h
  shell/common/extensions/api/BUILD.gn
  shell/common/extensions/api/_api_features.json
  shell/common/extensions/api/scripting.idl
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: dispatch toast action and reply events from WinRT activation path (#51286)
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/win/scoped_hstring.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: constrain AllowUniversalAccessFromFileURLs to file: origins in agent cluster key assignment
  patches/chromium/.patches
  patches/chromium/fix_constrain_allowuniversalaccessfromfileurls_to_file_origins_in.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

add test
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

sync patch with upstream CL
  patches/chromium/fix_constrain_allowuniversalaccessfromfileurls_to_file_origins_in.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/v8/cherry-pick-a068030f5179.patch
  patches/v8/cherry-pick-b54c7841e2cd.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

lint: trailing space
  docs/api/view.md
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: allow SF Symbols to be customised
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

spec: add test for symbol options
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add nativeImage.createMenuSymbol and restore default values
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
  shell/common/api/electron_api_native_image_mac.mm
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: use apple's sizing logic
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update default symbol values
  docs/api/native-image.md
Due: run-docs-only

merge hslShift and options, revert sizing logic
  docs/api/native-image.md
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: update string params
  docs/api/native-image.md
Due: run-docs-only

adjust sizing for wider symbols
  shell/common/api/electron_api_native_image_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
