Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

Revert "chore: 4869108: handle absolute and relative gn imports in autoninja"
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: set GOMA_DIR for autoninja
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fixup autoninja (#39896)
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add a more detailed explanation to cookies.flushStore() (#37572)
  docs/api/cookies.md
Due: run-docs-only

feat: Allow creation of new window to be customizable.
  docs/api/structures/window-open-handler-response.md
  docs/api/web-contents.md
  filenames.auto.gni
  lib/browser/api/web-contents.ts
  lib/browser/guest-window-manager.ts
  spec/guest-window-manager-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

4839124: Rename chrome/app/ branding strings
  electron_paks.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

build: update appveyor image to latest version
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

4846834: Clean up PrintRenderFrameHelper interaction with Blink.
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use afs on aks instead of circle cache (#39881)
  .circleci/config/base.yml
  .circleci/config/params.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: also update node build
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

4850759: Cache bounds of document pip windows
  chromium_src/BUILD.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

4864669: Roll libc++ from 84fb809dd6da to 68a6f0b88287 (352 revisions)
  filenames.libcxx.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

4863987: Remove five gpu workarounds.
  patches/chromium/mas_disable_remote_layer.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use afs on aks instead of circle cache (#39911)
  .circleci/config/base.yml
  .circleci/config/params.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use afs on aks instead of circle cache (#39912)
  .circleci/config/base.yml
  .circleci/config/params.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use afs on aks instead of circle cache (#39913)
  .circleci/config/base.yml
  .circleci/config/params.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore(deps): roll nan to pick up upstreams
  DEPS
  package.json
  patches/nan/.patches
  patches/nan/chore_fix_v8_data_internal_field_casting.patch
  patches/nan/chore_remove_deprecated_accessorsignatures.patch
  spec/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add deprecated app.runningUnderRosettaTranslation to breaking-changes.md
  docs/breaking-changes.md
Due: run-docs-only

chore: fixup node flakes
  patches/node/test_formally_mark_some_tests_as_flaky.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/revert_remove_the_allowaggressivethrottlingwithwebsocket_feature.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [26-x-y] cherry-pick 1 changes from Release-0-M117
  patches/v8/.patches
  patches/v8/cherry-pick-cf1d4d3c0b6e.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [25-x-y] cherry-pick 1 changes from Release-0-M117
  patches/v8/.patches
  patches/v8/cherry-pick-cf1d4d3c0b6e.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/v8/cherry-pick-cf1d4d3c0b6e.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/build_only_use_the_mas_build_config_in_the_required_components.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_add_buildflag_guard_around_new_include.patch
  patches/chromium/chore_allow_chromium_to_handle_synthetic_mouse_events_for_touch.patch
  patches/chromium/create_browser_v8_snapshot_file_name_fuse.patch
  patches/chromium/enable_reset_aspect_ratio.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_activate_background_material_on_windows.patch
  patches/chromium/fix_aspect_ratio_with_max_size.patch
  patches/chromium/fix_remove_caption-removing_style_call.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/load_v8_snapshot_in_browser_process.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

child_process: harden against prototype pollution
  patches/node/refactor_alter_child_process_fork_to_use_execute_script_with.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add middle click event to tray
  docs/api/tray.md
  shell/browser/api/electron_api_tray.cc
  shell/browser/api/electron_api_tray.h
  shell/browser/ui/tray_icon.cc
  shell/browser/ui/tray_icon.h
  shell/browser/ui/tray_icon_observer.h
  shell/browser/ui/win/notify_icon.cc
  shell/browser/ui/win/notify_icon.h
  shell/browser/ui/win/notify_icon_host.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: fix typo
  docs/api/system-preferences.md
Due: run-docs-only

feat: expose app accessibility transparency settings api
  docs/api/system-preferences.md
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fix lint
  spec/ts-smoke/electron/main.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

change to property
  docs/api/system-preferences.md
  shell/browser/api/electron_api_system_preferences.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add as property instead of method
  docs/api/system-preferences.md
  shell/browser/api/electron_api_system_preferences.cc
  shell/browser/api/electron_api_system_preferences.h
  shell/browser/api/electron_api_system_preferences_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false
