Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove redundant chromium patches (#50463)
  patches/chromium/.patches
  patches/chromium/export_gin_v8platform_pageallocator_for_usage_outside_of_the_gin.patch
  patches/chromium/fix_getcursorscreenpoint_wrongly_returns_0_0.patch
  shell/browser/javascript_environment.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: guard validatePerStageMaxUniformBlocks with ANGLE_SH_VERSION check
  patches/chromium/cherry-pick-fbfb27470bf6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "fix: guard validatePerStageMaxUniformBlocks with ANGLE_SH_VERSION check"
  patches/chromium/cherry-pick-fbfb27470bf6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 3 changes from chromium (#50461)
  patches/chromium/.patches
  patches/chromium/cherry-pick-05e4b544803c.patch
  patches/chromium/cherry-pick-45c5a70d984d.patch
  patches/chromium/cherry-pick-5efc7a0127a6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add angle to patches config and re-export angle patches for M144
  patches/angle/.patches
  patches/angle/cherry-pick-a08731cf6d70.patch
  patches/angle/m144_vulkan_avoid_overflow_in_texture_size_calculation.patch
  patches/angle/optionally_validate_gl_max_uniform_blocks_at_compile_time.patch
  patches/config.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: avoid dangling presenter pointer in GetHistory callback
  shell/browser/api/electron_api_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: document show() behavior
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/mac/cocoa_notification.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: Update patches
  patches/angle/.patches
  patches/angle/m144_vulkan_avoid_overflow_in_texture_size_calculation.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash calling OSR shared texture release() after texture GC'd
  shell/common/gin_converters/osr_converter.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove dead named-window lookup from guest-window-manager
  lib/browser/guest-window-manager.ts
  spec/guest-window-manager-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash in clipboard.readImage() on malformed image data
  shell/common/api/electron_api_clipboard.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

7681299: Introduce OccludedWidgetInputProtector to track always-on-top widgets
  patches/chromium/revert_views_remove_desktopwindowtreehostwin_window_enlargement.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7665878: Prefer browser runtime over Node.js in HostRuntime detection
  patches/devtools_frontend/.patches
  patches/devtools_frontend/fix_prefer_browser_runtime_over_node_in_hostruntime_detection.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

7685453: chrome://accessibility: Don't AllowJavascript() in async calls
  patches/chromium/adjust_accessibility_ui_for_electron.patch
  shell/browser/ui/webui/accessibility_ui.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/add_ui_scopedcliboardwriter_writeunsaferawdata.patch
  patches/chromium/allow_disabling_blink_scheduler_throttling_per_renderview.patch
  patches/chromium/blink_local_frame.patch
  patches/chromium/build_do_not_depend_on_packed_resource_integrity.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/custom_protocols_plzserviceworker.patch
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_expose_raw_response_headers_from_urlloader.patch
  patches/chromium/fix_adjust_headless_mode_handling_in_native_widget.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_return_v8_value_from_localframe_requestexecutescript.patch
  patches/chromium/frame_host_manager.patch
  patches/chromium/gritsettings_resource_ids.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
  patches/chromium/notification_provenance.patch
  patches/chromium/osr_shared_texture_remove_keyed_mutex_on_win_dxgi.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_expose_file_system_access_blocklist.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_code_health_clean_up_stale_macwebcontentsocclusion.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/scroll_bounce_flag.patch
  patches/chromium/support_mixed_sandbox_with_zygote.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/chromium/worker_context_will_destroy.patch
  patches/chromium/worker_feat_add_hook_to_notify_script_ready.patch
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Document known issue for dock.hide() method
  docs/api/dock.md
Due: run-docs-only

Adjust workaround time for dock.hide() method
  docs/api/dock.md
Due: run-docs-only

Remove planned breaking changes for version 42.0
  docs/breaking-changes.md
Due: run-docs-only

fix: hex-encode Windows notification icon temp filenames (#50454)
  shell/browser/notifications/win/notification_presenter_win.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: pulseaudio stream and icon names (#49270)
  patches/chromium/.patches
  patches/chromium/fix_pulseaudio_stream_and_icon_names.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: fire AXMenuOpened event when a visible ARIA menu instance is added to the DOM
  patches/chromium/.patches
  patches/chromium/fix_fire_menu_popup_start_end_for_dynamically_created_removed_aria.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove redundent FireMenuPopupEndForDeletedMenus
  patches/chromium/.patches
  patches/chromium/fix_fire_menu_popup_start_end_for_dynamically_created_removed_aria.patch
  patches/chromium/fix_fire_menu_popup_start_for_dynamically_created_aria_menus.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add feature flag (kDynamicMenuPopupEvents)
  patches/chromium/fix_fire_menu_popup_start_for_dynamically_created_aria_menus.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick fbfb27470bf6 from chromium (#50438)
  patches/angle/.patches
  patches/angle/cherry-pick-a08731cf6d70.patch
  patches/angle/optionally_validate_gl_max_uniform_blocks_at_compile_time.patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-fbfb27470bf6.patch
  patches/config.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: register `PrintDialogLinuxFactory` on Linux (#50430)
  shell/browser/electron_browser_main_parts.cc
  shell/browser/electron_browser_main_parts.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: fall back to default DPI when GTK returns 0 on Linux (#50453)
  shell/browser/printing/printing_utils.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash in clipboard.readImage() on malformed image data (#50475)
  shell/common/api/electron_api_clipboard.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove dead named-window lookup from guest-window-manager (#50474)
  lib/browser/guest-window-manager.ts
  spec/guest-window-manager-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash calling OSR shared texture release() after texture GC'd (#50473)
  shell/common/gin_converters/osr_converter.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/.patches
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: add functionality for programmatic add/remove needs-signed-commits label (#50316)
  .github/workflows/build.yml
  .github/workflows/issue-commented.yml
  .github/workflows/pull-request-opened-synchronized.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: [a11y] fire AXMenuOpened event when ARIA menu is added to DOM (#50377)
  patches/chromium/.patches
  patches/chromium/fix_fire_menu_popup_start_for_dynamically_created_aria_menus.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: clear and restore window state (#47781)
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: correct linux zygote process titles
  shell/app/electron_main_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/fix_fire_menu_popup_start_for_dynamically_created_aria_menus.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: save window state (#47425)
  docs/api/structures/base-window-options.md
  docs/api/structures/window-state-persistence.md
  filenames.auto.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/browser_process_impl.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/common/electron_constants.h
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
  spec/fixtures/api/window-state-save/close-save/index.js
  spec/fixtures/api/window-state-save/fullscreen-save/index.js
  spec/fixtures/api/window-state-save/kiosk-save/index.js
  spec/fixtures/api/window-state-save/maximize-save/index.js
  spec/fixtures/api/window-state-save/minimize-save/index.js
  spec/fixtures/api/window-state-save/move-save/index.js
  spec/fixtures/api/window-state-save/resize-save/index.js
  spec/fixtures/api/window-state-save/schema-check/index.js
  spec/fixtures/api/window-state-save/work-area-primary/index.js
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: support for multimonitor tests (#47911)
  docs/development/multi-monitor-testing.md
  docs/development/testing.md
  spec/fixtures/native-addon/virtual-display/binding.gyp
  spec/fixtures/native-addon/virtual-display/include/VirtualDisplayBridge.h
  spec/fixtures/native-addon/virtual-display/lib/virtual-display.js
  spec/fixtures/native-addon/virtual-display/package.json
  spec/fixtures/native-addon/virtual-display/src/Dummy.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplay.swift
  spec/fixtures/native-addon/virtual-display/src/VirtualDisplayBridge.m
  spec/fixtures/native-addon/virtual-display/src/addon.mm
  spec/package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: enforce unique window names across BaseWindow and BrowserWindow (#47764)
  docs/api/structures/base-window-options.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/native_window.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: clear and restore window state (#47781)
  docs/api/base-window.md
  docs/api/structures/base-window-options.md
  lib/browser/api/browser-window.ts
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
