Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

feat: add nativeTheme.shouldDifferentiateWithoutColor on macOS
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_native_theme_mac.mm
  spec/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: fixup actions/cache to 5.0.4 everywhere
  .github/actions/install-dependencies/action.yml
  .github/actions/restore-cache-azcopy/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add interactive macOS dialog tests
  .gitignore
  spec/api-dialog-spec.ts
  spec/fixtures/native-addon/dialog-helper/.gitignore
  spec/fixtures/native-addon/dialog-helper/binding.gyp
  spec/fixtures/native-addon/dialog-helper/lib/index.js
  spec/fixtures/native-addon/dialog-helper/package.json
  spec/fixtures/native-addon/dialog-helper/src/dialog_helper.h
  spec/fixtures/native-addon/dialog-helper/src/dialog_helper_mac.mm
  spec/fixtures/native-addon/dialog-helper/src/main.cc
  spec/package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: allow to set id and groupId
  docs/api/notification.md
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: use Id's without hash but check length
  shell/browser/api/electron_api_notification.cc
  shell/browser/notifications/win/windows_toast_activator.cc
  shell/browser/notifications/win/windows_toast_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: adds visual grouping via groupTitle
  docs/api/notification.md
  shell/browser/api/electron_api_notification.cc
  shell/browser/api/electron_api_notification.h
  shell/browser/notifications/notification.h
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: tests added for id, groupId and groupTitle
  spec/api-notification-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: unused vars on Mac and Linux
  shell/browser/api/electron_api_notification.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `copyVideoFrameAt` and `saveVideoFrameAs` methods on `webContents` (#48149)
  docs/api/web-contents.md
  docs/api/web-frame-main.md
  lib/browser/api/web-contents.ts
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/electron_api_web_frame_main.h
  spec/api-web-frame-main-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

ci: update actions to node24 (#50373)
  .github/actions/build-electron/action.yml
  .github/actions/checkout/action.yml
  .github/actions/install-dependencies/action.yml
  .github/actions/restore-cache-azcopy/action.yml
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: remove ELECTRON_SKIP_BINARY_DOWNLOAD
  npm/install.js
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove ELECTRON_SKIP_BINARY_DOWNLOAD section
  docs/tutorial/installation.md
Due: run-docs-only

docs: add ELECTRON_SKIP_BINARY_DOWNLOAD to breaking changes
  docs/breaking-changes.md
Due: run-docs-only

feat: use Downloads folder as default path for file dialogs (#49868)
  docs/api/dialog.md
  docs/breaking-changes.md
  shell/browser/ui/file_dialog_linux.cc
  shell/browser/ui/file_dialog_mac.mm
  shell/browser/ui/file_dialog_win.cc
  shell/common/electron_paths.cc
  shell/common/electron_paths.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove postinstall lifecycle warning (#50359)
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

feat: add accessibilityDisplayShouldDifferentiateWithoutColor on macOS (#49912)
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_native_theme_mac.mm
  spec/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add `become-key` and `resign-key` events on `BrowserWindow` (macOS)
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add did as prefix as events had already happened by the time they're emitted
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add Apple documentation link for key window concept
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

docs: clarify allowed characters in protocol names
  docs/api/protocol.md
Due: run-docs-only

fix: remove redundant parameter
  shell/browser/notifications/win/windows_toast_notification.cc
  shell/browser/notifications/win/windows_toast_notification.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify parsed window.open feature strings
  docs/api/window-open.md
Due: run-docs-only

docs: link menu type references
  docs/api/menu-item.md
  docs/api/menu.md
Due: run-docs-only

feat: add native Liquid Glass support on macOS 26+
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/structures/base-window-options.md
  docs/api/structures/glass-effect-region.md
  filenames.auto.gni
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
  shell/common/options_switches.h
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fixup! feat: add native Liquid Glass support on macOS 26+
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use fresh LazyNow for OnEndWorkItemImpl to fix TimeKeeper DCHECK
  patches/chromium/.patches
  patches/chromium/fix_use_fresh_lazynow_for_onendworkitemimpl_after_didruntask.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use fresh LazyNow for OnEndWorkItemImpl to fix TimeKeeper DCHECK (#50418)
  patches/chromium/.patches
  patches/chromium/fix_use_fresh_lazynow_for_onendworkitemimpl_after_didruntask.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: lazily initialize safeStorage async encryptor
  docs/api/safe-storage.md
  shell/browser/api/electron_api_safe_storage.cc
  shell/browser/api/electron_api_safe_storage.h
  spec/api-safe-storage-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: lint
  shell/browser/api/electron_api_safe_storage.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: enable V8 builtins PGO
  .github/actions/build-electron/action.yml
  build/args/all.gn
  patches/v8/.patches
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: speed up apply_all_patches by ~60%
  script/apply_all_patches.py
  script/lib/git.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: clarify Node.js async_hooks as reason for promise_hooks flag
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add HandleScope in OnOsCryptReady for pending operations
  shell/browser/api/electron_api_safe_storage.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: speed up apply_all_patches by ~60% (#50417)
  script/apply_all_patches.py
  script/lib/git.py
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add `setSuspended` and `isSuspended` to globalShortcut
  docs/api/global-shortcut.md
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/api/electron_api_global_shortcut.h
  spec/api-global-shortcut-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: normalize color space for consistent pixel values in nativeImage
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  spec/api-native-image-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: correct include ordering in electron_api_native_image.cc
  shell/common/api/electron_api_native_image.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: implement feedback
  docs/api/native-image.md
  shell/common/api/electron_api_native_image.cc
  spec/api-native-image-spec.ts
  spec/fixtures/assets/colorspace-p3.png
  spec/fixtures/assets/colorspace-srgb.png
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add breaking-changes entry and update getBitmap docs
  docs/api/native-image.md
  docs/breaking-changes.md
Due: run-docs-only

test: print tests on macOS/Windows
  spec/api-web-contents-spec.ts
  spec/fixtures/native-addon/print-handler/.gitignore
  spec/fixtures/native-addon/print-handler/binding.gyp
  spec/fixtures/native-addon/print-handler/index.js
  spec/fixtures/native-addon/print-handler/package.json
  spec/fixtures/native-addon/print-handler/src/main.cc
  spec/fixtures/native-addon/print-handler/src/print_handler.h
  spec/fixtures/native-addon/print-handler/src/print_handler_mac.mm
  spec/fixtures/native-addon/print-handler/src/print_handler_stub.cc
  spec/fixtures/native-addon/print-handler/src/print_handler_win.cc
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false
