Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: document deletion of `databases` directory
  docs/breaking-changes.md
Due: run-docs-only

docs: mention C++20 requirement in breaking changes document
  docs/breaking-changes.md
Due: run-docs-only

chore: fix linter issue
  docs/breaking-changes.md
Due: run-docs-only

chore: check for both python3 and python
  script/lib/get-version.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: swap Python executable search order
  script/lib/get-version.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: always use python3 in script/lib/get-version.js
  .github/workflows/pipeline-segment-electron-test.yml
  script/lib/get-version.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: default path not working on KDE Linux (#45402)
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: legacyMainResolve respecting permission model
  patches/node/fix_revert_src_lb_reducing_c_calls_of_esm_legacy_main_resolve.patch
  script/node-disabled-tests.json
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: incorrect WCO tooltip in RTL (#45405)
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove outdated Node.js serdes patch (#45401)
  patches/node/.patches
  patches/node/fix_serdes_test.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: try removing embedder exception patch
  patches/node/.patches
  patches/node/fix_capture_embedder_exceptions_before_entering_v8.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove outdated Node.js serdes patch
  patches/node/.patches
  patches/node/fix_serdes_test.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: route deprecated clipboard commands through permission checks
  BUILD.gn
  docs/api/session.md
  docs/api/structures/web-preferences.md
  patches/chromium/.patches
  patches/chromium/build_allow_electron_mojom_interfaces_to_depend_on_blink.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  shell/browser/api/electron_api_service_worker_main.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_permission_manager.cc
  shell/browser/electron_web_contents_utility_handler_impl.cc
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/browser/web_contents_permission_helper.h
  shell/browser/web_contents_preferences.cc
  shell/browser/web_contents_preferences.h
  shell/common/BUILD.gn
  shell/common/api/api.mojom
  shell/common/gin_converters/content_converter.cc
  shell/common/options_switches.h
  shell/common/web_contents_utility.mojom
  shell/renderer/api/electron_api_web_frame.cc
  shell/renderer/content_settings_observer.cc
  shell/renderer/content_settings_observer.h
  shell/renderer/electron_api_service_impl.h
  shell/renderer/electron_render_frame_observer.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: address review feedback
  docs/api/session.md
  docs/api/structures/web-preferences.md
  docs/breaking-changes.md
  shell/browser/web_contents_preferences.cc
  shell/common/options_switches.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: add missing space
  docs/api/structures/base-window-options.md
Due: run-docs-only

fix: logic
  shell/browser/api/electron_api_web_request.cc
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix use_qt
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: enable checks for child windows
  shell/renderer/content_settings_observer.cc
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: fix typo in docs why-electron.md
  docs/why-electron.md
Due: run-docs-only

build: remove outdated Node.js serdes patch (#45430)
  patches/node/.patches
  patches/node/fix_serdes_test.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: always use python3 in `script/lib/get-version.js` (#45400)
  .github/workflows/pipeline-segment-electron-test.yml
  script/lib/get-version.js
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: mention C++20 requirement in breaking changes document (#45413)
  docs/breaking-changes.md
Due: run-docs-only

docs: document deletion of `databases` directory (#45412)
  docs/breaking-changes.md
Due: run-docs-only

chore: run pwsh script within src
  .github/actions/build-electron/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use MakeFixedFlatMap() in InclusionStatusToString()
  shell/browser/api/electron_api_cookies.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add log message for EXCLUDE_ALIASING
  shell/browser/api/electron_api_cookies.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fixup uploader arch
  script/lib/config.py
Due: run-build-mac, run-build-linux, run-docs-only=false

build: add win toolchain for release builds (#45380)
  .github/actions/build-electron/action.yml
  script/lib/config.py
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fix code field
  docs/api/structures/display.md
Due: run-docs-only

fix: WCO not working with some window configurations
  shell/browser/native_window_views.cc
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: remove debugger agent timeout patch
  patches/node/.patches
  patches/node/fix_account_for_debugger_agent_race_condition.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium to 134.0.6969.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium to 134.0.6970.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump chromium to 134.0.6971.0
  DEPS
Due: run-build-mac, run-build-linux, run-docs-only=false

build: try removing embedder exception patch (#45429)
  patches/node/.patches
  patches/node/fix_capture_embedder_exceptions_before_entering_v8.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: migrate Windows release builds to GHA (#45137)
  .github/workflows/pipeline-segment-electron-build.yml
  .github/workflows/windows-publish.yml
  appveyor-bake.yml
  appveyor-woa.yml
  appveyor.yml
  script/release/bin/run-release-builds.ts
  script/release/run-release-ci-jobs.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

build: use windows builders for win-publish (#45340)
  .github/workflows/windows-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
