Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

support cache, referrerPolicy, etc
  docs/api/client-request.md
  docs/api/net.md
  lib/browser/api/net.ts
  shell/browser/api/electron_api_url_loader.cc
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

doc links
  docs/api/net.md
Due: run-docs-only

ci: don't run double builds on Windows
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

add test
  lib/browser/api/net.ts
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: add skip logic
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

hack ts defs
  docs/api/net.md
  package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: use relative links within docs
  docs/tutorial/forge-overview.md
  docs/tutorial/launch-app-from-url-in-another-app.md
  docs/tutorial/tray.md
Due: run-docs-only

fix: ensure autofill popup view is > 1x1 in size (#36121)
  shell/browser/ui/views/autofill_popup_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

net: activate Happy Eyeballs in NodeJS
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Update api-net-spec.ts
  spec/api-net-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [22-x-y] cherry-pick ca2b108a0f1f from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [20-x-y] cherry-pick ca2b108a0f1f from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-57c54ae221d6.patch
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

Added the option of show all tab when clicking on view option
  lib/browser/api/menu-item-roles.ts
  spec/api-menu-item-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: ensure correct ninja is used
  .circleci/config/base.yml
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: ensure correct ninja is used (#37069)
  .circleci/config/base.yml
  appveyor-woa.yml
  appveyor.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: take mjs spec files in Node.js smoke tests
  script/node-spec-runner.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on window.print()
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: note how to clear an aspect ratio
  docs/api/browser-window.md
Due: run-docs-only

fix: nodeIntegrationInWorker in AudioWorklets
  lib/worker/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove deprecated incrementCapturerCount() / decrementCapturerCount()
  docs/api/web-contents.md
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  spec/api-browser-view-spec.ts
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove no longer needed patch
  patches/chromium/.patches
  patches/chromium/cherry-pick-57c54ae221d6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/cherry-pick-57c54ae221d6.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simplify script/lint.js
  script/lint.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick ca2b108a0f1f from chromium (#37058)
  patches/chromium/.patches
  patches/chromium/cherry-pick-ca2b108a0f1f.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on WebWorkerObserver script execution
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  shell/renderer/web_worker_observer.h
  spec/fixtures/crash-cases/worker-multiple-destroy/index.html
  spec/fixtures/crash-cases/worker-multiple-destroy/index.js
  spec/fixtures/crash-cases/worker-multiple-destroy/worklet.js
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: update actions/stale to v6.0.1
  .github/workflows/stale.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: update modules list in docs/README.md
  docs/README.md
Due: run-docs-only

Update .github/workflows/release_dependency_versions.yml
  .github/workflows/release_dependency_versions.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on `window.print()` (#37052)
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash on `WebWorkerObserver` script execution (#37050)
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  shell/renderer/web_worker_observer.h
  spec/fixtures/crash-cases/worker-multiple-destroy/index.html
  spec/fixtures/crash-cases/worker-multiple-destroy/index.js
  spec/fixtures/crash-cases/worker-multiple-destroy/worklet.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches/chromium/unsandboxed_ppapi_processes_skip_zygote.patch
  patches/chromium/unsandboxed_ppapi_processes_skip_zygote.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches/chromium/mas_avoid_usage_of_private_macos_apis.patch
  patches/chromium/mas_avoid_usage_of_private_macos_apis.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
