Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$

chore: update patches
  patches/chromium/remove_incorrect_width_height_adjustments.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update npm/package.json
  npm/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

3510189: Harden up drag and drop support across same-process boundaries.
  patches/chromium/port_autofill_colors_to_the_color_pipeline.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: iocp integration when process is reused
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/common/node_bindings_linux.cc
  shell/common/node_bindings_linux.h
  shell/common/node_bindings_mac.cc
  shell/common/node_bindings_mac.h
  shell/common/node_bindings_win.cc
  shell/common/node_bindings_win.h
  shell/renderer/electron_renderer_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

3526815: Remove hardcoded colors from chrome/browser/ui/views/overlay/.
  patches/chromium/picture-in-picture.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: use pylint-2.7
  script/lint.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix pylint errors
  script/release/uploaders/upload.py
  script/run-clang-format.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: iocp integration when process is reused (#33207)
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/common/node_bindings_linux.cc
  shell/common/node_bindings_linux.h
  shell/common/node_bindings_mac.cc
  shell/common/node_bindings_mac.h
  shell/common/node_bindings_win.cc
  shell/common/node_bindings_win.h
  shell/renderer/electron_renderer_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 905302eb3a2b from chromium (#33236)
  patches/chromium/.patches
  patches/chromium/cherry-pick-905302eb3a2b.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add nativeTheme.inForcedColorsMode (#32956)
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  spec-main/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add nativeTheme.inForcedColorsMode
  docs/api/native-theme.md
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  spec-main/api-native-theme-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Bump v19.0.0-nightly.20220321
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.0.0-beta.5
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: iocp integration when process is reused (#33207) (#33361)
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  shell/common/node_bindings_linux.cc
  shell/common/node_bindings_linux.h
  shell/common/node_bindings_mac.cc
  shell/common/node_bindings_mac.h
  shell/common/node_bindings_win.cc
  shell/common/node_bindings_win.h
  shell/renderer/electron_renderer_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: add af and ur locale to manifests
  script/zip_manifests/dist_zip.linux.arm.manifest
  script/zip_manifests/dist_zip.linux.arm64.manifest
  script/zip_manifests/dist_zip.linux.x64.manifest
  script/zip_manifests/dist_zip.linux.x86.manifest
  script/zip_manifests/dist_zip.mac.arm64.manifest
  script/zip_manifests/dist_zip.mac.x64.manifest
  script/zip_manifests/dist_zip.mac_mas.arm64.manifest
  script/zip_manifests/dist_zip.mac_mas.x64.manifest
  script/zip_manifests/dist_zip.win.arm64.manifest
  script/zip_manifests/dist_zip.win.ia32.manifest
  script/zip_manifests/dist_zip.win.x64.manifest
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup! build: add af and ur locale to manifests
  script/zip_manifests/dist_zip.mac.arm64.manifest
  script/zip_manifests/dist_zip.mac.x64.manifest
  script/zip_manifests/dist_zip.mac_mas.arm64.manifest
  script/zip_manifests/dist_zip.mac_mas.x64.manifest
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support more color formats for `backgroundColor` (#31868)
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/native_window.cc
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/browser/web_contents_preferences.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: differentiate rgb/rgba/hsl/hsla + docs
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: support more formats in getBackgroundColor
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove redundant includes
  shell/common/color_util.cc
  shell/common/color_util.h
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support more color formats for backgroundColor
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/browser/web_contents_preferences.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: simple getBackgroundColor
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: address review cleanup comments
  shell/browser/api/electron_api_web_contents.cc
  shell/common/color_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix iwyu
  shell/common/color_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/browser-view.md
  docs/api/browser-view.md
Due: run-docs-only

chore: address comments
  docs/api/browser-view.md
  docs/api/browser-window.md
Due: run-docs-only

fix: typescript arg
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove unused queue include
  shell/browser/native_window_views.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add note about supported versions to issue template (#33348)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: bump @electron/docs-parser version (#33346)
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: ensure ElectronBrowser mojo service is only bound to appropriate render frames (#33323) (#33350)
  filenames.gni
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/api/event.h
  shell/browser/electron_api_ipc_handler_impl.cc
  shell/browser/electron_api_ipc_handler_impl.h
  shell/browser/electron_browser_client.cc
  shell/browser/electron_browser_handler_impl.cc
  shell/browser/electron_web_contents_utility_handler_impl.cc
  shell/browser/electron_web_contents_utility_handler_impl.h
  shell/browser/web_contents_preferences.h
  shell/common/api/api.mojom
  shell/common/gin_helper/event_emitter.cc
  shell/common/gin_helper/event_emitter.h
  shell/renderer/api/electron_api_ipc_renderer.cc
  shell/renderer/api/electron_api_web_frame.cc
  shell/renderer/electron_render_frame_observer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update quick-start.md
  docs/tutorial/quick-start.md
Due: run-docs-only

fix: use stricter options in SecStaticCodeCheckValidity
  patches/squirrel.mac/.patches
  patches/squirrel.mac/fix_use_kseccschecknestedcode_kseccsstrictvalidate_in_the_sec.patch
  spec-main/api-autoupdater-darwin-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: disable SIGUSR1 when --inspect is disabled
  patches/node/.patches
  patches/node/feat_add_knostartdebugsignalhandler_to_environment_to_prevent.patch
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false
