Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

ci: remove from issue triage on issue transferred (#44631)
  .github/workflows/issue-transferred.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: WCO buttons hidden on Linux in fullscreen
  shell/browser/ui/views/opaque_frame_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add reasons documentation, reason variable renamed to reasons
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window.h
  shell/browser/native_window_observer.h
  shell/browser/native_window_views_win.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: improve 'shutdown' reason wording
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

fix: add theme data source for devtools. (#44114)
  chromium_src/BUILD.gn
  filenames.gni
  shell/browser/ui/devtools_ui.cc
  shell/browser/ui/devtools_ui.h
  shell/browser/ui/devtools_ui_bundle_data_source.cc
  shell/browser/ui/devtools_ui_bundle_data_source.h
  shell/browser/ui/devtools_ui_theme_data_source.cc
  shell/browser/ui/devtools_ui_theme_data_source.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: add theme data source for devtools.
  chromium_src/BUILD.gn
  filenames.gni
  shell/browser/ui/devtools_ui.cc
  shell/browser/ui/devtools_ui.h
  shell/browser/ui/devtools_ui_bundle_data_source.cc
  shell/browser/ui/devtools_ui_bundle_data_source.h
  shell/browser/ui/devtools_ui_theme_data_source.cc
  shell/browser/ui/devtools_ui_theme_data_source.h
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: WCO buttons hidden on Linux in fullscreen (#44621)
  shell/browser/ui/views/opaque_frame_view.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: allow setting release environment via workflow_dispatch
  .github/workflows/build.yml
  .github/workflows/linux-publish.yml
  .github/workflows/macos-publish.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [32-x-y] cherry-pick 1 changes from 3-M130
  patches/chromium/.patches
  patches/chromium/cherry-pick-e699ac35ac6c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [31-x-y] cherry-pick 1 changes from 3-M130
  patches/chromium/.patches
  patches/chromium/cherry-pick-e699ac35ac6c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

cleanup tests
  spec/api-protocol-spec.ts
  spec/api-service-workers-spec.ts
  spec/api-web-request-spec.ts
  spec/chromium-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [33-x-y] cherry-pick 1 changes from 0-M131
  patches/chromium/.patches
  patches/chromium/cherry-pick-923797bac925.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "try to narrow down hanging spec"
  .github/workflows/pipeline-segment-electron-test.yml
  spec/index.js
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

cleanup test debugging
  .github/workflows/pipeline-segment-electron-test.yml
  script/screenCapture.bat
  spec/index.js
  spec/lib/screen-helpers.ts
  spec/lib/spec-helpers.ts
  spec/woa-screencap-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add support for configuring xdg portal version at runtime
  docs/api/command-line-switches.md
  docs/api/dialog.md
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  shell/browser/ui/file_dialog_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

doc: update command-line-switches.md
  docs/api/command-line-switches.md
Due: run-docs-only

doc: update more occurrances
  docs/api/dialog.md
Due: run-docs-only

doc: required portal version for defaultPath support
  docs/api/dialog.md
Due: run-docs-only

fix: remove warning from save dialogs
  docs/api/dialog.md
  shell/browser/ui/file_dialog_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: [32-x-y] cherry-pick 1 changes from 0-M131
  patches/chromium/.patches
  patches/chromium/cherry-pick-923797bac925.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [31-x-y] cherry-pick 1 changes from 0-M131
  patches/chromium/.patches
  patches/chromium/cherry-pick-923797bac925.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: SyntaxWarning: invalid escape sequence '\w'
  build/generate_node_defines.py
  script/generate-config-gypi.py
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: remove some unused imports
  script/generate-config-gypi.py
  script/zip-symbols.py
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: E711 warning 'Comparison to should be '
  script/generate-config-gypi.py
Due: run-build-mac, run-build-linux, run-docs-only=false

5966419: [freezing] Expose frozen state to extensions (3/3 - add frozen to chrome.tabs.Tab).
  shell/common/extensions/api/tabs.json
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 1 changes from 0-M131 (#44647)
  patches/chromium/.patches
  patches/chromium/cherry-pick-923797bac925.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 1 changes from 3-M130 (#44646)
  patches/chromium/.patches
  patches/chromium/cherry-pick-e699ac35ac6c.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fixup extensions spec
  spec/extensions-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

cleanup unneeded items
  .github/workflows/pipeline-segment-electron-test.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: reword with 'can be'
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

fix: pass reasons by reference
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/browser/native_window.cc
  shell/browser/native_window_observer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: use newer approach which expose reasons value directly on Event object
  docs/api/base-window.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

run wtf with 2 shards instead of 6
  spec/index.js
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add escaping
  docs/api/base-window.md
  docs/api/browser-window.md
Due: run-docs-only

style: linter fixes
  shell/browser/api/electron_api_base_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add some unit tests for ipcRenderer/ipcMain listener behavior
  spec/api-ipc-main-spec.ts
  spec/api-ipc-renderer-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 1 changes from 0-M131 (#44649)
  patches/chromium/.patches
  patches/chromium/cherry-pick-923797bac925.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
