Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$

chore: cherry-pick 31376b855469 from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-31376b855469.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fix anchors for broken relative links
  docs/api/browser-window.md
  docs/api/environment-variables.md
Due: run-docs-only

fix: undisable AXTextMarker and related APIs on MAS (#32543)
  patches/chromium/mas_no_private_api.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: undisable AXTextMarker and related APIs on MAS
  patches/chromium/mas_no_private_api.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: call autoninja without ninjalog_uploader_wrapper.py
  .circleci/build_config.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: call autoninja without ninjalog_uploader_wrapper.py (#32569)
  .circleci/build_config.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: call autoninja without ninjalog_uploader_wrapper.py
  .circleci/config.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

re-add nil check to skProductToStruct
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

extract value maybe
  shell/browser/api/electron_api_in_app_purchase.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

do mapping in objective c
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_product.h
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

typo
  shell/browser/api/electron_api_in_app_purchase.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

format
  shell/browser/mac/in_app_purchase_observer.mm
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

missing member type in truct
  shell/browser/mac/in_app_purchase_observer.h
Due: run-build-mac, run-build-linux, run-docs-only=false

remove unnecessary nil check
  shell/browser/mac/in_app_purchase_observer.mm
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

convert to string rather enum int
  docs/api/structures/product-discount.md
  docs/api/structures/product-subscription-period.md
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_product.h
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

maybe type guard
  shell/browser/api/electron_api_in_app_purchase.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

make empty object optional
  docs/api/structures/product.md
  docs/api/structures/transaction.md
  shell/browser/mac/in_app_purchase_observer.h
  shell/browser/mac/in_app_purchase_product.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

need help to get the UUID value for nonce
  docs/api/structures/payment-discount.md
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_observer.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

add nil check to avoid crash
  shell/browser/mac/in_app_purchase_observer.mm
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Added missing info to IAP transaction and product structures
  docs/api/structures/payment-discount.md
  docs/api/structures/product-discount.md
  docs/api/structures/product-subscription-period.md
  docs/api/structures/product.md
  docs/api/structures/transaction.md
  filenames.auto.gni
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_observer.h
  shell/browser/mac/in_app_purchase_observer.mm
  shell/browser/mac/in_app_purchase_product.h
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

format
  shell/browser/mac/in_app_purchase_product.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

convert to UTF8String
  shell/browser/mac/in_app_purchase_observer.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

getting UUID
  docs/api/structures/payment-discount.md
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_observer.mm
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

import third_party/abseil-cpp/absl/types/optional.h
  shell/browser/mac/in_app_purchase_observer.h
  shell/browser/mac/in_app_purchase_product.h
Due: run-build-mac, run-build-linux, run-docs-only=false

expose as empty string if unset
  docs/api/structures/product-discount.md
  docs/api/structures/product.md
  docs/api/structures/transaction.md
  shell/browser/api/electron_api_in_app_purchase.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

make ProductDiscount.subscriptionPeriod optional
  docs/api/structures/product-discount.md
  shell/browser/api/electron_api_in_app_purchase.cc
  shell/browser/mac/in_app_purchase_product.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

typo in docs
  docs/api/structures/product-subscription-period.md
Due: run-docs-only

Revert "Bump v17.0.0-beta.6"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Revert "Bump v18.0.0-nightly.20220120"
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Add and use ElectronBrowserContext::GetPrefs()
  patches/chromium/fix_add_support_for_webauthn_on_macos.patch
  shell/browser/electron_browser_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.0.0-nightly.20220121
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: bundle a11y strings in resources
  electron_paks.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

3395881: [api] Deprecate Local<v8::Context> v8::Object::CreationContext()
  shell/common/gin_helper/callback.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: bundle a11y strings in resources (#32564)
  electron_paks.gni
Due: run-build-mac, run-build-linux, run-docs-only=false
