Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

fix: allow maximizing when window enters tablet mode with WCO (#35617)
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: Backport CL 3753528 for WCO
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update shell/browser/ui/views/win_caption_button_container.cc
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Update comment
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: webFrameMain.origin (#35438)
  docs/api/web-frame-main.md
  shell/browser/api/electron_api_web_frame_main.cc
  shell/browser/api/electron_api_web_frame_main.h
  spec-main/api-web-frame-main-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: Markdown linting and typo (#35568)
  docs/experimental.md
  docs/tutorial/accessibility.md
  docs/tutorial/automated-testing.md
  docs/tutorial/snapcraft.md
Due: run-docs-only

docs: add IPC validation guideline link in checklist (#35573)
  docs/tutorial/security.md
Due: run-docs-only

docs: add back docs about asar archives (#35563)
  docs/README.md
  docs/tutorial/asar-archives.md
Due: run-docs-only

docs: add back docs about asar archives
  docs/README.md
  docs/tutorial/asar-archives.md
Due: run-docs-only

build: make check-symlinks.js aware of BRANDING.json changes (#35579)
  script/check-symlinks.js
Due: run-build-mac, run-build-linux, run-docs-only=false

build: make check-symlinks.js aware of BRANDING.json changes
  script/check-symlinks.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 88f6139ead from sqlite (#35560)
  patches/sqlite/.patches
  patches/sqlite/utf-8_q_when_20applying_20the_20omit-order-by_20optimization.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 9b5207569882 from chromium (#35545)
  patches/chromium/.patches
  patches/chromium/cherry-pick-9b5207569882.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v22.0.0-nightly.20220914
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v20.1.4
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v18.3.13
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.0.17
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

PR comments
  build/fuses/fuses.json5
  docs/tutorial/fuses.md
  patches/chromium/allow_using_a_custom_v8_snapshot_file_name.patch
  shell/app/electron_main_delegate.cc
  shell/app/electron_main_delegate.h
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: allow maximizing when window enters tablet mode with WCO
  shell/browser/ui/views/win_caption_button_container.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

drop beforeunload
  shell/browser/api/electron_api_browser_window.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix case in breaking-changes docs
  docs/breaking-changes.md
Due: run-docs-only

better links in deprecation docs
  docs/api/browser-window.md
  docs/breaking-changes.md
Due: run-docs-only

update deprecation schedule for 22/23
  docs/api/browser-window.md
  docs/breaking-changes.md
Due: run-docs-only

emit scroll-touch-edge on begin/end
  lib/browser/api/browser-window.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

convert keyDown<->rawKeyDown in sendInputEvent/before-input-event for back compat
  shell/browser/api/electron_api_web_contents.cc
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use views NonClientHitTest for draggable regions on mac
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/api/electron_api_browser_window_mac.mm
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.h
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/remove_explicit_calls_to_layout.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

remove some unneeded functions
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/api/electron_api_browser_window.h
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

add backport of 9bb5f0316
  patches/chromium/.patches
  patches/chromium/remove_explicit_calls_to_layout.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

iwyu
  shell/browser/native_window_mac.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

remove test for triggering when BW is focused
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/.patches
  patches/chromium/remove_explicit_calls_to_layout.patch
Due: run-build-mac, run-build-linux, run-docs-only=false
