Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: add tests for electron fuses (#42148)
  shell/common/asar/archive.cc
  spec/api-autoupdater-darwin-spec.ts
  spec/asar-integrity-spec.ts
  spec/fixtures/apps/hello/hello.js
  spec/lib/codesign-helpers.ts
  spec/lib/fs-helpers.ts
  spec/node-spec.ts
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches after focus ring was merged
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches after #42126 was merged (#42153)
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches after #42126 was merged (#42156)
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: webContents.navigationHistory should be enumerable
  lib/browser/api/web-contents.ts
  spec/api-web-contents-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fix lint command (#42028)
  docs/development/coding-style.md
Due: run-docs-only

chore: update @electron/lint-roller to 2.1.0 (#42078)
  .lint-roller.json
  .markdownlint.json
  docs/api/context-bridge.md
  docs/tutorial/offscreen-rendering.md
  docs/tutorial/progress-bar.md
  package.json
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

perf: avoid protocol registry redundant lookup (#41991)
  shell/browser/api/electron_api_protocol.cc
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/browser/ui/inspectable_web_contents.cc
  shell/common/api/electron_api_url_loader.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use `//ui/shell_dialogs` on Linux (#42045)
  BUILD.gn
  filenames.gni
  patches/chromium/.patches
  patches/chromium/feat_add_support_for_missing_dialog_features_to_shell_dialogs.patch
  patches/chromium/make_gtk_getlibgtk_public.patch
  shell/browser/electron_browser_main_parts.cc
  shell/browser/ui/file_dialog_gtk.cc
  shell/browser/ui/file_dialog_linux.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: keep GitHub Actions up to date with GitHub's Dependabot (#42042)
  .github/dependabot.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: make corrections for BrowserViews since it is deprecated (#42030)
  docs/tutorial/web-embeds.md
Due: run-docs-only

docs: update formatting for mdx3 compatibility (#42052)
  docs/api/base-window.md
  docs/api/browser-window.md
  docs/api/net.md
  docs/api/session.md
  docs/development/debugging-with-symbol-server.md
  docs/tutorial/esm.md
  docs/tutorial/tutorial-1-prerequisites.md
  docs/tutorial/tutorial-2-first-app.md
Due: run-docs-only

fix: View reordering on re-addition to same parent (#42085)
  docs/api/view.md
  shell/browser/api/electron_api_view.cc
  shell/browser/api/electron_api_view.h
  spec/api-view-spec.ts
  spec/api-web-contents-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: avoid crash after upgrade on Linux (#41046)
  shell/browser/electron_browser_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `BrowserWindow.center()` should center relative to screen (#42048)
  shell/browser/native_window_views.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: CHECK when adding view as its own child (#42067)
  shell/browser/api/electron_api_view.cc
  spec/api-view-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: exit app instance when main package throws error on load
  default_app/main.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: ensure originalFs.promises.cp works (#42132)
  patches/node/build_add_gn_build_files.patch
  patches/node/build_only_create_cppgc_heap_on_non-32_bit_platforms.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: BrowserView autoresizing conversion error (#42056)
  lib/browser/api/browser-view.ts
  shell/common/gin_converters/gfx_converter.cc
  spec/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: auto label bug issues with version label (#42044)
  .github/workflows/issue-opened.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: partially revert invalidate focus ring (#42126)
  patches/chromium/.patches
  patches/chromium/fix_partially_revert_invalidate_focusring.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use base::Value::Take*() (#41169)
  shell/browser/extensions/electron_extension_system.cc
  shell/common/asar/archive.cc
  shell/common/gin_converters/net_converter.cc
  shell/common/gin_converters/value_converter.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: fixing typo in dark mode fiddle and doc (#42112)
  docs/fiddles/features/dark-mode/index.html
  docs/tutorial/dark-mode.md
Due: run-docs-only

docs: improve protocol.handle file examples (#42111)
  docs/api/protocol.md
Due: run-docs-only

chore: cherry-pick f320600cd1f4 from v8 (#42120)
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add tests for electron fuses (#42129)
  shell/common/asar/archive.cc
  spec/api-autoupdater-darwin-spec.ts
  spec/asar-integrity-spec.ts
  spec/fixtures/apps/hello/hello.js
  spec/lib/codesign-helpers.ts
  spec/lib/fs-helpers.ts
  spec/node-spec.ts
  spec/package.json
  spec/yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/v8/.patches
  patches/v8/cherry-pick-f320600cd1f4.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/breaking-changes.md
  docs/breaking-changes.md
Due: run-docs-only

chore: update docker container version to fix broken testing
  .circleci/config/base.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick b3c01ac1e60a from v8
  patches/v8/.patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/v8/cherry-pick-b3c01ac1e60a.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
