Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

.circleci/config.yml:

version: 2.1

# Required for dynamic configuration
setup: true

# Orbs
orbs:
  path-filtering: circleci/path-filtering@0.1.0
  continuation: circleci/continuation@0.2.0

# All input parameters to pass to build config
parameters:
  run-docs-only:
    type: boolean
    default: false
  
  upload-to-s3:
    type: string
    default: '1'

  run-build-linux:
    type: boolean
    default: false

  run-build-mac:
    type: boolean
    default: false

  run-linux-publish:
    type: boolean
    default: false

  linux-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "arm", "arm64", "x64", "ia32"]

  run-macos-publish:
    type: boolean
    default: false

  macos-publish-arch-limit:
    type: enum
    default: all
    enum: ["all", "osx-x64", "osx-arm64", "mas-x64", "mas-arm64"]

jobs:
  generate-config:
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - path-filtering/set-parameters:
          base-revision: main
          mapping: |
            ^((?!docs/).)*$ run-build-mac true
            ^((?!docs/).)*$ run-build-linux true
            docs/.* run-docs-only true
            ^((?!docs/).)*$ run-docs-only false
      - run:
          command: |
            cd .circleci/config
            yarn
            export CIRCLECI_BINARY="$HOME/circleci"
            curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | DESTDIR=$CIRCLECI_BINARY bash
            node build.js
          name: Pack config.yml
      - continuation/continue:
          configuration_path: .circleci/config-staging/built.yml
          parameters: /tmp/pipeline-parameters.json

# Initial setup workflow
workflows:
  setup:
    jobs:
      - generate-config

build: bump NMV to 133 (#45145)
  build/args/all.gn
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: `session.clearData` `avoidClosingConnections` default to false (#45187)
  shell/browser/api/electron_api_session.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove quickstart (#45194)
  docs/README.md
  docs/tutorial/keyboard-shortcuts.md
  docs/tutorial/process-model.md
  docs/tutorial/quick-start.md
  docs/tutorial/windows-arm.md
  docs/tutorial/windows-taskbar.md
Due: run-docs-only

Apply suggestions from code review
  docs/why-electron.md
Due: run-docs-only

Update docs/why-electron.md
  docs/why-electron.md
Due: run-docs-only

docs: Why Electron? (#45191)
  docs/why-electron.md
Due: run-docs-only

refactor: remove InspectableWebContentsViewMac in favor of the Views version
  filenames.gni
  patches/chromium/.patches
  patches/chromium/fix_add_method_which_disables_headless_mode_on_native_widget.patch
  patches/chromium/fix_put_nsvisualeffectview_before_viewscompositorsuperview.patch
  shell/browser/api/electron_api_web_contents_view.cc
  shell/browser/native_window_mac.h
  shell/browser/native_window_mac.mm
  shell/browser/native_window_views.cc
  shell/browser/ui/cocoa/delayed_native_view_host.h
  shell/browser/ui/cocoa/delayed_native_view_host.mm
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.h
  shell/browser/ui/cocoa/electron_inspectable_web_contents_view.mm
  shell/browser/ui/cocoa/electron_ns_window.h
  shell/browser/ui/cocoa/electron_ns_window.mm
  shell/browser/ui/cocoa/electron_ns_window_delegate.mm
  shell/browser/ui/inspectable_web_contents.cc
  shell/browser/ui/inspectable_web_contents_view.cc
  shell/browser/ui/inspectable_web_contents_view.h
  shell/browser/ui/inspectable_web_contents_view_mac.h
  shell/browser/ui/inspectable_web_contents_view_mac.mm
  shell/browser/ui/views/frameless_view.cc
  shell/browser/ui/views/inspectable_web_contents_view_views.cc
  shell/browser/ui/views/inspectable_web_contents_view_views.h
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: directly cleanup shell
  shell/browser/native_window_mac.mm
  shell/browser/ui/cocoa/electron_ns_window.h
  shell/browser/ui/cocoa/electron_ns_window.mm
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: page scaling in silent mode printing
  patches/chromium/printing.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: broken OOP printing on macOS/Linux
  shell/utility/electron_content_utility_client.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: backport patch to fix systemd unit activation in Chromium
  patches/chromium/.patches
  patches/chromium/check_for_unit_to_activate_before_notifying_about_success.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: Support global shortcuts via GlobalShortcutsPortal feature
  shell/browser/api/electron_api_global_shortcut.cc
  shell/browser/api/electron_api_global_shortcut.h
  shell/browser/electron_browser_context.cc
  shell/common/electron_constants.h
Due: run-build-mac, run-build-linux, run-docs-only=false

Update node_bindings.cc
  shell/common/node_bindings.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [33-x-y] cherry-pick 2 changes from 0-M132
  patches/chromium/.patches
  patches/chromium/cherry-pick-35f86d6a0a03.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/ganesh_avoid_overflow_when_combining_aahairlineops.patch
  patches/v8/.patches
  patches/v8/cherry-pick-3c2d220ad025.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: [32-x-y] cherry-pick 2 changes from 0-M132
  patches/chromium/.patches
  patches/chromium/cherry-pick-3a6ff45cc3f4.patch
  patches/chromium/cherry-pick-a51e7ebb7663.patch
  patches/chromium/cherry-pick-f3300abe2fcd.patch
  patches/chromium/remove_persistentmemoryallocator_getallocsize.patch
  patches/skia/.patches
  patches/skia/ganesh_avoid_overflow_when_combining_aahairlineops.patch
  patches/v8/.patches
  patches/v8/cherry-pick-aad648bd2af9.patch
  patches/v8/merged_interpreter_fix_hole_elision_scope_for_switch_jump_tables.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove isDefined methods
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
  spec/api-web-request-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: remove comment
  shell/browser/api/electron_api_web_request.cc
  shell/browser/api/electron_api_web_request.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: Why Electron? (#45191) (#45222)
  docs/why-electron.md
Due: run-docs-only

feat: contextBridge.executeInMainWorld
  docs/api/context-bridge.md
  lib/renderer/api/context-bridge.ts
  shell/renderer/api/electron_api_context_bridge.cc
  shell/renderer/api/electron_api_context_bridge.h
  shell/renderer/api/electron_api_web_frame.cc
  shell/renderer/renderer_client_base.cc
  spec/api-context-bridge-spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: redesign preload APIs
  docs/api/session.md
  docs/api/structures/preload-script-registration.md
  docs/api/structures/preload-script.md
  docs/breaking-changes.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/session.ts
  lib/browser/rpc-server.ts
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/api/electron_api_web_contents.cc
  shell/browser/api/electron_api_web_contents.h
  shell/browser/preload_script.h
  shell/browser/session_preferences.cc
  shell/browser/session_preferences.h
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove service-worker mentions for now
  docs/api/session.md
  docs/api/structures/preload-script-registration.md
  docs/api/structures/preload-script.md
  docs/breaking-changes.md
Due: run-docs-only

fix lint
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

remove service-worker ipc code
  lib/browser/rpc-server.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

add filename
  filenames.auto.gni
Due: run-build-mac, run-build-linux, run-docs-only=false

5786874: Change Observer: Fix crash when navigating to new page
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 3 changes from 0-M132 (#45220)
  patches/chromium/.patches
  patches/chromium/cherry-pick-3a6ff45cc3f4.patch
  patches/chromium/cherry-pick-a51e7ebb7663.patch
  patches/chromium/cherry-pick-f3300abe2fcd.patch
  patches/chromium/remove_persistentmemoryallocator_getallocsize.patch
  patches/skia/.patches
  patches/skia/ganesh_avoid_overflow_when_combining_aahairlineops.patch
  patches/v8/.patches
  patches/v8/cherry-pick-aad648bd2af9.patch
  patches/v8/merged_interpreter_fix_hole_elision_scope_for_switch_jump_tables.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 3 changes from 0-M132 (#45219)
  patches/chromium/.patches
  patches/chromium/cherry-pick-35f86d6a0a03.patch
  patches/config.json
  patches/skia/.patches
  patches/skia/ganesh_avoid_overflow_when_combining_aahairlineops.patch
  patches/v8/.patches
  patches/v8/cherry-pick-3c2d220ad025.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: Why Electron? (#45211)
  docs/why-electron.md
Due: run-docs-only

fix: web preferences preload not included
  docs/api/session.md
  filenames.auto.gni
  lib/browser/rpc-server.ts
  lib/sandboxed_renderer/init.ts
  lib/sandboxed_renderer/pre-init.ts
  lib/sandboxed_renderer/preload.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: missing common init
  lib/sandboxed_renderer/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: preload bundle script error
  filenames.auto.gni
  lib/sandboxed_renderer/init.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: add GlobalShortcutsPortal feature to globalShortcuts docs
  docs/api/global-shortcut.md
Due: run-docs-only

fix: drag-dropping two directories
  shell/browser/file_system_access/file_system_access_permission_context.cc
  shell/browser/file_system_access/file_system_access_permission_context.h
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: remove quickstart (#45227)
  docs/README.md
  docs/tutorial/keyboard-shortcuts.md
  docs/tutorial/process-model.md
  docs/tutorial/quick-start.md
  docs/tutorial/windows-arm.md
  docs/tutorial/windows-taskbar.md
Due: run-docs-only

5794141: Change Observer: Fix Get*PermissionGrant crash
  shell/browser/file_system_access/file_system_access_permission_context.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

build: fix clang-format duplicate message
  script/run-clang-format.py
Due: run-build-mac, run-build-linux, run-docs-only=false
