Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: remove "marked" from process.getBlinkMemoryInfo()
  docs/api/process.md
Due: run-docs-only

chore: cherry-pick eb967bf211 from chromium (#33243)
  patches/chromium/.patches
  patches/chromium/fix_imagebitmaprenderingcontext_interaction_with_software_compositor.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick eb967bf211 from chromium (#33242)
  patches/chromium/.patches
  patches/chromium/fix_imagebitmaprenderingcontext_interaction_with_software_compositor.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

Bump v19.0.0-nightly.20220316
  ELECTRON_VERSION
  package.json
  shell/browser/resources/win/electron.rc
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: webFrame.insertCSS should mention options arg (#33274)
  docs/api/web-frame.md
Due: run-docs-only

fix: fiddle ipc code pattern 3 (#33262)
  docs/fiddles/ipc/pattern-3/renderer.js
  docs/tutorial/ipc.md
Due: run-docs-only

docs: webFrame.insertCSS should mention options arg
  docs/api/web-frame.md
Due: run-docs-only

fix: prevent UAF crash in setCertificateVerifyProc (#33254)
  patches/chromium/expose_setuseragent_on_networkcontext.patch
  patches/chromium/network_service_allow_remote_certificate_verification_logic.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: fiddle ipc code pattern 3
  docs/fiddles/ipc/pattern-3/renderer.js
  docs/tutorial/ipc.md
Due: run-docs-only

chore: update patches
  patches/chromium/remove_incorrect_width_height_adjustments.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 2ed58f4 from chromium (#33109)
  patches/chromium/.patches
  patches/chromium/remove_incorrect_width_height_adjustments.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: drop pywin32 usage (#26186)
  build/profile_toolchain.py
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support more color formats for backgroundColor
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_browser_view.cc
  shell/browser/api/electron_api_browser_window.cc
  shell/browser/native_window.cc
  shell/browser/ui/cocoa/electron_touch_bar.mm
  shell/browser/web_contents_preferences.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: remove redundant includes
  shell/common/color_util.cc
  shell/common/color_util.h
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fix iwyu
  shell/common/color_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: differentiate rgb/rgba/hsl/hsla + docs
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: address review cleanup comments
  shell/browser/api/electron_api_web_contents.cc
  shell/common/color_util.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: simple getBackgroundColor
  docs/api/browser-view.md
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: support more formats in getBackgroundColor
  docs/api/browser-window.md
  shell/browser/api/electron_api_base_window.cc
  shell/browser/api/electron_api_base_window.h
  shell/common/color_util.cc
  shell/common/color_util.h
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

fix: typescript arg
  spec-main/api-browser-window-spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: ensure external memory adjustments are balanced (#33266)
  shell/common/api/electron_api_native_image.cc
  shell/common/api/electron_api_native_image.h
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when destroying node env with pending promises (#33280)
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
  spec-main/fixtures/crash-cases/fs-promises-renderer-crash/index.html
  spec-main/fixtures/crash-cases/fs-promises-renderer-crash/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

Update docs/api/browser-view.md
  docs/api/browser-view.md
Due: run-docs-only

chore: ignore extra output on AppVeyor
  build/profile_toolchain.py
Due: run-build-mac, run-build-linux, run-docs-only=false

build: drop pywin32 usage
  build/profile_toolchain.py
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: add spec
  spec-main/fixtures/crash-cases/fs-promises-renderer-crash/index.html
  spec-main/fixtures/crash-cases/fs-promises-renderer-crash/index.js
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: crash when destroying node env with pending promises
  shell/renderer/electron_renderer_client.cc
  shell/renderer/web_worker_observer.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
