Repository electron/electron: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: drop the active-handle-count wake again
  shell/common/api/electron_api_testing.cc
  shell/common/node_bindings.cc
  shell/common/node_bindings.h
  spec/fixtures/apps/uv-wake/ops.js
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patches
  patches/chromium/fix_find-in-page_frame_traversal_across_inner_webcontents.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document how to deny a display media request
  docs/api/desktop-capturer.md
  docs/api/session.md
Due: run-docs-only

test: make the webview printToPDF() bad parameter spec reach the type checks
  spec/webview.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: document denying a display media request and fix a webview spec (#54587)
  docs/api/desktop-capturer.md
  docs/api/session.md
  spec/webview.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

docs: fix "throught" typo in shared texture README
  shell/common/api/shared_texture/README.md
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: add protocol.registerSource() (#54521)
  docs/api/protocol.md
  docs/api/structures/protocol-route.md
  docs/api/structures/protocol-source.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/net/asar/asar_url_loader.cc
  shell/browser/net/asar/asar_url_loader.h
  shell/browser/net/protocol_source.cc
  shell/browser/net/protocol_source.h
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/common/api/electron_api_url_loader.cc
  spec/api-protocol.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: add protocol.registerSource() (#54522)
  docs/api/protocol.md
  docs/api/structures/protocol-route.md
  docs/api/structures/protocol-source.md
  filenames.auto.gni
  filenames.gni
  lib/browser/api/protocol.ts
  shell/browser/api/electron_api_protocol.cc
  shell/browser/api/electron_api_protocol.h
  shell/browser/net/asar/asar_url_loader.cc
  shell/browser/net/asar/asar_url_loader.h
  shell/browser/net/protocol_source.cc
  shell/browser/net/protocol_source.h
  shell/browser/protocol_registry.cc
  shell/browser/protocol_registry.h
  shell/common/api/electron_api_url_loader.cc
  spec/api-protocol.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

test: listen for both singleton exits before either can happen
  spec/api-app.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

test: use waitUntil for the singleton launch waits
  spec/api-app.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: cap IPC serialization buffer growth safely
  shell/common/api/electron_api_v8_util.cc
  shell/common/v8_util.cc
  shell/common/v8_util.h
  spec/api-ipc.spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

fix: address IPC serialization review feedback
  shell/common/BUILD.gn
  shell/common/api/electron_api_v8_util.cc
  shell/common/serialized_value.h
  shell/common/serialized_value_mojom_traits.cc
  shell/common/v8_util.cc
  shell/common/v8_util.h
  spec/api-ipc.spec.ts
  typings/internal-ambient.d.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

refactor: use upstream's color scheme override for nativeTheme.themeSource
  patches/chromium/.patches
  patches/chromium/feat_add_set_theme_source_to_allow_apps_to.patch
  shell/browser/api/electron_api_native_theme.cc
  shell/browser/api/electron_api_native_theme.h
  shell/browser/api/electron_api_native_theme_mac.mm
  spec/api-native-theme.spec.ts
  spec/fixtures/api/force-dark-mode/main.js
  spec/fixtures/api/force-dark-mode/package.json
Due: run-build-mac, run-build-linux, run-docs-only=false

ci: drop esbuild pool patch, keep macOS memory diagnostics only
  patches/devtools_frontend/.patches
  patches/devtools_frontend/build_bound_esbuild_bundle_concurrency_with_a_dedicated_gn_pool.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: cherry-pick 69403d85b78b from chromium
  patches/chromium/.patches
  patches/chromium/cherry-pick-69403d85b78b.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

feat: support heap profiling in contentTracing
  BUILD.gn
  docs/api/content-tracing.md
  docs/api/structures/heap-profiler-options.md
  docs/api/structures/trace-categories-and-options.md
  docs/api/structures/trace-config.md
  docs/breaking-changes.md
  filenames.auto.gni
  shell/browser/api/electron_api_content_tracing.cc
  spec/api-content-tracing.spec.ts
  spec/package.json
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: rename sampling_interval_ms to dump_interval_ms for clarity
  docs/api/structures/heap-profiler-options.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_content_tracing.cc
  spec/api-content-tracing.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: apply review suggestions
  BUILD.gn
  docs/api/content-tracing.md
  patches/chromium/.patches
  patches/chromium/feat_add_protobuf_output_and_perfetto_config_modifier_to.patch
  shell/browser/api/electron_api_content_tracing.cc
  spec/api-content-tracing.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

ci: suppress by-design PoissonAllocationSampler leak under LSan
  build/lsan_suppressions.txt
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch after rebase
  patches/chromium/feat_add_protobuf_output_and_perfetto_config_modifier_to.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: move all of content tracing to Perfetto protobuf
  docs/api/content-tracing.md
  docs/api/structures/trace-categories-and-options.md
  docs/api/structures/trace-config.md
  docs/breaking-changes.md
  shell/browser/api/electron_api_content_tracing.cc
  spec/api-content-tracing.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update yarn.lock after rebase
  yarn.lock
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update to match current patch
  patches/chromium/.patches
  patches/chromium/feat_add_protobuf_output_and_perfetto_config_modifier_to.patch
  patches/chromium/feat_let_tracingcontrollerimpl_start_from_a_perfetto_config.patch
  shell/browser/api/electron_api_content_tracing.cc
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: update patch after rebase
  patches/chromium/feat_let_tracingcontrollerimpl_start_from_a_perfetto_config.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: don't use setTimeout because it can cause flakes
  spec/api-content-tracing.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

chore: fixup build failure
  patches/chromium/feat_add_protobuf_output_and_perfetto_config_modifier_to.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

build: bump build-tools to pick up siso clang-tidy subtree fix
  .github/actions/install-build-tools/action.yml
Due: run-build-mac, run-build-linux, run-docs-only=false

docs: list every useSystemPicker behavior change
  docs/api/session.md
  docs/breaking-changes.md
Due: run-docs-only

fix: honor systemAudio and windowAudio for useSystemPicker audio
  docs/api/session.md
  shell/browser/electron_browser_context.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

feat: grant system audio from useSystemPicker when the page asks for it
  docs/api/session.md
  shell/browser/electron_browser_context.cc
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

refactor: drive useSystemPicker via upstream native picker
  docs/api/session.md
  docs/breaking-changes.md
  lib/browser/api/session.ts
  patches/chromium/.patches
  patches/chromium/feat_allow_usage_of_sccontentsharingpicker_on_supported_platforms.patch
  patches/chromium/feat_use_the_macos_native_picker_only_for_picker-issued_capture_ids.patch
  shell/browser/api/electron_api_desktop_capturer.cc
  shell/browser/api/electron_api_desktop_capturer.h
  shell/browser/api/electron_api_desktop_capturer_mac.mm
  shell/browser/api/electron_api_session.cc
  shell/browser/api/electron_api_session.h
  shell/browser/electron_browser_context.cc
  shell/browser/electron_browser_context.h
  shell/browser/web_contents_permission_helper.cc
  spec/api-media-handler.spec.ts
  typings/internal-electron.d.ts
Due: run-build-mac, run-build-linux, run-docs-only, run-docs-only=false

chore: update patches
  patches/chromium/add_didinstallconditionalfeatures.patch
  patches/chromium/allow_authenticator_responses_to_override_client_data_json.patch
  patches/chromium/can_create_window.patch
  patches/chromium/chore_expose_isolate_parameter_in_script_lifecycle_observers.patch
  patches/chromium/chore_partial_revert_of.patch
  patches/chromium/chore_provide_iswebcontentscreationoverridden_with_full_params.patch
  patches/chromium/feat_add_streaming-protocol_registry_to_multibuffer_data_source.patch
  patches/chromium/feat_carry_embedder_startup_data_in_createnewwindowreply.patch
  patches/chromium/feat_corner_smoothing_css_rule_and_blink_painting.patch
  patches/chromium/feat_enable_offscreen_rendering_with_viz_compositor.patch
  patches/chromium/feat_separate_content_settings_callback_for_sync_and_async_clipboard.patch
  patches/chromium/fix_check_for_file_existence_before_setting_mtime.patch
  patches/chromium/fix_crash_loading_non-standard_schemes_in_iframes.patch
  patches/chromium/fix_gate_webstoreprivate_on_a_delegated_availability_check.patch
  patches/chromium/fix_on-screen-keyboard_hides_on_input_blur_in_webview.patch
  patches/chromium/fix_plumb_the_requesting_frame_through_pointer_lock_requests.patch
  patches/chromium/mas_avoid_private_macos_api_usage.patch.patch
  patches/chromium/refactor_expose_cursor_changes_to_the_webcontentsobserver.patch
  patches/chromium/refactor_patch_electron_permissiontypes_into_blink.patch
  patches/chromium/refactor_unfilter_unresponsive_events.patch
  patches/chromium/resource_file_conflict.patch
  patches/chromium/revert_partial_remove_unused_prehandlemouseevent.patch
  patches/chromium/web_contents.patch
  patches/chromium/webview_fullscreen.patch
  patches/v8/build_warn_instead_of_abort_on_builtin_pgo_profile_mismatch.patch
  patches/v8/feat_key_code_caches_to_the_patch_set_and_the_embedded_blob.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

8445128: [Bedrock] Extract browser_command_controller from static_library("ui")
  patches/chromium/fix_adapt_exclusive_access_for_electron_needs.patch
Due: run-build-mac, run-build-linux, run-docs-only=false

test: add setIgnoreMouseEvents forwarding regression cases for #52633
  spec/api-browser-window-ignore-mouse-events.spec.ts
Due: run-build-mac, run-build-linux, run-docs-only=false

Path conditions:
  run-build-mac: any of: ^((?!docs/).)*$
  run-build-linux: any of: ^((?!docs/).)*$
  run-docs-only: any of: docs/.*
  run-docs-only=false: any of: ^((?!docs/).)*$
